/*!
 * Font Awesome Pro 5.12.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 */
@font-face {
  font-family: 'Font Awesome 5 Duotone';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("/webfonts/fa-duotone-900.eot");
  src: url("/webfonts/fa-duotone-900.eot?#iefix") format("embedded-opentype"), url("/webfonts/fa-duotone-900.woff2") format("woff2"), url("/webfonts/fa-duotone-900.woff") format("woff"), url("/webfonts/fa-duotone-900.ttf") format("truetype"), url("/webfonts/fa-duotone-900.svg#fontawesome") format("svg");
}

.fad {
  position: relative;
  font-family: 'Font Awesome 5 Duotone';
  font-weight: 900;
}

.fad:before {
  position: absolute;
  color: var(--fa-primary-color, inherit);
  opacity: 1;
  opacity: var(--fa-primary-opacity, 1);
}

.fad:after {
  color: var(--fa-secondary-color, inherit);
  opacity: 0.4;
  opacity: var(--fa-secondary-opacity, 0.4);
}

.fa-swap-opacity .fad:before,
.fad.fa-swap-opacity:before {
  opacity: 0.4;
  opacity: var(--fa-secondary-opacity, 0.4);
}

.fa-swap-opacity .fad:after,
.fad.fa-swap-opacity:after {
  opacity: 1;
  opacity: var(--fa-primary-opacity, 1);
}

.fad.fa-inverse {
  color: #fff;
}

.fad.fa-stack-1x, .fad.fa-stack-2x {
  position: absolute;
}

.fad.fa-stack-1x:before,
.fad.fa-stack-2x:before,
.fad.fa-fw:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.fad.fa-abacus:after {
  content: "\10f640";
}

.fad.fa-acorn:after {
  content: "\10f6ae";
}

.fad.fa-ad:after {
  content: "\10f641";
}

.fad.fa-address-book:after {
  content: "\10f2b9";
}

.fad.fa-address-card:after {
  content: "\10f2bb";
}

.fad.fa-adjust:after {
  content: "\10f042";
}

.fad.fa-air-conditioner:after {
  content: "\10f8f4";
}

.fad.fa-air-freshener:after {
  content: "\10f5d0";
}

.fad.fa-alarm-clock:after {
  content: "\10f34e";
}

.fad.fa-alarm-exclamation:after {
  content: "\10f843";
}

.fad.fa-alarm-plus:after {
  content: "\10f844";
}

.fad.fa-alarm-snooze:after {
  content: "\10f845";
}

.fad.fa-album:after {
  content: "\10f89f";
}

.fad.fa-album-collection:after {
  content: "\10f8a0";
}

.fad.fa-alicorn:after {
  content: "\10f6b0";
}

.fad.fa-alien:after {
  content: "\10f8f5";
}

.fad.fa-alien-monster:after {
  content: "\10f8f6";
}

.fad.fa-align-center:after {
  content: "\10f037";
}

.fad.fa-align-justify:after {
  content: "\10f039";
}

.fad.fa-align-left:after {
  content: "\10f036";
}

.fad.fa-align-right:after {
  content: "\10f038";
}

.fad.fa-align-slash:after {
  content: "\10f846";
}

.fad.fa-allergies:after {
  content: "\10f461";
}

.fad.fa-ambulance:after {
  content: "\10f0f9";
}

.fad.fa-american-sign-language-interpreting:after {
  content: "\10f2a3";
}

.fad.fa-amp-guitar:after {
  content: "\10f8a1";
}

.fad.fa-analytics:after {
  content: "\10f643";
}

.fad.fa-anchor:after {
  content: "\10f13d";
}

.fad.fa-angel:after {
  content: "\10f779";
}

.fad.fa-angle-double-down:after {
  content: "\10f103";
}

.fad.fa-angle-double-left:after {
  content: "\10f100";
}

.fad.fa-angle-double-right:after {
  content: "\10f101";
}

.fad.fa-angle-double-up:after {
  content: "\10f102";
}

.fad.fa-angle-down:after {
  content: "\10f107";
}

.fad.fa-angle-left:after {
  content: "\10f104";
}

.fad.fa-angle-right:after {
  content: "\10f105";
}

.fad.fa-angle-up:after {
  content: "\10f106";
}

.fad.fa-angry:after {
  content: "\10f556";
}

.fad.fa-ankh:after {
  content: "\10f644";
}

.fad.fa-apple-alt:after {
  content: "\10f5d1";
}

.fad.fa-apple-crate:after {
  content: "\10f6b1";
}

.fad.fa-archive:after {
  content: "\10f187";
}

.fad.fa-archway:after {
  content: "\10f557";
}

.fad.fa-arrow-alt-circle-down:after {
  content: "\10f358";
}

.fad.fa-arrow-alt-circle-left:after {
  content: "\10f359";
}

.fad.fa-arrow-alt-circle-right:after {
  content: "\10f35a";
}

.fad.fa-arrow-alt-circle-up:after {
  content: "\10f35b";
}

.fad.fa-arrow-alt-down:after {
  content: "\10f354";
}

.fad.fa-arrow-alt-from-bottom:after {
  content: "\10f346";
}

.fad.fa-arrow-alt-from-left:after {
  content: "\10f347";
}

.fad.fa-arrow-alt-from-right:after {
  content: "\10f348";
}

.fad.fa-arrow-alt-from-top:after {
  content: "\10f349";
}

.fad.fa-arrow-alt-left:after {
  content: "\10f355";
}

.fad.fa-arrow-alt-right:after {
  content: "\10f356";
}

.fad.fa-arrow-alt-square-down:after {
  content: "\10f350";
}

.fad.fa-arrow-alt-square-left:after {
  content: "\10f351";
}

.fad.fa-arrow-alt-square-right:after {
  content: "\10f352";
}

.fad.fa-arrow-alt-square-up:after {
  content: "\10f353";
}

.fad.fa-arrow-alt-to-bottom:after {
  content: "\10f34a";
}

.fad.fa-arrow-alt-to-left:after {
  content: "\10f34b";
}

.fad.fa-arrow-alt-to-right:after {
  content: "\10f34c";
}

.fad.fa-arrow-alt-to-top:after {
  content: "\10f34d";
}

.fad.fa-arrow-alt-up:after {
  content: "\10f357";
}

.fad.fa-arrow-circle-down:after {
  content: "\10f0ab";
}

.fad.fa-arrow-circle-left:after {
  content: "\10f0a8";
}

.fad.fa-arrow-circle-right:after {
  content: "\10f0a9";
}

.fad.fa-arrow-circle-up:after {
  content: "\10f0aa";
}

.fad.fa-arrow-down:after {
  content: "\10f063";
}

.fad.fa-arrow-from-bottom:after {
  content: "\10f342";
}

.fad.fa-arrow-from-left:after {
  content: "\10f343";
}

.fad.fa-arrow-from-right:after {
  content: "\10f344";
}

.fad.fa-arrow-from-top:after {
  content: "\10f345";
}

.fad.fa-arrow-left:after {
  content: "\10f060";
}

.fad.fa-arrow-right:after {
  content: "\10f061";
}

.fad.fa-arrow-square-down:after {
  content: "\10f339";
}

.fad.fa-arrow-square-left:after {
  content: "\10f33a";
}

.fad.fa-arrow-square-right:after {
  content: "\10f33b";
}

.fad.fa-arrow-square-up:after {
  content: "\10f33c";
}

.fad.fa-arrow-to-bottom:after {
  content: "\10f33d";
}

.fad.fa-arrow-to-left:after {
  content: "\10f33e";
}

.fad.fa-arrow-to-right:after {
  content: "\10f340";
}

.fad.fa-arrow-to-top:after {
  content: "\10f341";
}

.fad.fa-arrow-up:after {
  content: "\10f062";
}

.fad.fa-arrows:after {
  content: "\10f047";
}

.fad.fa-arrows-alt:after {
  content: "\10f0b2";
}

.fad.fa-arrows-alt-h:after {
  content: "\10f337";
}

.fad.fa-arrows-alt-v:after {
  content: "\10f338";
}

.fad.fa-arrows-h:after {
  content: "\10f07e";
}

.fad.fa-arrows-v:after {
  content: "\10f07d";
}

.fad.fa-assistive-listening-systems:after {
  content: "\10f2a2";
}

.fad.fa-asterisk:after {
  content: "\10f069";
}

.fad.fa-at:after {
  content: "\10f1fa";
}

.fad.fa-atlas:after {
  content: "\10f558";
}

.fad.fa-atom:after {
  content: "\10f5d2";
}

.fad.fa-atom-alt:after {
  content: "\10f5d3";
}

.fad.fa-audio-description:after {
  content: "\10f29e";
}

.fad.fa-award:after {
  content: "\10f559";
}

.fad.fa-axe:after {
  content: "\10f6b2";
}

.fad.fa-axe-battle:after {
  content: "\10f6b3";
}

.fad.fa-baby:after {
  content: "\10f77c";
}

.fad.fa-baby-carriage:after {
  content: "\10f77d";
}

.fad.fa-backpack:after {
  content: "\10f5d4";
}

.fad.fa-backspace:after {
  content: "\10f55a";
}

.fad.fa-backward:after {
  content: "\10f04a";
}

.fad.fa-bacon:after {
  content: "\10f7e5";
}

.fad.fa-badge:after {
  content: "\10f335";
}

.fad.fa-badge-check:after {
  content: "\10f336";
}

.fad.fa-badge-dollar:after {
  content: "\10f645";
}

.fad.fa-badge-percent:after {
  content: "\10f646";
}

.fad.fa-badge-sheriff:after {
  content: "\10f8a2";
}

.fad.fa-badger-honey:after {
  content: "\10f6b4";
}

.fad.fa-bags-shopping:after {
  content: "\10f847";
}

.fad.fa-bahai:after {
  content: "\10f666";
}

.fad.fa-balance-scale:after {
  content: "\10f24e";
}

.fad.fa-balance-scale-left:after {
  content: "\10f515";
}

.fad.fa-balance-scale-right:after {
  content: "\10f516";
}

.fad.fa-ball-pile:after {
  content: "\10f77e";
}

.fad.fa-ballot:after {
  content: "\10f732";
}

.fad.fa-ballot-check:after {
  content: "\10f733";
}

.fad.fa-ban:after {
  content: "\10f05e";
}

.fad.fa-band-aid:after {
  content: "\10f462";
}

.fad.fa-banjo:after {
  content: "\10f8a3";
}

.fad.fa-barcode:after {
  content: "\10f02a";
}

.fad.fa-barcode-alt:after {
  content: "\10f463";
}

.fad.fa-barcode-read:after {
  content: "\10f464";
}

.fad.fa-barcode-scan:after {
  content: "\10f465";
}

.fad.fa-bars:after {
  content: "\10f0c9";
}

.fad.fa-baseball:after {
  content: "\10f432";
}

.fad.fa-baseball-ball:after {
  content: "\10f433";
}

.fad.fa-basketball-ball:after {
  content: "\10f434";
}

.fad.fa-basketball-hoop:after {
  content: "\10f435";
}

.fad.fa-bat:after {
  content: "\10f6b5";
}

.fad.fa-bath:after {
  content: "\10f2cd";
}

.fad.fa-battery-bolt:after {
  content: "\10f376";
}

.fad.fa-battery-empty:after {
  content: "\10f244";
}

.fad.fa-battery-full:after {
  content: "\10f240";
}

.fad.fa-battery-half:after {
  content: "\10f242";
}

.fad.fa-battery-quarter:after {
  content: "\10f243";
}

.fad.fa-battery-slash:after {
  content: "\10f377";
}

.fad.fa-battery-three-quarters:after {
  content: "\10f241";
}

.fad.fa-bed:after {
  content: "\10f236";
}

.fad.fa-bed-alt:after {
  content: "\10f8f7";
}

.fad.fa-bed-bunk:after {
  content: "\10f8f8";
}

.fad.fa-bed-empty:after {
  content: "\10f8f9";
}

.fad.fa-beer:after {
  content: "\10f0fc";
}

.fad.fa-bell:after {
  content: "\10f0f3";
}

.fad.fa-bell-exclamation:after {
  content: "\10f848";
}

.fad.fa-bell-on:after {
  content: "\10f8fa";
}

.fad.fa-bell-plus:after {
  content: "\10f849";
}

.fad.fa-bell-school:after {
  content: "\10f5d5";
}

.fad.fa-bell-school-slash:after {
  content: "\10f5d6";
}

.fad.fa-bell-slash:after {
  content: "\10f1f6";
}

.fad.fa-bells:after {
  content: "\10f77f";
}

.fad.fa-betamax:after {
  content: "\10f8a4";
}

.fad.fa-bezier-curve:after {
  content: "\10f55b";
}

.fad.fa-bible:after {
  content: "\10f647";
}

.fad.fa-bicycle:after {
  content: "\10f206";
}

.fad.fa-biking:after {
  content: "\10f84a";
}

.fad.fa-biking-mountain:after {
  content: "\10f84b";
}

.fad.fa-binoculars:after {
  content: "\10f1e5";
}

.fad.fa-biohazard:after {
  content: "\10f780";
}

.fad.fa-birthday-cake:after {
  content: "\10f1fd";
}

.fad.fa-blanket:after {
  content: "\10f498";
}

.fad.fa-blender:after {
  content: "\10f517";
}

.fad.fa-blender-phone:after {
  content: "\10f6b6";
}

.fad.fa-blind:after {
  content: "\10f29d";
}

.fad.fa-blinds:after {
  content: "\10f8fb";
}

.fad.fa-blinds-open:after {
  content: "\10f8fc";
}

.fad.fa-blinds-raised:after {
  content: "\10f8fd";
}

.fad.fa-blog:after {
  content: "\10f781";
}

.fad.fa-bold:after {
  content: "\10f032";
}

.fad.fa-bolt:after {
  content: "\10f0e7";
}

.fad.fa-bomb:after {
  content: "\10f1e2";
}

.fad.fa-bone:after {
  content: "\10f5d7";
}

.fad.fa-bone-break:after {
  content: "\10f5d8";
}

.fad.fa-bong:after {
  content: "\10f55c";
}

.fad.fa-book:after {
  content: "\10f02d";
}

.fad.fa-book-alt:after {
  content: "\10f5d9";
}

.fad.fa-book-dead:after {
  content: "\10f6b7";
}

.fad.fa-book-heart:after {
  content: "\10f499";
}

.fad.fa-book-medical:after {
  content: "\10f7e6";
}

.fad.fa-book-open:after {
  content: "\10f518";
}

.fad.fa-book-reader:after {
  content: "\10f5da";
}

.fad.fa-book-spells:after {
  content: "\10f6b8";
}

.fad.fa-book-user:after {
  content: "\10f7e7";
}

.fad.fa-bookmark:after {
  content: "\10f02e";
}

.fad.fa-books:after {
  content: "\10f5db";
}

.fad.fa-books-medical:after {
  content: "\10f7e8";
}

.fad.fa-boombox:after {
  content: "\10f8a5";
}

.fad.fa-boot:after {
  content: "\10f782";
}

.fad.fa-booth-curtain:after {
  content: "\10f734";
}

.fad.fa-border-all:after {
  content: "\10f84c";
}

.fad.fa-border-bottom:after {
  content: "\10f84d";
}

.fad.fa-border-center-h:after {
  content: "\10f89c";
}

.fad.fa-border-center-v:after {
  content: "\10f89d";
}

.fad.fa-border-inner:after {
  content: "\10f84e";
}

.fad.fa-border-left:after {
  content: "\10f84f";
}

.fad.fa-border-none:after {
  content: "\10f850";
}

.fad.fa-border-outer:after {
  content: "\10f851";
}

.fad.fa-border-right:after {
  content: "\10f852";
}

.fad.fa-border-style:after {
  content: "\10f853";
}

.fad.fa-border-style-alt:after {
  content: "\10f854";
}

.fad.fa-border-top:after {
  content: "\10f855";
}

.fad.fa-bow-arrow:after {
  content: "\10f6b9";
}

.fad.fa-bowling-ball:after {
  content: "\10f436";
}

.fad.fa-bowling-pins:after {
  content: "\10f437";
}

.fad.fa-box:after {
  content: "\10f466";
}

.fad.fa-box-alt:after {
  content: "\10f49a";
}

.fad.fa-box-ballot:after {
  content: "\10f735";
}

.fad.fa-box-check:after {
  content: "\10f467";
}

.fad.fa-box-fragile:after {
  content: "\10f49b";
}

.fad.fa-box-full:after {
  content: "\10f49c";
}

.fad.fa-box-heart:after {
  content: "\10f49d";
}

.fad.fa-box-open:after {
  content: "\10f49e";
}

.fad.fa-box-up:after {
  content: "\10f49f";
}

.fad.fa-box-usd:after {
  content: "\10f4a0";
}

.fad.fa-boxes:after {
  content: "\10f468";
}

.fad.fa-boxes-alt:after {
  content: "\10f4a1";
}

.fad.fa-boxing-glove:after {
  content: "\10f438";
}

.fad.fa-brackets:after {
  content: "\10f7e9";
}

.fad.fa-brackets-curly:after {
  content: "\10f7ea";
}

.fad.fa-braille:after {
  content: "\10f2a1";
}

.fad.fa-brain:after {
  content: "\10f5dc";
}

.fad.fa-bread-loaf:after {
  content: "\10f7eb";
}

.fad.fa-bread-slice:after {
  content: "\10f7ec";
}

.fad.fa-briefcase:after {
  content: "\10f0b1";
}

.fad.fa-briefcase-medical:after {
  content: "\10f469";
}

.fad.fa-bring-forward:after {
  content: "\10f856";
}

.fad.fa-bring-front:after {
  content: "\10f857";
}

.fad.fa-broadcast-tower:after {
  content: "\10f519";
}

.fad.fa-broom:after {
  content: "\10f51a";
}

.fad.fa-browser:after {
  content: "\10f37e";
}

.fad.fa-brush:after {
  content: "\10f55d";
}

.fad.fa-bug:after {
  content: "\10f188";
}

.fad.fa-building:after {
  content: "\10f1ad";
}

.fad.fa-bullhorn:after {
  content: "\10f0a1";
}

.fad.fa-bullseye:after {
  content: "\10f140";
}

.fad.fa-bullseye-arrow:after {
  content: "\10f648";
}

.fad.fa-bullseye-pointer:after {
  content: "\10f649";
}

.fad.fa-burger-soda:after {
  content: "\10f858";
}

.fad.fa-burn:after {
  content: "\10f46a";
}

.fad.fa-burrito:after {
  content: "\10f7ed";
}

.fad.fa-bus:after {
  content: "\10f207";
}

.fad.fa-bus-alt:after {
  content: "\10f55e";
}

.fad.fa-bus-school:after {
  content: "\10f5dd";
}

.fad.fa-business-time:after {
  content: "\10f64a";
}

.fad.fa-cabinet-filing:after {
  content: "\10f64b";
}

.fad.fa-cactus:after {
  content: "\10f8a7";
}

.fad.fa-calculator:after {
  content: "\10f1ec";
}

.fad.fa-calculator-alt:after {
  content: "\10f64c";
}

.fad.fa-calendar:after {
  content: "\10f133";
}

.fad.fa-calendar-alt:after {
  content: "\10f073";
}

.fad.fa-calendar-check:after {
  content: "\10f274";
}

.fad.fa-calendar-day:after {
  content: "\10f783";
}

.fad.fa-calendar-edit:after {
  content: "\10f333";
}

.fad.fa-calendar-exclamation:after {
  content: "\10f334";
}

.fad.fa-calendar-minus:after {
  content: "\10f272";
}

.fad.fa-calendar-plus:after {
  content: "\10f271";
}

.fad.fa-calendar-star:after {
  content: "\10f736";
}

.fad.fa-calendar-times:after {
  content: "\10f273";
}

.fad.fa-calendar-week:after {
  content: "\10f784";
}

.fad.fa-camcorder:after {
  content: "\10f8a8";
}

.fad.fa-camera:after {
  content: "\10f030";
}

.fad.fa-camera-alt:after {
  content: "\10f332";
}

.fad.fa-camera-home:after {
  content: "\10f8fe";
}

.fad.fa-camera-movie:after {
  content: "\10f8a9";
}

.fad.fa-camera-polaroid:after {
  content: "\10f8aa";
}

.fad.fa-camera-retro:after {
  content: "\10f083";
}

.fad.fa-campfire:after {
  content: "\10f6ba";
}

.fad.fa-campground:after {
  content: "\10f6bb";
}

.fad.fa-candle-holder:after {
  content: "\10f6bc";
}

.fad.fa-candy-cane:after {
  content: "\10f786";
}

.fad.fa-candy-corn:after {
  content: "\10f6bd";
}

.fad.fa-cannabis:after {
  content: "\10f55f";
}

.fad.fa-capsules:after {
  content: "\10f46b";
}

.fad.fa-car:after {
  content: "\10f1b9";
}

.fad.fa-car-alt:after {
  content: "\10f5de";
}

.fad.fa-car-battery:after {
  content: "\10f5df";
}

.fad.fa-car-building:after {
  content: "\10f859";
}

.fad.fa-car-bump:after {
  content: "\10f5e0";
}

.fad.fa-car-bus:after {
  content: "\10f85a";
}

.fad.fa-car-crash:after {
  content: "\10f5e1";
}

.fad.fa-car-garage:after {
  content: "\10f5e2";
}

.fad.fa-car-mechanic:after {
  content: "\10f5e3";
}

.fad.fa-car-side:after {
  content: "\10f5e4";
}

.fad.fa-car-tilt:after {
  content: "\10f5e5";
}

.fad.fa-car-wash:after {
  content: "\10f5e6";
}

.fad.fa-caravan:after {
  content: "\10f8ff";
}

.fad.fa-caravan-alt:after {
  content: "\10f900";
}

.fad.fa-caret-circle-down:after {
  content: "\10f32d";
}

.fad.fa-caret-circle-left:after {
  content: "\10f32e";
}

.fad.fa-caret-circle-right:after {
  content: "\10f330";
}

.fad.fa-caret-circle-up:after {
  content: "\10f331";
}

.fad.fa-caret-down:after {
  content: "\10f0d7";
}

.fad.fa-caret-left:after {
  content: "\10f0d9";
}

.fad.fa-caret-right:after {
  content: "\10f0da";
}

.fad.fa-caret-square-down:after {
  content: "\10f150";
}

.fad.fa-caret-square-left:after {
  content: "\10f191";
}

.fad.fa-caret-square-right:after {
  content: "\10f152";
}

.fad.fa-caret-square-up:after {
  content: "\10f151";
}

.fad.fa-caret-up:after {
  content: "\10f0d8";
}

.fad.fa-carrot:after {
  content: "\10f787";
}

.fad.fa-cars:after {
  content: "\10f85b";
}

.fad.fa-cart-arrow-down:after {
  content: "\10f218";
}

.fad.fa-cart-plus:after {
  content: "\10f217";
}

.fad.fa-cash-register:after {
  content: "\10f788";
}

.fad.fa-cassette-tape:after {
  content: "\10f8ab";
}

.fad.fa-cat:after {
  content: "\10f6be";
}

.fad.fa-cat-space:after {
  content: "\10f901";
}

.fad.fa-cauldron:after {
  content: "\10f6bf";
}

.fad.fa-cctv:after {
  content: "\10f8ac";
}

.fad.fa-certificate:after {
  content: "\10f0a3";
}

.fad.fa-chair:after {
  content: "\10f6c0";
}

.fad.fa-chair-office:after {
  content: "\10f6c1";
}

.fad.fa-chalkboard:after {
  content: "\10f51b";
}

.fad.fa-chalkboard-teacher:after {
  content: "\10f51c";
}

.fad.fa-charging-station:after {
  content: "\10f5e7";
}

.fad.fa-chart-area:after {
  content: "\10f1fe";
}

.fad.fa-chart-bar:after {
  content: "\10f080";
}

.fad.fa-chart-line:after {
  content: "\10f201";
}

.fad.fa-chart-line-down:after {
  content: "\10f64d";
}

.fad.fa-chart-network:after {
  content: "\10f78a";
}

.fad.fa-chart-pie:after {
  content: "\10f200";
}

.fad.fa-chart-pie-alt:after {
  content: "\10f64e";
}

.fad.fa-chart-scatter:after {
  content: "\10f7ee";
}

.fad.fa-check:after {
  content: "\10f00c";
}

.fad.fa-check-circle:after {
  content: "\10f058";
}

.fad.fa-check-double:after {
  content: "\10f560";
}

.fad.fa-check-square:after {
  content: "\10f14a";
}

.fad.fa-cheese:after {
  content: "\10f7ef";
}

.fad.fa-cheese-swiss:after {
  content: "\10f7f0";
}

.fad.fa-cheeseburger:after {
  content: "\10f7f1";
}

.fad.fa-chess:after {
  content: "\10f439";
}

.fad.fa-chess-bishop:after {
  content: "\10f43a";
}

.fad.fa-chess-bishop-alt:after {
  content: "\10f43b";
}

.fad.fa-chess-board:after {
  content: "\10f43c";
}

.fad.fa-chess-clock:after {
  content: "\10f43d";
}

.fad.fa-chess-clock-alt:after {
  content: "\10f43e";
}

.fad.fa-chess-king:after {
  content: "\10f43f";
}

.fad.fa-chess-king-alt:after {
  content: "\10f440";
}

.fad.fa-chess-knight:after {
  content: "\10f441";
}

.fad.fa-chess-knight-alt:after {
  content: "\10f442";
}

.fad.fa-chess-pawn:after {
  content: "\10f443";
}

.fad.fa-chess-pawn-alt:after {
  content: "\10f444";
}

.fad.fa-chess-queen:after {
  content: "\10f445";
}

.fad.fa-chess-queen-alt:after {
  content: "\10f446";
}

.fad.fa-chess-rook:after {
  content: "\10f447";
}

.fad.fa-chess-rook-alt:after {
  content: "\10f448";
}

.fad.fa-chevron-circle-down:after {
  content: "\10f13a";
}

.fad.fa-chevron-circle-left:after {
  content: "\10f137";
}

.fad.fa-chevron-circle-right:after {
  content: "\10f138";
}

.fad.fa-chevron-circle-up:after {
  content: "\10f139";
}

.fad.fa-chevron-double-down:after {
  content: "\10f322";
}

.fad.fa-chevron-double-left:after {
  content: "\10f323";
}

.fad.fa-chevron-double-right:after {
  content: "\10f324";
}

.fad.fa-chevron-double-up:after {
  content: "\10f325";
}

.fad.fa-chevron-down:after {
  content: "\10f078";
}

.fad.fa-chevron-left:after {
  content: "\10f053";
}

.fad.fa-chevron-right:after {
  content: "\10f054";
}

.fad.fa-chevron-square-down:after {
  content: "\10f329";
}

.fad.fa-chevron-square-left:after {
  content: "\10f32a";
}

.fad.fa-chevron-square-right:after {
  content: "\10f32b";
}

.fad.fa-chevron-square-up:after {
  content: "\10f32c";
}

.fad.fa-chevron-up:after {
  content: "\10f077";
}

.fad.fa-child:after {
  content: "\10f1ae";
}

.fad.fa-chimney:after {
  content: "\10f78b";
}

.fad.fa-church:after {
  content: "\10f51d";
}

.fad.fa-circle:after {
  content: "\10f111";
}

.fad.fa-circle-notch:after {
  content: "\10f1ce";
}

.fad.fa-city:after {
  content: "\10f64f";
}

.fad.fa-clarinet:after {
  content: "\10f8ad";
}

.fad.fa-claw-marks:after {
  content: "\10f6c2";
}

.fad.fa-clinic-medical:after {
  content: "\10f7f2";
}

.fad.fa-clipboard:after {
  content: "\10f328";
}

.fad.fa-clipboard-check:after {
  content: "\10f46c";
}

.fad.fa-clipboard-list:after {
  content: "\10f46d";
}

.fad.fa-clipboard-list-check:after {
  content: "\10f737";
}

.fad.fa-clipboard-prescription:after {
  content: "\10f5e8";
}

.fad.fa-clipboard-user:after {
  content: "\10f7f3";
}

.fad.fa-clock:after {
  content: "\10f017";
}

.fad.fa-clone:after {
  content: "\10f24d";
}

.fad.fa-closed-captioning:after {
  content: "\10f20a";
}

.fad.fa-cloud:after {
  content: "\10f0c2";
}

.fad.fa-cloud-download:after {
  content: "\10f0ed";
}

.fad.fa-cloud-download-alt:after {
  content: "\10f381";
}

.fad.fa-cloud-drizzle:after {
  content: "\10f738";
}

.fad.fa-cloud-hail:after {
  content: "\10f739";
}

.fad.fa-cloud-hail-mixed:after {
  content: "\10f73a";
}

.fad.fa-cloud-meatball:after {
  content: "\10f73b";
}

.fad.fa-cloud-moon:after {
  content: "\10f6c3";
}

.fad.fa-cloud-moon-rain:after {
  content: "\10f73c";
}

.fad.fa-cloud-music:after {
  content: "\10f8ae";
}

.fad.fa-cloud-rain:after {
  content: "\10f73d";
}

.fad.fa-cloud-rainbow:after {
  content: "\10f73e";
}

.fad.fa-cloud-showers:after {
  content: "\10f73f";
}

.fad.fa-cloud-showers-heavy:after {
  content: "\10f740";
}

.fad.fa-cloud-sleet:after {
  content: "\10f741";
}

.fad.fa-cloud-snow:after {
  content: "\10f742";
}

.fad.fa-cloud-sun:after {
  content: "\10f6c4";
}

.fad.fa-cloud-sun-rain:after {
  content: "\10f743";
}

.fad.fa-cloud-upload:after {
  content: "\10f0ee";
}

.fad.fa-cloud-upload-alt:after {
  content: "\10f382";
}

.fad.fa-clouds:after {
  content: "\10f744";
}

.fad.fa-clouds-moon:after {
  content: "\10f745";
}

.fad.fa-clouds-sun:after {
  content: "\10f746";
}

.fad.fa-club:after {
  content: "\10f327";
}

.fad.fa-cocktail:after {
  content: "\10f561";
}

.fad.fa-code:after {
  content: "\10f121";
}

.fad.fa-code-branch:after {
  content: "\10f126";
}

.fad.fa-code-commit:after {
  content: "\10f386";
}

.fad.fa-code-merge:after {
  content: "\10f387";
}

.fad.fa-coffee:after {
  content: "\10f0f4";
}

.fad.fa-coffee-pot:after {
  content: "\10f902";
}

.fad.fa-coffee-togo:after {
  content: "\10f6c5";
}

.fad.fa-coffin:after {
  content: "\10f6c6";
}

.fad.fa-cog:after {
  content: "\10f013";
}

.fad.fa-cogs:after {
  content: "\10f085";
}

.fad.fa-coin:after {
  content: "\10f85c";
}

.fad.fa-coins:after {
  content: "\10f51e";
}

.fad.fa-columns:after {
  content: "\10f0db";
}

.fad.fa-comet:after {
  content: "\10f903";
}

.fad.fa-comment:after {
  content: "\10f075";
}

.fad.fa-comment-alt:after {
  content: "\10f27a";
}

.fad.fa-comment-alt-check:after {
  content: "\10f4a2";
}

.fad.fa-comment-alt-dollar:after {
  content: "\10f650";
}

.fad.fa-comment-alt-dots:after {
  content: "\10f4a3";
}

.fad.fa-comment-alt-edit:after {
  content: "\10f4a4";
}

.fad.fa-comment-alt-exclamation:after {
  content: "\10f4a5";
}

.fad.fa-comment-alt-lines:after {
  content: "\10f4a6";
}

.fad.fa-comment-alt-medical:after {
  content: "\10f7f4";
}

.fad.fa-comment-alt-minus:after {
  content: "\10f4a7";
}

.fad.fa-comment-alt-music:after {
  content: "\10f8af";
}

.fad.fa-comment-alt-plus:after {
  content: "\10f4a8";
}

.fad.fa-comment-alt-slash:after {
  content: "\10f4a9";
}

.fad.fa-comment-alt-smile:after {
  content: "\10f4aa";
}

.fad.fa-comment-alt-times:after {
  content: "\10f4ab";
}

.fad.fa-comment-check:after {
  content: "\10f4ac";
}

.fad.fa-comment-dollar:after {
  content: "\10f651";
}

.fad.fa-comment-dots:after {
  content: "\10f4ad";
}

.fad.fa-comment-edit:after {
  content: "\10f4ae";
}

.fad.fa-comment-exclamation:after {
  content: "\10f4af";
}

.fad.fa-comment-lines:after {
  content: "\10f4b0";
}

.fad.fa-comment-medical:after {
  content: "\10f7f5";
}

.fad.fa-comment-minus:after {
  content: "\10f4b1";
}

.fad.fa-comment-music:after {
  content: "\10f8b0";
}

.fad.fa-comment-plus:after {
  content: "\10f4b2";
}

.fad.fa-comment-slash:after {
  content: "\10f4b3";
}

.fad.fa-comment-smile:after {
  content: "\10f4b4";
}

.fad.fa-comment-times:after {
  content: "\10f4b5";
}

.fad.fa-comments:after {
  content: "\10f086";
}

.fad.fa-comments-alt:after {
  content: "\10f4b6";
}

.fad.fa-comments-alt-dollar:after {
  content: "\10f652";
}

.fad.fa-comments-dollar:after {
  content: "\10f653";
}

.fad.fa-compact-disc:after {
  content: "\10f51f";
}

.fad.fa-compass:after {
  content: "\10f14e";
}

.fad.fa-compass-slash:after {
  content: "\10f5e9";
}

.fad.fa-compress:after {
  content: "\10f066";
}

.fad.fa-compress-alt:after {
  content: "\10f422";
}

.fad.fa-compress-arrows-alt:after {
  content: "\10f78c";
}

.fad.fa-compress-wide:after {
  content: "\10f326";
}

.fad.fa-computer-classic:after {
  content: "\10f8b1";
}

.fad.fa-computer-speaker:after {
  content: "\10f8b2";
}

.fad.fa-concierge-bell:after {
  content: "\10f562";
}

.fad.fa-construction:after {
  content: "\10f85d";
}

.fad.fa-container-storage:after {
  content: "\10f4b7";
}

.fad.fa-conveyor-belt:after {
  content: "\10f46e";
}

.fad.fa-conveyor-belt-alt:after {
  content: "\10f46f";
}

.fad.fa-cookie:after {
  content: "\10f563";
}

.fad.fa-cookie-bite:after {
  content: "\10f564";
}

.fad.fa-copy:after {
  content: "\10f0c5";
}

.fad.fa-copyright:after {
  content: "\10f1f9";
}

.fad.fa-corn:after {
  content: "\10f6c7";
}

.fad.fa-couch:after {
  content: "\10f4b8";
}

.fad.fa-cow:after {
  content: "\10f6c8";
}

.fad.fa-cowbell:after {
  content: "\10f8b3";
}

.fad.fa-cowbell-more:after {
  content: "\10f8b4";
}

.fad.fa-credit-card:after {
  content: "\10f09d";
}

.fad.fa-credit-card-blank:after {
  content: "\10f389";
}

.fad.fa-credit-card-front:after {
  content: "\10f38a";
}

.fad.fa-cricket:after {
  content: "\10f449";
}

.fad.fa-croissant:after {
  content: "\10f7f6";
}

.fad.fa-crop:after {
  content: "\10f125";
}

.fad.fa-crop-alt:after {
  content: "\10f565";
}

.fad.fa-cross:after {
  content: "\10f654";
}

.fad.fa-crosshairs:after {
  content: "\10f05b";
}

.fad.fa-crow:after {
  content: "\10f520";
}

.fad.fa-crown:after {
  content: "\10f521";
}

.fad.fa-crutch:after {
  content: "\10f7f7";
}

.fad.fa-crutches:after {
  content: "\10f7f8";
}

.fad.fa-cube:after {
  content: "\10f1b2";
}

.fad.fa-cubes:after {
  content: "\10f1b3";
}

.fad.fa-curling:after {
  content: "\10f44a";
}

.fad.fa-cut:after {
  content: "\10f0c4";
}

.fad.fa-dagger:after {
  content: "\10f6cb";
}

.fad.fa-database:after {
  content: "\10f1c0";
}

.fad.fa-deaf:after {
  content: "\10f2a4";
}

.fad.fa-debug:after {
  content: "\10f7f9";
}

.fad.fa-deer:after {
  content: "\10f78e";
}

.fad.fa-deer-rudolph:after {
  content: "\10f78f";
}

.fad.fa-democrat:after {
  content: "\10f747";
}

.fad.fa-desktop:after {
  content: "\10f108";
}

.fad.fa-desktop-alt:after {
  content: "\10f390";
}

.fad.fa-dewpoint:after {
  content: "\10f748";
}

.fad.fa-dharmachakra:after {
  content: "\10f655";
}

.fad.fa-diagnoses:after {
  content: "\10f470";
}

.fad.fa-diamond:after {
  content: "\10f219";
}

.fad.fa-dice:after {
  content: "\10f522";
}

.fad.fa-dice-d10:after {
  content: "\10f6cd";
}

.fad.fa-dice-d12:after {
  content: "\10f6ce";
}

.fad.fa-dice-d20:after {
  content: "\10f6cf";
}

.fad.fa-dice-d4:after {
  content: "\10f6d0";
}

.fad.fa-dice-d6:after {
  content: "\10f6d1";
}

.fad.fa-dice-d8:after {
  content: "\10f6d2";
}

.fad.fa-dice-five:after {
  content: "\10f523";
}

.fad.fa-dice-four:after {
  content: "\10f524";
}

.fad.fa-dice-one:after {
  content: "\10f525";
}

.fad.fa-dice-six:after {
  content: "\10f526";
}

.fad.fa-dice-three:after {
  content: "\10f527";
}

.fad.fa-dice-two:after {
  content: "\10f528";
}

.fad.fa-digging:after {
  content: "\10f85e";
}

.fad.fa-digital-tachograph:after {
  content: "\10f566";
}

.fad.fa-diploma:after {
  content: "\10f5ea";
}

.fad.fa-directions:after {
  content: "\10f5eb";
}

.fad.fa-disc-drive:after {
  content: "\10f8b5";
}

.fad.fa-disease:after {
  content: "\10f7fa";
}

.fad.fa-divide:after {
  content: "\10f529";
}

.fad.fa-dizzy:after {
  content: "\10f567";
}

.fad.fa-dna:after {
  content: "\10f471";
}

.fad.fa-do-not-enter:after {
  content: "\10f5ec";
}

.fad.fa-dog:after {
  content: "\10f6d3";
}

.fad.fa-dog-leashed:after {
  content: "\10f6d4";
}

.fad.fa-dollar-sign:after {
  content: "\10f155";
}

.fad.fa-dolly:after {
  content: "\10f472";
}

.fad.fa-dolly-empty:after {
  content: "\10f473";
}

.fad.fa-dolly-flatbed:after {
  content: "\10f474";
}

.fad.fa-dolly-flatbed-alt:after {
  content: "\10f475";
}

.fad.fa-dolly-flatbed-empty:after {
  content: "\10f476";
}

.fad.fa-donate:after {
  content: "\10f4b9";
}

.fad.fa-door-closed:after {
  content: "\10f52a";
}

.fad.fa-door-open:after {
  content: "\10f52b";
}

.fad.fa-dot-circle:after {
  content: "\10f192";
}

.fad.fa-dove:after {
  content: "\10f4ba";
}

.fad.fa-download:after {
  content: "\10f019";
}

.fad.fa-drafting-compass:after {
  content: "\10f568";
}

.fad.fa-dragon:after {
  content: "\10f6d5";
}

.fad.fa-draw-circle:after {
  content: "\10f5ed";
}

.fad.fa-draw-polygon:after {
  content: "\10f5ee";
}

.fad.fa-draw-square:after {
  content: "\10f5ef";
}

.fad.fa-dreidel:after {
  content: "\10f792";
}

.fad.fa-drone:after {
  content: "\10f85f";
}

.fad.fa-drone-alt:after {
  content: "\10f860";
}

.fad.fa-drum:after {
  content: "\10f569";
}

.fad.fa-drum-steelpan:after {
  content: "\10f56a";
}

.fad.fa-drumstick:after {
  content: "\10f6d6";
}

.fad.fa-drumstick-bite:after {
  content: "\10f6d7";
}

.fad.fa-dryer:after {
  content: "\10f861";
}

.fad.fa-dryer-alt:after {
  content: "\10f862";
}

.fad.fa-duck:after {
  content: "\10f6d8";
}

.fad.fa-dumbbell:after {
  content: "\10f44b";
}

.fad.fa-dumpster:after {
  content: "\10f793";
}

.fad.fa-dumpster-fire:after {
  content: "\10f794";
}

.fad.fa-dungeon:after {
  content: "\10f6d9";
}

.fad.fa-ear:after {
  content: "\10f5f0";
}

.fad.fa-ear-muffs:after {
  content: "\10f795";
}

.fad.fa-eclipse:after {
  content: "\10f749";
}

.fad.fa-eclipse-alt:after {
  content: "\10f74a";
}

.fad.fa-edit:after {
  content: "\10f044";
}

.fad.fa-egg:after {
  content: "\10f7fb";
}

.fad.fa-egg-fried:after {
  content: "\10f7fc";
}

.fad.fa-eject:after {
  content: "\10f052";
}

.fad.fa-elephant:after {
  content: "\10f6da";
}

.fad.fa-ellipsis-h:after {
  content: "\10f141";
}

.fad.fa-ellipsis-h-alt:after {
  content: "\10f39b";
}

.fad.fa-ellipsis-v:after {
  content: "\10f142";
}

.fad.fa-ellipsis-v-alt:after {
  content: "\10f39c";
}

.fad.fa-empty-set:after {
  content: "\10f656";
}

.fad.fa-engine-warning:after {
  content: "\10f5f2";
}

.fad.fa-envelope:after {
  content: "\10f0e0";
}

.fad.fa-envelope-open:after {
  content: "\10f2b6";
}

.fad.fa-envelope-open-dollar:after {
  content: "\10f657";
}

.fad.fa-envelope-open-text:after {
  content: "\10f658";
}

.fad.fa-envelope-square:after {
  content: "\10f199";
}

.fad.fa-equals:after {
  content: "\10f52c";
}

.fad.fa-eraser:after {
  content: "\10f12d";
}

.fad.fa-ethernet:after {
  content: "\10f796";
}

.fad.fa-euro-sign:after {
  content: "\10f153";
}

.fad.fa-exchange:after {
  content: "\10f0ec";
}

.fad.fa-exchange-alt:after {
  content: "\10f362";
}

.fad.fa-exclamation:after {
  content: "\10f12a";
}

.fad.fa-exclamation-circle:after {
  content: "\10f06a";
}

.fad.fa-exclamation-square:after {
  content: "\10f321";
}

.fad.fa-exclamation-triangle:after {
  content: "\10f071";
}

.fad.fa-expand:after {
  content: "\10f065";
}

.fad.fa-expand-alt:after {
  content: "\10f424";
}

.fad.fa-expand-arrows:after {
  content: "\10f31d";
}

.fad.fa-expand-arrows-alt:after {
  content: "\10f31e";
}

.fad.fa-expand-wide:after {
  content: "\10f320";
}

.fad.fa-external-link:after {
  content: "\10f08e";
}

.fad.fa-external-link-alt:after {
  content: "\10f35d";
}

.fad.fa-external-link-square:after {
  content: "\10f14c";
}

.fad.fa-external-link-square-alt:after {
  content: "\10f360";
}

.fad.fa-eye:after {
  content: "\10f06e";
}

.fad.fa-eye-dropper:after {
  content: "\10f1fb";
}

.fad.fa-eye-evil:after {
  content: "\10f6db";
}

.fad.fa-eye-slash:after {
  content: "\10f070";
}

.fad.fa-fan:after {
  content: "\10f863";
}

.fad.fa-fan-table:after {
  content: "\10f904";
}

.fad.fa-farm:after {
  content: "\10f864";
}

.fad.fa-fast-backward:after {
  content: "\10f049";
}

.fad.fa-fast-forward:after {
  content: "\10f050";
}

.fad.fa-faucet:after {
  content: "\10f905";
}

.fad.fa-faucet-drip:after {
  content: "\10f906";
}

.fad.fa-fax:after {
  content: "\10f1ac";
}

.fad.fa-feather:after {
  content: "\10f52d";
}

.fad.fa-feather-alt:after {
  content: "\10f56b";
}

.fad.fa-female:after {
  content: "\10f182";
}

.fad.fa-field-hockey:after {
  content: "\10f44c";
}

.fad.fa-fighter-jet:after {
  content: "\10f0fb";
}

.fad.fa-file:after {
  content: "\10f15b";
}

.fad.fa-file-alt:after {
  content: "\10f15c";
}

.fad.fa-file-archive:after {
  content: "\10f1c6";
}

.fad.fa-file-audio:after {
  content: "\10f1c7";
}

.fad.fa-file-certificate:after {
  content: "\10f5f3";
}

.fad.fa-file-chart-line:after {
  content: "\10f659";
}

.fad.fa-file-chart-pie:after {
  content: "\10f65a";
}

.fad.fa-file-check:after {
  content: "\10f316";
}

.fad.fa-file-code:after {
  content: "\10f1c9";
}

.fad.fa-file-contract:after {
  content: "\10f56c";
}

.fad.fa-file-csv:after {
  content: "\10f6dd";
}

.fad.fa-file-download:after {
  content: "\10f56d";
}

.fad.fa-file-edit:after {
  content: "\10f31c";
}

.fad.fa-file-excel:after {
  content: "\10f1c3";
}

.fad.fa-file-exclamation:after {
  content: "\10f31a";
}

.fad.fa-file-export:after {
  content: "\10f56e";
}

.fad.fa-file-image:after {
  content: "\10f1c5";
}

.fad.fa-file-import:after {
  content: "\10f56f";
}

.fad.fa-file-invoice:after {
  content: "\10f570";
}

.fad.fa-file-invoice-dollar:after {
  content: "\10f571";
}

.fad.fa-file-medical:after {
  content: "\10f477";
}

.fad.fa-file-medical-alt:after {
  content: "\10f478";
}

.fad.fa-file-minus:after {
  content: "\10f318";
}

.fad.fa-file-music:after {
  content: "\10f8b6";
}

.fad.fa-file-pdf:after {
  content: "\10f1c1";
}

.fad.fa-file-plus:after {
  content: "\10f319";
}

.fad.fa-file-powerpoint:after {
  content: "\10f1c4";
}

.fad.fa-file-prescription:after {
  content: "\10f572";
}

.fad.fa-file-search:after {
  content: "\10f865";
}

.fad.fa-file-signature:after {
  content: "\10f573";
}

.fad.fa-file-spreadsheet:after {
  content: "\10f65b";
}

.fad.fa-file-times:after {
  content: "\10f317";
}

.fad.fa-file-upload:after {
  content: "\10f574";
}

.fad.fa-file-user:after {
  content: "\10f65c";
}

.fad.fa-file-video:after {
  content: "\10f1c8";
}

.fad.fa-file-word:after {
  content: "\10f1c2";
}

.fad.fa-files-medical:after {
  content: "\10f7fd";
}

.fad.fa-fill:after {
  content: "\10f575";
}

.fad.fa-fill-drip:after {
  content: "\10f576";
}

.fad.fa-film:after {
  content: "\10f008";
}

.fad.fa-film-alt:after {
  content: "\10f3a0";
}

.fad.fa-film-canister:after {
  content: "\10f8b7";
}

.fad.fa-filter:after {
  content: "\10f0b0";
}

.fad.fa-fingerprint:after {
  content: "\10f577";
}

.fad.fa-fire:after {
  content: "\10f06d";
}

.fad.fa-fire-alt:after {
  content: "\10f7e4";
}

.fad.fa-fire-extinguisher:after {
  content: "\10f134";
}

.fad.fa-fire-smoke:after {
  content: "\10f74b";
}

.fad.fa-fireplace:after {
  content: "\10f79a";
}

.fad.fa-first-aid:after {
  content: "\10f479";
}

.fad.fa-fish:after {
  content: "\10f578";
}

.fad.fa-fish-cooked:after {
  content: "\10f7fe";
}

.fad.fa-fist-raised:after {
  content: "\10f6de";
}

.fad.fa-flag:after {
  content: "\10f024";
}

.fad.fa-flag-alt:after {
  content: "\10f74c";
}

.fad.fa-flag-checkered:after {
  content: "\10f11e";
}

.fad.fa-flag-usa:after {
  content: "\10f74d";
}

.fad.fa-flame:after {
  content: "\10f6df";
}

.fad.fa-flashlight:after {
  content: "\10f8b8";
}

.fad.fa-flask:after {
  content: "\10f0c3";
}

.fad.fa-flask-poison:after {
  content: "\10f6e0";
}

.fad.fa-flask-potion:after {
  content: "\10f6e1";
}

.fad.fa-flower:after {
  content: "\10f7ff";
}

.fad.fa-flower-daffodil:after {
  content: "\10f800";
}

.fad.fa-flower-tulip:after {
  content: "\10f801";
}

.fad.fa-flushed:after {
  content: "\10f579";
}

.fad.fa-flute:after {
  content: "\10f8b9";
}

.fad.fa-flux-capacitor:after {
  content: "\10f8ba";
}

.fad.fa-fog:after {
  content: "\10f74e";
}

.fad.fa-folder:after {
  content: "\10f07b";
}

.fad.fa-folder-minus:after {
  content: "\10f65d";
}

.fad.fa-folder-open:after {
  content: "\10f07c";
}

.fad.fa-folder-plus:after {
  content: "\10f65e";
}

.fad.fa-folder-times:after {
  content: "\10f65f";
}

.fad.fa-folder-tree:after {
  content: "\10f802";
}

.fad.fa-folders:after {
  content: "\10f660";
}

.fad.fa-font:after {
  content: "\10f031";
}

.fad.fa-font-awesome-logo-full:after {
  content: "\10f4e6";
}

.fad.fa-font-case:after {
  content: "\10f866";
}

.fad.fa-football-ball:after {
  content: "\10f44e";
}

.fad.fa-football-helmet:after {
  content: "\10f44f";
}

.fad.fa-forklift:after {
  content: "\10f47a";
}

.fad.fa-forward:after {
  content: "\10f04e";
}

.fad.fa-fragile:after {
  content: "\10f4bb";
}

.fad.fa-french-fries:after {
  content: "\10f803";
}

.fad.fa-frog:after {
  content: "\10f52e";
}

.fad.fa-frosty-head:after {
  content: "\10f79b";
}

.fad.fa-frown:after {
  content: "\10f119";
}

.fad.fa-frown-open:after {
  content: "\10f57a";
}

.fad.fa-function:after {
  content: "\10f661";
}

.fad.fa-funnel-dollar:after {
  content: "\10f662";
}

.fad.fa-futbol:after {
  content: "\10f1e3";
}

.fad.fa-galaxy:after {
  content: "\10f908";
}

.fad.fa-game-board:after {
  content: "\10f867";
}

.fad.fa-game-board-alt:after {
  content: "\10f868";
}

.fad.fa-game-console-handheld:after {
  content: "\10f8bb";
}

.fad.fa-gamepad:after {
  content: "\10f11b";
}

.fad.fa-gamepad-alt:after {
  content: "\10f8bc";
}

.fad.fa-garage:after {
  content: "\10f909";
}

.fad.fa-garage-car:after {
  content: "\10f90a";
}

.fad.fa-garage-open:after {
  content: "\10f90b";
}

.fad.fa-gas-pump:after {
  content: "\10f52f";
}

.fad.fa-gas-pump-slash:after {
  content: "\10f5f4";
}

.fad.fa-gavel:after {
  content: "\10f0e3";
}

.fad.fa-gem:after {
  content: "\10f3a5";
}

.fad.fa-genderless:after {
  content: "\10f22d";
}

.fad.fa-ghost:after {
  content: "\10f6e2";
}

.fad.fa-gift:after {
  content: "\10f06b";
}

.fad.fa-gift-card:after {
  content: "\10f663";
}

.fad.fa-gifts:after {
  content: "\10f79c";
}

.fad.fa-gingerbread-man:after {
  content: "\10f79d";
}

.fad.fa-glass:after {
  content: "\10f804";
}

.fad.fa-glass-champagne:after {
  content: "\10f79e";
}

.fad.fa-glass-cheers:after {
  content: "\10f79f";
}

.fad.fa-glass-citrus:after {
  content: "\10f869";
}

.fad.fa-glass-martini:after {
  content: "\10f000";
}

.fad.fa-glass-martini-alt:after {
  content: "\10f57b";
}

.fad.fa-glass-whiskey:after {
  content: "\10f7a0";
}

.fad.fa-glass-whiskey-rocks:after {
  content: "\10f7a1";
}

.fad.fa-glasses:after {
  content: "\10f530";
}

.fad.fa-glasses-alt:after {
  content: "\10f5f5";
}

.fad.fa-globe:after {
  content: "\10f0ac";
}

.fad.fa-globe-africa:after {
  content: "\10f57c";
}

.fad.fa-globe-americas:after {
  content: "\10f57d";
}

.fad.fa-globe-asia:after {
  content: "\10f57e";
}

.fad.fa-globe-europe:after {
  content: "\10f7a2";
}

.fad.fa-globe-snow:after {
  content: "\10f7a3";
}

.fad.fa-globe-stand:after {
  content: "\10f5f6";
}

.fad.fa-golf-ball:after {
  content: "\10f450";
}

.fad.fa-golf-club:after {
  content: "\10f451";
}

.fad.fa-gopuram:after {
  content: "\10f664";
}

.fad.fa-graduation-cap:after {
  content: "\10f19d";
}

.fad.fa-gramophone:after {
  content: "\10f8bd";
}

.fad.fa-greater-than:after {
  content: "\10f531";
}

.fad.fa-greater-than-equal:after {
  content: "\10f532";
}

.fad.fa-grimace:after {
  content: "\10f57f";
}

.fad.fa-grin:after {
  content: "\10f580";
}

.fad.fa-grin-alt:after {
  content: "\10f581";
}

.fad.fa-grin-beam:after {
  content: "\10f582";
}

.fad.fa-grin-beam-sweat:after {
  content: "\10f583";
}

.fad.fa-grin-hearts:after {
  content: "\10f584";
}

.fad.fa-grin-squint:after {
  content: "\10f585";
}

.fad.fa-grin-squint-tears:after {
  content: "\10f586";
}

.fad.fa-grin-stars:after {
  content: "\10f587";
}

.fad.fa-grin-tears:after {
  content: "\10f588";
}

.fad.fa-grin-tongue:after {
  content: "\10f589";
}

.fad.fa-grin-tongue-squint:after {
  content: "\10f58a";
}

.fad.fa-grin-tongue-wink:after {
  content: "\10f58b";
}

.fad.fa-grin-wink:after {
  content: "\10f58c";
}

.fad.fa-grip-horizontal:after {
  content: "\10f58d";
}

.fad.fa-grip-lines:after {
  content: "\10f7a4";
}

.fad.fa-grip-lines-vertical:after {
  content: "\10f7a5";
}

.fad.fa-grip-vertical:after {
  content: "\10f58e";
}

.fad.fa-guitar:after {
  content: "\10f7a6";
}

.fad.fa-guitar-electric:after {
  content: "\10f8be";
}

.fad.fa-guitars:after {
  content: "\10f8bf";
}

.fad.fa-h-square:after {
  content: "\10f0fd";
}

.fad.fa-h1:after {
  content: "\10f313";
}

.fad.fa-h2:after {
  content: "\10f314";
}

.fad.fa-h3:after {
  content: "\10f315";
}

.fad.fa-h4:after {
  content: "\10f86a";
}

.fad.fa-hamburger:after {
  content: "\10f805";
}

.fad.fa-hammer:after {
  content: "\10f6e3";
}

.fad.fa-hammer-war:after {
  content: "\10f6e4";
}

.fad.fa-hamsa:after {
  content: "\10f665";
}

.fad.fa-hand-heart:after {
  content: "\10f4bc";
}

.fad.fa-hand-holding:after {
  content: "\10f4bd";
}

.fad.fa-hand-holding-box:after {
  content: "\10f47b";
}

.fad.fa-hand-holding-heart:after {
  content: "\10f4be";
}

.fad.fa-hand-holding-magic:after {
  content: "\10f6e5";
}

.fad.fa-hand-holding-seedling:after {
  content: "\10f4bf";
}

.fad.fa-hand-holding-usd:after {
  content: "\10f4c0";
}

.fad.fa-hand-holding-water:after {
  content: "\10f4c1";
}

.fad.fa-hand-lizard:after {
  content: "\10f258";
}

.fad.fa-hand-middle-finger:after {
  content: "\10f806";
}

.fad.fa-hand-paper:after {
  content: "\10f256";
}

.fad.fa-hand-peace:after {
  content: "\10f25b";
}

.fad.fa-hand-point-down:after {
  content: "\10f0a7";
}

.fad.fa-hand-point-left:after {
  content: "\10f0a5";
}

.fad.fa-hand-point-right:after {
  content: "\10f0a4";
}

.fad.fa-hand-point-up:after {
  content: "\10f0a6";
}

.fad.fa-hand-pointer:after {
  content: "\10f25a";
}

.fad.fa-hand-receiving:after {
  content: "\10f47c";
}

.fad.fa-hand-rock:after {
  content: "\10f255";
}

.fad.fa-hand-scissors:after {
  content: "\10f257";
}

.fad.fa-hand-spock:after {
  content: "\10f259";
}

.fad.fa-hands:after {
  content: "\10f4c2";
}

.fad.fa-hands-heart:after {
  content: "\10f4c3";
}

.fad.fa-hands-helping:after {
  content: "\10f4c4";
}

.fad.fa-hands-usd:after {
  content: "\10f4c5";
}

.fad.fa-handshake:after {
  content: "\10f2b5";
}

.fad.fa-handshake-alt:after {
  content: "\10f4c6";
}

.fad.fa-hanukiah:after {
  content: "\10f6e6";
}

.fad.fa-hard-hat:after {
  content: "\10f807";
}

.fad.fa-hashtag:after {
  content: "\10f292";
}

.fad.fa-hat-chef:after {
  content: "\10f86b";
}

.fad.fa-hat-cowboy:after {
  content: "\10f8c0";
}

.fad.fa-hat-cowboy-side:after {
  content: "\10f8c1";
}

.fad.fa-hat-santa:after {
  content: "\10f7a7";
}

.fad.fa-hat-winter:after {
  content: "\10f7a8";
}

.fad.fa-hat-witch:after {
  content: "\10f6e7";
}

.fad.fa-hat-wizard:after {
  content: "\10f6e8";
}

.fad.fa-hdd:after {
  content: "\10f0a0";
}

.fad.fa-head-side:after {
  content: "\10f6e9";
}

.fad.fa-head-side-brain:after {
  content: "\10f808";
}

.fad.fa-head-side-headphones:after {
  content: "\10f8c2";
}

.fad.fa-head-side-medical:after {
  content: "\10f809";
}

.fad.fa-head-vr:after {
  content: "\10f6ea";
}

.fad.fa-heading:after {
  content: "\10f1dc";
}

.fad.fa-headphones:after {
  content: "\10f025";
}

.fad.fa-headphones-alt:after {
  content: "\10f58f";
}

.fad.fa-headset:after {
  content: "\10f590";
}

.fad.fa-heart:after {
  content: "\10f004";
}

.fad.fa-heart-broken:after {
  content: "\10f7a9";
}

.fad.fa-heart-circle:after {
  content: "\10f4c7";
}

.fad.fa-heart-rate:after {
  content: "\10f5f8";
}

.fad.fa-heart-square:after {
  content: "\10f4c8";
}

.fad.fa-heartbeat:after {
  content: "\10f21e";
}

.fad.fa-heat:after {
  content: "\10f90c";
}

.fad.fa-helicopter:after {
  content: "\10f533";
}

.fad.fa-helmet-battle:after {
  content: "\10f6eb";
}

.fad.fa-hexagon:after {
  content: "\10f312";
}

.fad.fa-highlighter:after {
  content: "\10f591";
}

.fad.fa-hiking:after {
  content: "\10f6ec";
}

.fad.fa-hippo:after {
  content: "\10f6ed";
}

.fad.fa-history:after {
  content: "\10f1da";
}

.fad.fa-hockey-mask:after {
  content: "\10f6ee";
}

.fad.fa-hockey-puck:after {
  content: "\10f453";
}

.fad.fa-hockey-sticks:after {
  content: "\10f454";
}

.fad.fa-holly-berry:after {
  content: "\10f7aa";
}

.fad.fa-home:after {
  content: "\10f015";
}

.fad.fa-home-alt:after {
  content: "\10f80a";
}

.fad.fa-home-heart:after {
  content: "\10f4c9";
}

.fad.fa-home-lg:after {
  content: "\10f80b";
}

.fad.fa-home-lg-alt:after {
  content: "\10f80c";
}

.fad.fa-hood-cloak:after {
  content: "\10f6ef";
}

.fad.fa-horizontal-rule:after {
  content: "\10f86c";
}

.fad.fa-horse:after {
  content: "\10f6f0";
}

.fad.fa-horse-head:after {
  content: "\10f7ab";
}

.fad.fa-horse-saddle:after {
  content: "\10f8c3";
}

.fad.fa-hospital:after {
  content: "\10f0f8";
}

.fad.fa-hospital-alt:after {
  content: "\10f47d";
}

.fad.fa-hospital-symbol:after {
  content: "\10f47e";
}

.fad.fa-hospital-user:after {
  content: "\10f80d";
}

.fad.fa-hospitals:after {
  content: "\10f80e";
}

.fad.fa-hot-tub:after {
  content: "\10f593";
}

.fad.fa-hotdog:after {
  content: "\10f80f";
}

.fad.fa-hotel:after {
  content: "\10f594";
}

.fad.fa-hourglass:after {
  content: "\10f254";
}

.fad.fa-hourglass-end:after {
  content: "\10f253";
}

.fad.fa-hourglass-half:after {
  content: "\10f252";
}

.fad.fa-hourglass-start:after {
  content: "\10f251";
}

.fad.fa-house:after {
  content: "\10f90d";
}

.fad.fa-house-damage:after {
  content: "\10f6f1";
}

.fad.fa-house-day:after {
  content: "\10f90e";
}

.fad.fa-house-flood:after {
  content: "\10f74f";
}

.fad.fa-house-leave:after {
  content: "\10f90f";
}

.fad.fa-house-night:after {
  content: "\10f910";
}

.fad.fa-house-return:after {
  content: "\10f911";
}

.fad.fa-house-signal:after {
  content: "\10f912";
}

.fad.fa-hryvnia:after {
  content: "\10f6f2";
}

.fad.fa-humidity:after {
  content: "\10f750";
}

.fad.fa-hurricane:after {
  content: "\10f751";
}

.fad.fa-i-cursor:after {
  content: "\10f246";
}

.fad.fa-ice-cream:after {
  content: "\10f810";
}

.fad.fa-ice-skate:after {
  content: "\10f7ac";
}

.fad.fa-icicles:after {
  content: "\10f7ad";
}

.fad.fa-icons:after {
  content: "\10f86d";
}

.fad.fa-icons-alt:after {
  content: "\10f86e";
}

.fad.fa-id-badge:after {
  content: "\10f2c1";
}

.fad.fa-id-card:after {
  content: "\10f2c2";
}

.fad.fa-id-card-alt:after {
  content: "\10f47f";
}

.fad.fa-igloo:after {
  content: "\10f7ae";
}

.fad.fa-image:after {
  content: "\10f03e";
}

.fad.fa-image-polaroid:after {
  content: "\10f8c4";
}

.fad.fa-images:after {
  content: "\10f302";
}

.fad.fa-inbox:after {
  content: "\10f01c";
}

.fad.fa-inbox-in:after {
  content: "\10f310";
}

.fad.fa-inbox-out:after {
  content: "\10f311";
}

.fad.fa-indent:after {
  content: "\10f03c";
}

.fad.fa-industry:after {
  content: "\10f275";
}

.fad.fa-industry-alt:after {
  content: "\10f3b3";
}

.fad.fa-infinity:after {
  content: "\10f534";
}

.fad.fa-info:after {
  content: "\10f129";
}

.fad.fa-info-circle:after {
  content: "\10f05a";
}

.fad.fa-info-square:after {
  content: "\10f30f";
}

.fad.fa-inhaler:after {
  content: "\10f5f9";
}

.fad.fa-integral:after {
  content: "\10f667";
}

.fad.fa-intersection:after {
  content: "\10f668";
}

.fad.fa-inventory:after {
  content: "\10f480";
}

.fad.fa-island-tropical:after {
  content: "\10f811";
}

.fad.fa-italic:after {
  content: "\10f033";
}

.fad.fa-jack-o-lantern:after {
  content: "\10f30e";
}

.fad.fa-jedi:after {
  content: "\10f669";
}

.fad.fa-joint:after {
  content: "\10f595";
}

.fad.fa-journal-whills:after {
  content: "\10f66a";
}

.fad.fa-joystick:after {
  content: "\10f8c5";
}

.fad.fa-jug:after {
  content: "\10f8c6";
}

.fad.fa-kaaba:after {
  content: "\10f66b";
}

.fad.fa-kazoo:after {
  content: "\10f8c7";
}

.fad.fa-kerning:after {
  content: "\10f86f";
}

.fad.fa-key:after {
  content: "\10f084";
}

.fad.fa-key-skeleton:after {
  content: "\10f6f3";
}

.fad.fa-keyboard:after {
  content: "\10f11c";
}

.fad.fa-keynote:after {
  content: "\10f66c";
}

.fad.fa-khanda:after {
  content: "\10f66d";
}

.fad.fa-kidneys:after {
  content: "\10f5fb";
}

.fad.fa-kiss:after {
  content: "\10f596";
}

.fad.fa-kiss-beam:after {
  content: "\10f597";
}

.fad.fa-kiss-wink-heart:after {
  content: "\10f598";
}

.fad.fa-kite:after {
  content: "\10f6f4";
}

.fad.fa-kiwi-bird:after {
  content: "\10f535";
}

.fad.fa-knife-kitchen:after {
  content: "\10f6f5";
}

.fad.fa-lambda:after {
  content: "\10f66e";
}

.fad.fa-lamp:after {
  content: "\10f4ca";
}

.fad.fa-lamp-desk:after {
  content: "\10f914";
}

.fad.fa-lamp-floor:after {
  content: "\10f915";
}

.fad.fa-landmark:after {
  content: "\10f66f";
}

.fad.fa-landmark-alt:after {
  content: "\10f752";
}

.fad.fa-language:after {
  content: "\10f1ab";
}

.fad.fa-laptop:after {
  content: "\10f109";
}

.fad.fa-laptop-code:after {
  content: "\10f5fc";
}

.fad.fa-laptop-medical:after {
  content: "\10f812";
}

.fad.fa-lasso:after {
  content: "\10f8c8";
}

.fad.fa-laugh:after {
  content: "\10f599";
}

.fad.fa-laugh-beam:after {
  content: "\10f59a";
}

.fad.fa-laugh-squint:after {
  content: "\10f59b";
}

.fad.fa-laugh-wink:after {
  content: "\10f59c";
}

.fad.fa-layer-group:after {
  content: "\10f5fd";
}

.fad.fa-layer-minus:after {
  content: "\10f5fe";
}

.fad.fa-layer-plus:after {
  content: "\10f5ff";
}

.fad.fa-leaf:after {
  content: "\10f06c";
}

.fad.fa-leaf-heart:after {
  content: "\10f4cb";
}

.fad.fa-leaf-maple:after {
  content: "\10f6f6";
}

.fad.fa-leaf-oak:after {
  content: "\10f6f7";
}

.fad.fa-lemon:after {
  content: "\10f094";
}

.fad.fa-less-than:after {
  content: "\10f536";
}

.fad.fa-less-than-equal:after {
  content: "\10f537";
}

.fad.fa-level-down:after {
  content: "\10f149";
}

.fad.fa-level-down-alt:after {
  content: "\10f3be";
}

.fad.fa-level-up:after {
  content: "\10f148";
}

.fad.fa-level-up-alt:after {
  content: "\10f3bf";
}

.fad.fa-life-ring:after {
  content: "\10f1cd";
}

.fad.fa-light-ceiling:after {
  content: "\10f916";
}

.fad.fa-light-switch:after {
  content: "\10f917";
}

.fad.fa-light-switch-off:after {
  content: "\10f918";
}

.fad.fa-light-switch-on:after {
  content: "\10f919";
}

.fad.fa-lightbulb:after {
  content: "\10f0eb";
}

.fad.fa-lightbulb-dollar:after {
  content: "\10f670";
}

.fad.fa-lightbulb-exclamation:after {
  content: "\10f671";
}

.fad.fa-lightbulb-on:after {
  content: "\10f672";
}

.fad.fa-lightbulb-slash:after {
  content: "\10f673";
}

.fad.fa-lights-holiday:after {
  content: "\10f7b2";
}

.fad.fa-line-columns:after {
  content: "\10f870";
}

.fad.fa-line-height:after {
  content: "\10f871";
}

.fad.fa-link:after {
  content: "\10f0c1";
}

.fad.fa-lips:after {
  content: "\10f600";
}

.fad.fa-lira-sign:after {
  content: "\10f195";
}

.fad.fa-list:after {
  content: "\10f03a";
}

.fad.fa-list-alt:after {
  content: "\10f022";
}

.fad.fa-list-music:after {
  content: "\10f8c9";
}

.fad.fa-list-ol:after {
  content: "\10f0cb";
}

.fad.fa-list-ul:after {
  content: "\10f0ca";
}

.fad.fa-location:after {
  content: "\10f601";
}

.fad.fa-location-arrow:after {
  content: "\10f124";
}

.fad.fa-location-circle:after {
  content: "\10f602";
}

.fad.fa-location-slash:after {
  content: "\10f603";
}

.fad.fa-lock:after {
  content: "\10f023";
}

.fad.fa-lock-alt:after {
  content: "\10f30d";
}

.fad.fa-lock-open:after {
  content: "\10f3c1";
}

.fad.fa-lock-open-alt:after {
  content: "\10f3c2";
}

.fad.fa-long-arrow-alt-down:after {
  content: "\10f309";
}

.fad.fa-long-arrow-alt-left:after {
  content: "\10f30a";
}

.fad.fa-long-arrow-alt-right:after {
  content: "\10f30b";
}

.fad.fa-long-arrow-alt-up:after {
  content: "\10f30c";
}

.fad.fa-long-arrow-down:after {
  content: "\10f175";
}

.fad.fa-long-arrow-left:after {
  content: "\10f177";
}

.fad.fa-long-arrow-right:after {
  content: "\10f178";
}

.fad.fa-long-arrow-up:after {
  content: "\10f176";
}

.fad.fa-loveseat:after {
  content: "\10f4cc";
}

.fad.fa-low-vision:after {
  content: "\10f2a8";
}

.fad.fa-luchador:after {
  content: "\10f455";
}

.fad.fa-luggage-cart:after {
  content: "\10f59d";
}

.fad.fa-lungs:after {
  content: "\10f604";
}

.fad.fa-mace:after {
  content: "\10f6f8";
}

.fad.fa-magic:after {
  content: "\10f0d0";
}

.fad.fa-magnet:after {
  content: "\10f076";
}

.fad.fa-mail-bulk:after {
  content: "\10f674";
}

.fad.fa-mailbox:after {
  content: "\10f813";
}

.fad.fa-male:after {
  content: "\10f183";
}

.fad.fa-mandolin:after {
  content: "\10f6f9";
}

.fad.fa-map:after {
  content: "\10f279";
}

.fad.fa-map-marked:after {
  content: "\10f59f";
}

.fad.fa-map-marked-alt:after {
  content: "\10f5a0";
}

.fad.fa-map-marker:after {
  content: "\10f041";
}

.fad.fa-map-marker-alt:after {
  content: "\10f3c5";
}

.fad.fa-map-marker-alt-slash:after {
  content: "\10f605";
}

.fad.fa-map-marker-check:after {
  content: "\10f606";
}

.fad.fa-map-marker-edit:after {
  content: "\10f607";
}

.fad.fa-map-marker-exclamation:after {
  content: "\10f608";
}

.fad.fa-map-marker-minus:after {
  content: "\10f609";
}

.fad.fa-map-marker-plus:after {
  content: "\10f60a";
}

.fad.fa-map-marker-question:after {
  content: "\10f60b";
}

.fad.fa-map-marker-slash:after {
  content: "\10f60c";
}

.fad.fa-map-marker-smile:after {
  content: "\10f60d";
}

.fad.fa-map-marker-times:after {
  content: "\10f60e";
}

.fad.fa-map-pin:after {
  content: "\10f276";
}

.fad.fa-map-signs:after {
  content: "\10f277";
}

.fad.fa-marker:after {
  content: "\10f5a1";
}

.fad.fa-mars:after {
  content: "\10f222";
}

.fad.fa-mars-double:after {
  content: "\10f227";
}

.fad.fa-mars-stroke:after {
  content: "\10f229";
}

.fad.fa-mars-stroke-h:after {
  content: "\10f22b";
}

.fad.fa-mars-stroke-v:after {
  content: "\10f22a";
}

.fad.fa-mask:after {
  content: "\10f6fa";
}

.fad.fa-meat:after {
  content: "\10f814";
}

.fad.fa-medal:after {
  content: "\10f5a2";
}

.fad.fa-medkit:after {
  content: "\10f0fa";
}

.fad.fa-megaphone:after {
  content: "\10f675";
}

.fad.fa-meh:after {
  content: "\10f11a";
}

.fad.fa-meh-blank:after {
  content: "\10f5a4";
}

.fad.fa-meh-rolling-eyes:after {
  content: "\10f5a5";
}

.fad.fa-memory:after {
  content: "\10f538";
}

.fad.fa-menorah:after {
  content: "\10f676";
}

.fad.fa-mercury:after {
  content: "\10f223";
}

.fad.fa-meteor:after {
  content: "\10f753";
}

.fad.fa-microchip:after {
  content: "\10f2db";
}

.fad.fa-microphone:after {
  content: "\10f130";
}

.fad.fa-microphone-alt:after {
  content: "\10f3c9";
}

.fad.fa-microphone-alt-slash:after {
  content: "\10f539";
}

.fad.fa-microphone-slash:after {
  content: "\10f131";
}

.fad.fa-microphone-stand:after {
  content: "\10f8cb";
}

.fad.fa-microscope:after {
  content: "\10f610";
}

.fad.fa-microwave:after {
  content: "\10f91b";
}

.fad.fa-mind-share:after {
  content: "\10f677";
}

.fad.fa-minus:after {
  content: "\10f068";
}

.fad.fa-minus-circle:after {
  content: "\10f056";
}

.fad.fa-minus-hexagon:after {
  content: "\10f307";
}

.fad.fa-minus-octagon:after {
  content: "\10f308";
}

.fad.fa-minus-square:after {
  content: "\10f146";
}

.fad.fa-mistletoe:after {
  content: "\10f7b4";
}

.fad.fa-mitten:after {
  content: "\10f7b5";
}

.fad.fa-mobile:after {
  content: "\10f10b";
}

.fad.fa-mobile-alt:after {
  content: "\10f3cd";
}

.fad.fa-mobile-android:after {
  content: "\10f3ce";
}

.fad.fa-mobile-android-alt:after {
  content: "\10f3cf";
}

.fad.fa-money-bill:after {
  content: "\10f0d6";
}

.fad.fa-money-bill-alt:after {
  content: "\10f3d1";
}

.fad.fa-money-bill-wave:after {
  content: "\10f53a";
}

.fad.fa-money-bill-wave-alt:after {
  content: "\10f53b";
}

.fad.fa-money-check:after {
  content: "\10f53c";
}

.fad.fa-money-check-alt:after {
  content: "\10f53d";
}

.fad.fa-money-check-edit:after {
  content: "\10f872";
}

.fad.fa-money-check-edit-alt:after {
  content: "\10f873";
}

.fad.fa-monitor-heart-rate:after {
  content: "\10f611";
}

.fad.fa-monkey:after {
  content: "\10f6fb";
}

.fad.fa-monument:after {
  content: "\10f5a6";
}

.fad.fa-moon:after {
  content: "\10f186";
}

.fad.fa-moon-cloud:after {
  content: "\10f754";
}

.fad.fa-moon-stars:after {
  content: "\10f755";
}

.fad.fa-mortar-pestle:after {
  content: "\10f5a7";
}

.fad.fa-mosque:after {
  content: "\10f678";
}

.fad.fa-motorcycle:after {
  content: "\10f21c";
}

.fad.fa-mountain:after {
  content: "\10f6fc";
}

.fad.fa-mountains:after {
  content: "\10f6fd";
}

.fad.fa-mouse:after {
  content: "\10f8cc";
}

.fad.fa-mouse-alt:after {
  content: "\10f8cd";
}

.fad.fa-mouse-pointer:after {
  content: "\10f245";
}

.fad.fa-mp3-player:after {
  content: "\10f8ce";
}

.fad.fa-mug:after {
  content: "\10f874";
}

.fad.fa-mug-hot:after {
  content: "\10f7b6";
}

.fad.fa-mug-marshmallows:after {
  content: "\10f7b7";
}

.fad.fa-mug-tea:after {
  content: "\10f875";
}

.fad.fa-music:after {
  content: "\10f001";
}

.fad.fa-music-alt:after {
  content: "\10f8cf";
}

.fad.fa-music-alt-slash:after {
  content: "\10f8d0";
}

.fad.fa-music-slash:after {
  content: "\10f8d1";
}

.fad.fa-narwhal:after {
  content: "\10f6fe";
}

.fad.fa-network-wired:after {
  content: "\10f6ff";
}

.fad.fa-neuter:after {
  content: "\10f22c";
}

.fad.fa-newspaper:after {
  content: "\10f1ea";
}

.fad.fa-not-equal:after {
  content: "\10f53e";
}

.fad.fa-notes-medical:after {
  content: "\10f481";
}

.fad.fa-object-group:after {
  content: "\10f247";
}

.fad.fa-object-ungroup:after {
  content: "\10f248";
}

.fad.fa-octagon:after {
  content: "\10f306";
}

.fad.fa-oil-can:after {
  content: "\10f613";
}

.fad.fa-oil-temp:after {
  content: "\10f614";
}

.fad.fa-om:after {
  content: "\10f679";
}

.fad.fa-omega:after {
  content: "\10f67a";
}

.fad.fa-ornament:after {
  content: "\10f7b8";
}

.fad.fa-otter:after {
  content: "\10f700";
}

.fad.fa-outdent:after {
  content: "\10f03b";
}

.fad.fa-outlet:after {
  content: "\10f91c";
}

.fad.fa-oven:after {
  content: "\10f91d";
}

.fad.fa-overline:after {
  content: "\10f876";
}

.fad.fa-page-break:after {
  content: "\10f877";
}

.fad.fa-pager:after {
  content: "\10f815";
}

.fad.fa-paint-brush:after {
  content: "\10f1fc";
}

.fad.fa-paint-brush-alt:after {
  content: "\10f5a9";
}

.fad.fa-paint-roller:after {
  content: "\10f5aa";
}

.fad.fa-palette:after {
  content: "\10f53f";
}

.fad.fa-pallet:after {
  content: "\10f482";
}

.fad.fa-pallet-alt:after {
  content: "\10f483";
}

.fad.fa-paper-plane:after {
  content: "\10f1d8";
}

.fad.fa-paperclip:after {
  content: "\10f0c6";
}

.fad.fa-parachute-box:after {
  content: "\10f4cd";
}

.fad.fa-paragraph:after {
  content: "\10f1dd";
}

.fad.fa-paragraph-rtl:after {
  content: "\10f878";
}

.fad.fa-parking:after {
  content: "\10f540";
}

.fad.fa-parking-circle:after {
  content: "\10f615";
}

.fad.fa-parking-circle-slash:after {
  content: "\10f616";
}

.fad.fa-parking-slash:after {
  content: "\10f617";
}

.fad.fa-passport:after {
  content: "\10f5ab";
}

.fad.fa-pastafarianism:after {
  content: "\10f67b";
}

.fad.fa-paste:after {
  content: "\10f0ea";
}

.fad.fa-pause:after {
  content: "\10f04c";
}

.fad.fa-pause-circle:after {
  content: "\10f28b";
}

.fad.fa-paw:after {
  content: "\10f1b0";
}

.fad.fa-paw-alt:after {
  content: "\10f701";
}

.fad.fa-paw-claws:after {
  content: "\10f702";
}

.fad.fa-peace:after {
  content: "\10f67c";
}

.fad.fa-pegasus:after {
  content: "\10f703";
}

.fad.fa-pen:after {
  content: "\10f304";
}

.fad.fa-pen-alt:after {
  content: "\10f305";
}

.fad.fa-pen-fancy:after {
  content: "\10f5ac";
}

.fad.fa-pen-nib:after {
  content: "\10f5ad";
}

.fad.fa-pen-square:after {
  content: "\10f14b";
}

.fad.fa-pencil:after {
  content: "\10f040";
}

.fad.fa-pencil-alt:after {
  content: "\10f303";
}

.fad.fa-pencil-paintbrush:after {
  content: "\10f618";
}

.fad.fa-pencil-ruler:after {
  content: "\10f5ae";
}

.fad.fa-pennant:after {
  content: "\10f456";
}

.fad.fa-people-carry:after {
  content: "\10f4ce";
}

.fad.fa-pepper-hot:after {
  content: "\10f816";
}

.fad.fa-percent:after {
  content: "\10f295";
}

.fad.fa-percentage:after {
  content: "\10f541";
}

.fad.fa-person-booth:after {
  content: "\10f756";
}

.fad.fa-person-carry:after {
  content: "\10f4cf";
}

.fad.fa-person-dolly:after {
  content: "\10f4d0";
}

.fad.fa-person-dolly-empty:after {
  content: "\10f4d1";
}

.fad.fa-person-sign:after {
  content: "\10f757";
}

.fad.fa-phone:after {
  content: "\10f095";
}

.fad.fa-phone-alt:after {
  content: "\10f879";
}

.fad.fa-phone-laptop:after {
  content: "\10f87a";
}

.fad.fa-phone-office:after {
  content: "\10f67d";
}

.fad.fa-phone-plus:after {
  content: "\10f4d2";
}

.fad.fa-phone-rotary:after {
  content: "\10f8d3";
}

.fad.fa-phone-slash:after {
  content: "\10f3dd";
}

.fad.fa-phone-square:after {
  content: "\10f098";
}

.fad.fa-phone-square-alt:after {
  content: "\10f87b";
}

.fad.fa-phone-volume:after {
  content: "\10f2a0";
}

.fad.fa-photo-video:after {
  content: "\10f87c";
}

.fad.fa-pi:after {
  content: "\10f67e";
}

.fad.fa-piano:after {
  content: "\10f8d4";
}

.fad.fa-piano-keyboard:after {
  content: "\10f8d5";
}

.fad.fa-pie:after {
  content: "\10f705";
}

.fad.fa-pig:after {
  content: "\10f706";
}

.fad.fa-piggy-bank:after {
  content: "\10f4d3";
}

.fad.fa-pills:after {
  content: "\10f484";
}

.fad.fa-pizza:after {
  content: "\10f817";
}

.fad.fa-pizza-slice:after {
  content: "\10f818";
}

.fad.fa-place-of-worship:after {
  content: "\10f67f";
}

.fad.fa-plane:after {
  content: "\10f072";
}

.fad.fa-plane-alt:after {
  content: "\10f3de";
}

.fad.fa-plane-arrival:after {
  content: "\10f5af";
}

.fad.fa-plane-departure:after {
  content: "\10f5b0";
}

.fad.fa-planet-moon:after {
  content: "\10f91f";
}

.fad.fa-planet-ringed:after {
  content: "\10f920";
}

.fad.fa-play:after {
  content: "\10f04b";
}

.fad.fa-play-circle:after {
  content: "\10f144";
}

.fad.fa-plug:after {
  content: "\10f1e6";
}

.fad.fa-plus:after {
  content: "\10f067";
}

.fad.fa-plus-circle:after {
  content: "\10f055";
}

.fad.fa-plus-hexagon:after {
  content: "\10f300";
}

.fad.fa-plus-octagon:after {
  content: "\10f301";
}

.fad.fa-plus-square:after {
  content: "\10f0fe";
}

.fad.fa-podcast:after {
  content: "\10f2ce";
}

.fad.fa-podium:after {
  content: "\10f680";
}

.fad.fa-podium-star:after {
  content: "\10f758";
}

.fad.fa-police-box:after {
  content: "\10f921";
}

.fad.fa-poll:after {
  content: "\10f681";
}

.fad.fa-poll-h:after {
  content: "\10f682";
}

.fad.fa-poll-people:after {
  content: "\10f759";
}

.fad.fa-poo:after {
  content: "\10f2fe";
}

.fad.fa-poo-storm:after {
  content: "\10f75a";
}

.fad.fa-poop:after {
  content: "\10f619";
}

.fad.fa-popcorn:after {
  content: "\10f819";
}

.fad.fa-portal-enter:after {
  content: "\10f922";
}

.fad.fa-portal-exit:after {
  content: "\10f923";
}

.fad.fa-portrait:after {
  content: "\10f3e0";
}

.fad.fa-pound-sign:after {
  content: "\10f154";
}

.fad.fa-power-off:after {
  content: "\10f011";
}

.fad.fa-pray:after {
  content: "\10f683";
}

.fad.fa-praying-hands:after {
  content: "\10f684";
}

.fad.fa-prescription:after {
  content: "\10f5b1";
}

.fad.fa-prescription-bottle:after {
  content: "\10f485";
}

.fad.fa-prescription-bottle-alt:after {
  content: "\10f486";
}

.fad.fa-presentation:after {
  content: "\10f685";
}

.fad.fa-print:after {
  content: "\10f02f";
}

.fad.fa-print-search:after {
  content: "\10f81a";
}

.fad.fa-print-slash:after {
  content: "\10f686";
}

.fad.fa-procedures:after {
  content: "\10f487";
}

.fad.fa-project-diagram:after {
  content: "\10f542";
}

.fad.fa-projector:after {
  content: "\10f8d6";
}

.fad.fa-pumpkin:after {
  content: "\10f707";
}

.fad.fa-puzzle-piece:after {
  content: "\10f12e";
}

.fad.fa-qrcode:after {
  content: "\10f029";
}

.fad.fa-question:after {
  content: "\10f128";
}

.fad.fa-question-circle:after {
  content: "\10f059";
}

.fad.fa-question-square:after {
  content: "\10f2fd";
}

.fad.fa-quidditch:after {
  content: "\10f458";
}

.fad.fa-quote-left:after {
  content: "\10f10d";
}

.fad.fa-quote-right:after {
  content: "\10f10e";
}

.fad.fa-quran:after {
  content: "\10f687";
}

.fad.fa-rabbit:after {
  content: "\10f708";
}

.fad.fa-rabbit-fast:after {
  content: "\10f709";
}

.fad.fa-racquet:after {
  content: "\10f45a";
}

.fad.fa-radar:after {
  content: "\10f924";
}

.fad.fa-radiation:after {
  content: "\10f7b9";
}

.fad.fa-radiation-alt:after {
  content: "\10f7ba";
}

.fad.fa-radio:after {
  content: "\10f8d7";
}

.fad.fa-radio-alt:after {
  content: "\10f8d8";
}

.fad.fa-rainbow:after {
  content: "\10f75b";
}

.fad.fa-raindrops:after {
  content: "\10f75c";
}

.fad.fa-ram:after {
  content: "\10f70a";
}

.fad.fa-ramp-loading:after {
  content: "\10f4d4";
}

.fad.fa-random:after {
  content: "\10f074";
}

.fad.fa-raygun:after {
  content: "\10f925";
}

.fad.fa-receipt:after {
  content: "\10f543";
}

.fad.fa-record-vinyl:after {
  content: "\10f8d9";
}

.fad.fa-rectangle-landscape:after {
  content: "\10f2fa";
}

.fad.fa-rectangle-portrait:after {
  content: "\10f2fb";
}

.fad.fa-rectangle-wide:after {
  content: "\10f2fc";
}

.fad.fa-recycle:after {
  content: "\10f1b8";
}

.fad.fa-redo:after {
  content: "\10f01e";
}

.fad.fa-redo-alt:after {
  content: "\10f2f9";
}

.fad.fa-refrigerator:after {
  content: "\10f926";
}

.fad.fa-registered:after {
  content: "\10f25d";
}

.fad.fa-remove-format:after {
  content: "\10f87d";
}

.fad.fa-repeat:after {
  content: "\10f363";
}

.fad.fa-repeat-1:after {
  content: "\10f365";
}

.fad.fa-repeat-1-alt:after {
  content: "\10f366";
}

.fad.fa-repeat-alt:after {
  content: "\10f364";
}

.fad.fa-reply:after {
  content: "\10f3e5";
}

.fad.fa-reply-all:after {
  content: "\10f122";
}

.fad.fa-republican:after {
  content: "\10f75e";
}

.fad.fa-restroom:after {
  content: "\10f7bd";
}

.fad.fa-retweet:after {
  content: "\10f079";
}

.fad.fa-retweet-alt:after {
  content: "\10f361";
}

.fad.fa-ribbon:after {
  content: "\10f4d6";
}

.fad.fa-ring:after {
  content: "\10f70b";
}

.fad.fa-rings-wedding:after {
  content: "\10f81b";
}

.fad.fa-road:after {
  content: "\10f018";
}

.fad.fa-robot:after {
  content: "\10f544";
}

.fad.fa-rocket:after {
  content: "\10f135";
}

.fad.fa-rocket-launch:after {
  content: "\10f927";
}

.fad.fa-route:after {
  content: "\10f4d7";
}

.fad.fa-route-highway:after {
  content: "\10f61a";
}

.fad.fa-route-interstate:after {
  content: "\10f61b";
}

.fad.fa-router:after {
  content: "\10f8da";
}

.fad.fa-rss:after {
  content: "\10f09e";
}

.fad.fa-rss-square:after {
  content: "\10f143";
}

.fad.fa-ruble-sign:after {
  content: "\10f158";
}

.fad.fa-ruler:after {
  content: "\10f545";
}

.fad.fa-ruler-combined:after {
  content: "\10f546";
}

.fad.fa-ruler-horizontal:after {
  content: "\10f547";
}

.fad.fa-ruler-triangle:after {
  content: "\10f61c";
}

.fad.fa-ruler-vertical:after {
  content: "\10f548";
}

.fad.fa-running:after {
  content: "\10f70c";
}

.fad.fa-rupee-sign:after {
  content: "\10f156";
}

.fad.fa-rv:after {
  content: "\10f7be";
}

.fad.fa-sack:after {
  content: "\10f81c";
}

.fad.fa-sack-dollar:after {
  content: "\10f81d";
}

.fad.fa-sad-cry:after {
  content: "\10f5b3";
}

.fad.fa-sad-tear:after {
  content: "\10f5b4";
}

.fad.fa-salad:after {
  content: "\10f81e";
}

.fad.fa-sandwich:after {
  content: "\10f81f";
}

.fad.fa-satellite:after {
  content: "\10f7bf";
}

.fad.fa-satellite-dish:after {
  content: "\10f7c0";
}

.fad.fa-sausage:after {
  content: "\10f820";
}

.fad.fa-save:after {
  content: "\10f0c7";
}

.fad.fa-sax-hot:after {
  content: "\10f8db";
}

.fad.fa-saxophone:after {
  content: "\10f8dc";
}

.fad.fa-scalpel:after {
  content: "\10f61d";
}

.fad.fa-scalpel-path:after {
  content: "\10f61e";
}

.fad.fa-scanner:after {
  content: "\10f488";
}

.fad.fa-scanner-image:after {
  content: "\10f8f3";
}

.fad.fa-scanner-keyboard:after {
  content: "\10f489";
}

.fad.fa-scanner-touchscreen:after {
  content: "\10f48a";
}

.fad.fa-scarecrow:after {
  content: "\10f70d";
}

.fad.fa-scarf:after {
  content: "\10f7c1";
}

.fad.fa-school:after {
  content: "\10f549";
}

.fad.fa-screwdriver:after {
  content: "\10f54a";
}

.fad.fa-scroll:after {
  content: "\10f70e";
}

.fad.fa-scroll-old:after {
  content: "\10f70f";
}

.fad.fa-scrubber:after {
  content: "\10f2f8";
}

.fad.fa-scythe:after {
  content: "\10f710";
}

.fad.fa-sd-card:after {
  content: "\10f7c2";
}

.fad.fa-search:after {
  content: "\10f002";
}

.fad.fa-search-dollar:after {
  content: "\10f688";
}

.fad.fa-search-location:after {
  content: "\10f689";
}

.fad.fa-search-minus:after {
  content: "\10f010";
}

.fad.fa-search-plus:after {
  content: "\10f00e";
}

.fad.fa-seedling:after {
  content: "\10f4d8";
}

.fad.fa-send-back:after {
  content: "\10f87e";
}

.fad.fa-send-backward:after {
  content: "\10f87f";
}

.fad.fa-sensor:after {
  content: "\10f928";
}

.fad.fa-sensor-alert:after {
  content: "\10f929";
}

.fad.fa-sensor-fire:after {
  content: "\10f92a";
}

.fad.fa-sensor-on:after {
  content: "\10f92b";
}

.fad.fa-sensor-smoke:after {
  content: "\10f92c";
}

.fad.fa-server:after {
  content: "\10f233";
}

.fad.fa-shapes:after {
  content: "\10f61f";
}

.fad.fa-share:after {
  content: "\10f064";
}

.fad.fa-share-all:after {
  content: "\10f367";
}

.fad.fa-share-alt:after {
  content: "\10f1e0";
}

.fad.fa-share-alt-square:after {
  content: "\10f1e1";
}

.fad.fa-share-square:after {
  content: "\10f14d";
}

.fad.fa-sheep:after {
  content: "\10f711";
}

.fad.fa-shekel-sign:after {
  content: "\10f20b";
}

.fad.fa-shield:after {
  content: "\10f132";
}

.fad.fa-shield-alt:after {
  content: "\10f3ed";
}

.fad.fa-shield-check:after {
  content: "\10f2f7";
}

.fad.fa-shield-cross:after {
  content: "\10f712";
}

.fad.fa-ship:after {
  content: "\10f21a";
}

.fad.fa-shipping-fast:after {
  content: "\10f48b";
}

.fad.fa-shipping-timed:after {
  content: "\10f48c";
}

.fad.fa-shish-kebab:after {
  content: "\10f821";
}

.fad.fa-shoe-prints:after {
  content: "\10f54b";
}

.fad.fa-shopping-bag:after {
  content: "\10f290";
}

.fad.fa-shopping-basket:after {
  content: "\10f291";
}

.fad.fa-shopping-cart:after {
  content: "\10f07a";
}

.fad.fa-shovel:after {
  content: "\10f713";
}

.fad.fa-shovel-snow:after {
  content: "\10f7c3";
}

.fad.fa-shower:after {
  content: "\10f2cc";
}

.fad.fa-shredder:after {
  content: "\10f68a";
}

.fad.fa-shuttle-van:after {
  content: "\10f5b6";
}

.fad.fa-shuttlecock:after {
  content: "\10f45b";
}

.fad.fa-sickle:after {
  content: "\10f822";
}

.fad.fa-sigma:after {
  content: "\10f68b";
}

.fad.fa-sign:after {
  content: "\10f4d9";
}

.fad.fa-sign-in:after {
  content: "\10f090";
}

.fad.fa-sign-in-alt:after {
  content: "\10f2f6";
}

.fad.fa-sign-language:after {
  content: "\10f2a7";
}

.fad.fa-sign-out:after {
  content: "\10f08b";
}

.fad.fa-sign-out-alt:after {
  content: "\10f2f5";
}

.fad.fa-signal:after {
  content: "\10f012";
}

.fad.fa-signal-1:after {
  content: "\10f68c";
}

.fad.fa-signal-2:after {
  content: "\10f68d";
}

.fad.fa-signal-3:after {
  content: "\10f68e";
}

.fad.fa-signal-4:after {
  content: "\10f68f";
}

.fad.fa-signal-alt:after {
  content: "\10f690";
}

.fad.fa-signal-alt-1:after {
  content: "\10f691";
}

.fad.fa-signal-alt-2:after {
  content: "\10f692";
}

.fad.fa-signal-alt-3:after {
  content: "\10f693";
}

.fad.fa-signal-alt-slash:after {
  content: "\10f694";
}

.fad.fa-signal-slash:after {
  content: "\10f695";
}

.fad.fa-signal-stream:after {
  content: "\10f8dd";
}

.fad.fa-signature:after {
  content: "\10f5b7";
}

.fad.fa-sim-card:after {
  content: "\10f7c4";
}

.fad.fa-siren:after {
  content: "\10f92d";
}

.fad.fa-siren-on:after {
  content: "\10f92e";
}

.fad.fa-sitemap:after {
  content: "\10f0e8";
}

.fad.fa-skating:after {
  content: "\10f7c5";
}

.fad.fa-skeleton:after {
  content: "\10f620";
}

.fad.fa-ski-jump:after {
  content: "\10f7c7";
}

.fad.fa-ski-lift:after {
  content: "\10f7c8";
}

.fad.fa-skiing:after {
  content: "\10f7c9";
}

.fad.fa-skiing-nordic:after {
  content: "\10f7ca";
}

.fad.fa-skull:after {
  content: "\10f54c";
}

.fad.fa-skull-cow:after {
  content: "\10f8de";
}

.fad.fa-skull-crossbones:after {
  content: "\10f714";
}

.fad.fa-slash:after {
  content: "\10f715";
}

.fad.fa-sledding:after {
  content: "\10f7cb";
}

.fad.fa-sleigh:after {
  content: "\10f7cc";
}

.fad.fa-sliders-h:after {
  content: "\10f1de";
}

.fad.fa-sliders-h-square:after {
  content: "\10f3f0";
}

.fad.fa-sliders-v:after {
  content: "\10f3f1";
}

.fad.fa-sliders-v-square:after {
  content: "\10f3f2";
}

.fad.fa-smile:after {
  content: "\10f118";
}

.fad.fa-smile-beam:after {
  content: "\10f5b8";
}

.fad.fa-smile-plus:after {
  content: "\10f5b9";
}

.fad.fa-smile-wink:after {
  content: "\10f4da";
}

.fad.fa-smog:after {
  content: "\10f75f";
}

.fad.fa-smoke:after {
  content: "\10f760";
}

.fad.fa-smoking:after {
  content: "\10f48d";
}

.fad.fa-smoking-ban:after {
  content: "\10f54d";
}

.fad.fa-sms:after {
  content: "\10f7cd";
}

.fad.fa-snake:after {
  content: "\10f716";
}

.fad.fa-snooze:after {
  content: "\10f880";
}

.fad.fa-snow-blowing:after {
  content: "\10f761";
}

.fad.fa-snowboarding:after {
  content: "\10f7ce";
}

.fad.fa-snowflake:after {
  content: "\10f2dc";
}

.fad.fa-snowflakes:after {
  content: "\10f7cf";
}

.fad.fa-snowman:after {
  content: "\10f7d0";
}

.fad.fa-snowmobile:after {
  content: "\10f7d1";
}

.fad.fa-snowplow:after {
  content: "\10f7d2";
}

.fad.fa-socks:after {
  content: "\10f696";
}

.fad.fa-solar-panel:after {
  content: "\10f5ba";
}

.fad.fa-solar-system:after {
  content: "\10f92f";
}

.fad.fa-sort:after {
  content: "\10f0dc";
}

.fad.fa-sort-alpha-down:after {
  content: "\10f15d";
}

.fad.fa-sort-alpha-down-alt:after {
  content: "\10f881";
}

.fad.fa-sort-alpha-up:after {
  content: "\10f15e";
}

.fad.fa-sort-alpha-up-alt:after {
  content: "\10f882";
}

.fad.fa-sort-alt:after {
  content: "\10f883";
}

.fad.fa-sort-amount-down:after {
  content: "\10f160";
}

.fad.fa-sort-amount-down-alt:after {
  content: "\10f884";
}

.fad.fa-sort-amount-up:after {
  content: "\10f161";
}

.fad.fa-sort-amount-up-alt:after {
  content: "\10f885";
}

.fad.fa-sort-circle:after {
  content: "\10f930";
}

.fad.fa-sort-circle-down:after {
  content: "\10f931";
}

.fad.fa-sort-circle-up:after {
  content: "\10f932";
}

.fad.fa-sort-down:after {
  content: "\10f0dd";
}

.fad.fa-sort-numeric-down:after {
  content: "\10f162";
}

.fad.fa-sort-numeric-down-alt:after {
  content: "\10f886";
}

.fad.fa-sort-numeric-up:after {
  content: "\10f163";
}

.fad.fa-sort-numeric-up-alt:after {
  content: "\10f887";
}

.fad.fa-sort-shapes-down:after {
  content: "\10f888";
}

.fad.fa-sort-shapes-down-alt:after {
  content: "\10f889";
}

.fad.fa-sort-shapes-up:after {
  content: "\10f88a";
}

.fad.fa-sort-shapes-up-alt:after {
  content: "\10f88b";
}

.fad.fa-sort-size-down:after {
  content: "\10f88c";
}

.fad.fa-sort-size-down-alt:after {
  content: "\10f88d";
}

.fad.fa-sort-size-up:after {
  content: "\10f88e";
}

.fad.fa-sort-size-up-alt:after {
  content: "\10f88f";
}

.fad.fa-sort-up:after {
  content: "\10f0de";
}

.fad.fa-soup:after {
  content: "\10f823";
}

.fad.fa-spa:after {
  content: "\10f5bb";
}

.fad.fa-space-shuttle:after {
  content: "\10f197";
}

.fad.fa-space-station-moon:after {
  content: "\10f933";
}

.fad.fa-space-station-moon-alt:after {
  content: "\10f934";
}

.fad.fa-spade:after {
  content: "\10f2f4";
}

.fad.fa-sparkles:after {
  content: "\10f890";
}

.fad.fa-speaker:after {
  content: "\10f8df";
}

.fad.fa-speakers:after {
  content: "\10f8e0";
}

.fad.fa-spell-check:after {
  content: "\10f891";
}

.fad.fa-spider:after {
  content: "\10f717";
}

.fad.fa-spider-black-widow:after {
  content: "\10f718";
}

.fad.fa-spider-web:after {
  content: "\10f719";
}

.fad.fa-spinner:after {
  content: "\10f110";
}

.fad.fa-spinner-third:after {
  content: "\10f3f4";
}

.fad.fa-splotch:after {
  content: "\10f5bc";
}

.fad.fa-spray-can:after {
  content: "\10f5bd";
}

.fad.fa-sprinkler:after {
  content: "\10f935";
}

.fad.fa-square:after {
  content: "\10f0c8";
}

.fad.fa-square-full:after {
  content: "\10f45c";
}

.fad.fa-square-root:after {
  content: "\10f697";
}

.fad.fa-square-root-alt:after {
  content: "\10f698";
}

.fad.fa-squirrel:after {
  content: "\10f71a";
}

.fad.fa-staff:after {
  content: "\10f71b";
}

.fad.fa-stamp:after {
  content: "\10f5bf";
}

.fad.fa-star:after {
  content: "\10f005";
}

.fad.fa-star-and-crescent:after {
  content: "\10f699";
}

.fad.fa-star-christmas:after {
  content: "\10f7d4";
}

.fad.fa-star-exclamation:after {
  content: "\10f2f3";
}

.fad.fa-star-half:after {
  content: "\10f089";
}

.fad.fa-star-half-alt:after {
  content: "\10f5c0";
}

.fad.fa-star-of-david:after {
  content: "\10f69a";
}

.fad.fa-star-of-life:after {
  content: "\10f621";
}

.fad.fa-star-shooting:after {
  content: "\10f936";
}

.fad.fa-starfighter:after {
  content: "\10f937";
}

.fad.fa-starfighter-alt:after {
  content: "\10f938";
}

.fad.fa-stars:after {
  content: "\10f762";
}

.fad.fa-starship:after {
  content: "\10f939";
}

.fad.fa-starship-freighter:after {
  content: "\10f93a";
}

.fad.fa-steak:after {
  content: "\10f824";
}

.fad.fa-steering-wheel:after {
  content: "\10f622";
}

.fad.fa-step-backward:after {
  content: "\10f048";
}

.fad.fa-step-forward:after {
  content: "\10f051";
}

.fad.fa-stethoscope:after {
  content: "\10f0f1";
}

.fad.fa-sticky-note:after {
  content: "\10f249";
}

.fad.fa-stocking:after {
  content: "\10f7d5";
}

.fad.fa-stomach:after {
  content: "\10f623";
}

.fad.fa-stop:after {
  content: "\10f04d";
}

.fad.fa-stop-circle:after {
  content: "\10f28d";
}

.fad.fa-stopwatch:after {
  content: "\10f2f2";
}

.fad.fa-store:after {
  content: "\10f54e";
}

.fad.fa-store-alt:after {
  content: "\10f54f";
}

.fad.fa-stream:after {
  content: "\10f550";
}

.fad.fa-street-view:after {
  content: "\10f21d";
}

.fad.fa-stretcher:after {
  content: "\10f825";
}

.fad.fa-strikethrough:after {
  content: "\10f0cc";
}

.fad.fa-stroopwafel:after {
  content: "\10f551";
}

.fad.fa-subscript:after {
  content: "\10f12c";
}

.fad.fa-subway:after {
  content: "\10f239";
}

.fad.fa-suitcase:after {
  content: "\10f0f2";
}

.fad.fa-suitcase-rolling:after {
  content: "\10f5c1";
}

.fad.fa-sun:after {
  content: "\10f185";
}

.fad.fa-sun-cloud:after {
  content: "\10f763";
}

.fad.fa-sun-dust:after {
  content: "\10f764";
}

.fad.fa-sun-haze:after {
  content: "\10f765";
}

.fad.fa-sunglasses:after {
  content: "\10f892";
}

.fad.fa-sunrise:after {
  content: "\10f766";
}

.fad.fa-sunset:after {
  content: "\10f767";
}

.fad.fa-superscript:after {
  content: "\10f12b";
}

.fad.fa-surprise:after {
  content: "\10f5c2";
}

.fad.fa-swatchbook:after {
  content: "\10f5c3";
}

.fad.fa-swimmer:after {
  content: "\10f5c4";
}

.fad.fa-swimming-pool:after {
  content: "\10f5c5";
}

.fad.fa-sword:after {
  content: "\10f71c";
}

.fad.fa-sword-laser:after {
  content: "\10f93b";
}

.fad.fa-sword-laser-alt:after {
  content: "\10f93c";
}

.fad.fa-swords:after {
  content: "\10f71d";
}

.fad.fa-swords-laser:after {
  content: "\10f93d";
}

.fad.fa-synagogue:after {
  content: "\10f69b";
}

.fad.fa-sync:after {
  content: "\10f021";
}

.fad.fa-sync-alt:after {
  content: "\10f2f1";
}

.fad.fa-syringe:after {
  content: "\10f48e";
}

.fad.fa-table:after {
  content: "\10f0ce";
}

.fad.fa-table-tennis:after {
  content: "\10f45d";
}

.fad.fa-tablet:after {
  content: "\10f10a";
}

.fad.fa-tablet-alt:after {
  content: "\10f3fa";
}

.fad.fa-tablet-android:after {
  content: "\10f3fb";
}

.fad.fa-tablet-android-alt:after {
  content: "\10f3fc";
}

.fad.fa-tablet-rugged:after {
  content: "\10f48f";
}

.fad.fa-tablets:after {
  content: "\10f490";
}

.fad.fa-tachometer:after {
  content: "\10f0e4";
}

.fad.fa-tachometer-alt:after {
  content: "\10f3fd";
}

.fad.fa-tachometer-alt-average:after {
  content: "\10f624";
}

.fad.fa-tachometer-alt-fast:after {
  content: "\10f625";
}

.fad.fa-tachometer-alt-fastest:after {
  content: "\10f626";
}

.fad.fa-tachometer-alt-slow:after {
  content: "\10f627";
}

.fad.fa-tachometer-alt-slowest:after {
  content: "\10f628";
}

.fad.fa-tachometer-average:after {
  content: "\10f629";
}

.fad.fa-tachometer-fast:after {
  content: "\10f62a";
}

.fad.fa-tachometer-fastest:after {
  content: "\10f62b";
}

.fad.fa-tachometer-slow:after {
  content: "\10f62c";
}

.fad.fa-tachometer-slowest:after {
  content: "\10f62d";
}

.fad.fa-taco:after {
  content: "\10f826";
}

.fad.fa-tag:after {
  content: "\10f02b";
}

.fad.fa-tags:after {
  content: "\10f02c";
}

.fad.fa-tally:after {
  content: "\10f69c";
}

.fad.fa-tanakh:after {
  content: "\10f827";
}

.fad.fa-tape:after {
  content: "\10f4db";
}

.fad.fa-tasks:after {
  content: "\10f0ae";
}

.fad.fa-tasks-alt:after {
  content: "\10f828";
}

.fad.fa-taxi:after {
  content: "\10f1ba";
}

.fad.fa-teeth:after {
  content: "\10f62e";
}

.fad.fa-teeth-open:after {
  content: "\10f62f";
}

.fad.fa-telescope:after {
  content: "\10f93e";
}

.fad.fa-temperature-down:after {
  content: "\10f93f";
}

.fad.fa-temperature-frigid:after {
  content: "\10f768";
}

.fad.fa-temperature-high:after {
  content: "\10f769";
}

.fad.fa-temperature-hot:after {
  content: "\10f76a";
}

.fad.fa-temperature-low:after {
  content: "\10f76b";
}

.fad.fa-temperature-up:after {
  content: "\10f940";
}

.fad.fa-tenge:after {
  content: "\10f7d7";
}

.fad.fa-tennis-ball:after {
  content: "\10f45e";
}

.fad.fa-terminal:after {
  content: "\10f120";
}

.fad.fa-text:after {
  content: "\10f893";
}

.fad.fa-text-height:after {
  content: "\10f034";
}

.fad.fa-text-size:after {
  content: "\10f894";
}

.fad.fa-text-width:after {
  content: "\10f035";
}

.fad.fa-th:after {
  content: "\10f00a";
}

.fad.fa-th-large:after {
  content: "\10f009";
}

.fad.fa-th-list:after {
  content: "\10f00b";
}

.fad.fa-theater-masks:after {
  content: "\10f630";
}

.fad.fa-thermometer:after {
  content: "\10f491";
}

.fad.fa-thermometer-empty:after {
  content: "\10f2cb";
}

.fad.fa-thermometer-full:after {
  content: "\10f2c7";
}

.fad.fa-thermometer-half:after {
  content: "\10f2c9";
}

.fad.fa-thermometer-quarter:after {
  content: "\10f2ca";
}

.fad.fa-thermometer-three-quarters:after {
  content: "\10f2c8";
}

.fad.fa-theta:after {
  content: "\10f69e";
}

.fad.fa-thumbs-down:after {
  content: "\10f165";
}

.fad.fa-thumbs-up:after {
  content: "\10f164";
}

.fad.fa-thumbtack:after {
  content: "\10f08d";
}

.fad.fa-thunderstorm:after {
  content: "\10f76c";
}

.fad.fa-thunderstorm-moon:after {
  content: "\10f76d";
}

.fad.fa-thunderstorm-sun:after {
  content: "\10f76e";
}

.fad.fa-ticket:after {
  content: "\10f145";
}

.fad.fa-ticket-alt:after {
  content: "\10f3ff";
}

.fad.fa-tilde:after {
  content: "\10f69f";
}

.fad.fa-times:after {
  content: "\10f00d";
}

.fad.fa-times-circle:after {
  content: "\10f057";
}

.fad.fa-times-hexagon:after {
  content: "\10f2ee";
}

.fad.fa-times-octagon:after {
  content: "\10f2f0";
}

.fad.fa-times-square:after {
  content: "\10f2d3";
}

.fad.fa-tint:after {
  content: "\10f043";
}

.fad.fa-tint-slash:after {
  content: "\10f5c7";
}

.fad.fa-tire:after {
  content: "\10f631";
}

.fad.fa-tire-flat:after {
  content: "\10f632";
}

.fad.fa-tire-pressure-warning:after {
  content: "\10f633";
}

.fad.fa-tire-rugged:after {
  content: "\10f634";
}

.fad.fa-tired:after {
  content: "\10f5c8";
}

.fad.fa-toggle-off:after {
  content: "\10f204";
}

.fad.fa-toggle-on:after {
  content: "\10f205";
}

.fad.fa-toilet:after {
  content: "\10f7d8";
}

.fad.fa-toilet-paper:after {
  content: "\10f71e";
}

.fad.fa-toilet-paper-alt:after {
  content: "\10f71f";
}

.fad.fa-tombstone:after {
  content: "\10f720";
}

.fad.fa-tombstone-alt:after {
  content: "\10f721";
}

.fad.fa-toolbox:after {
  content: "\10f552";
}

.fad.fa-tools:after {
  content: "\10f7d9";
}

.fad.fa-tooth:after {
  content: "\10f5c9";
}

.fad.fa-toothbrush:after {
  content: "\10f635";
}

.fad.fa-torah:after {
  content: "\10f6a0";
}

.fad.fa-torii-gate:after {
  content: "\10f6a1";
}

.fad.fa-tornado:after {
  content: "\10f76f";
}

.fad.fa-tractor:after {
  content: "\10f722";
}

.fad.fa-trademark:after {
  content: "\10f25c";
}

.fad.fa-traffic-cone:after {
  content: "\10f636";
}

.fad.fa-traffic-light:after {
  content: "\10f637";
}

.fad.fa-traffic-light-go:after {
  content: "\10f638";
}

.fad.fa-traffic-light-slow:after {
  content: "\10f639";
}

.fad.fa-traffic-light-stop:after {
  content: "\10f63a";
}

.fad.fa-trailer:after {
  content: "\10f941";
}

.fad.fa-train:after {
  content: "\10f238";
}

.fad.fa-tram:after {
  content: "\10f7da";
}

.fad.fa-transgender:after {
  content: "\10f224";
}

.fad.fa-transgender-alt:after {
  content: "\10f225";
}

.fad.fa-transporter:after {
  content: "\10f942";
}

.fad.fa-transporter-1:after {
  content: "\10f943";
}

.fad.fa-transporter-2:after {
  content: "\10f944";
}

.fad.fa-transporter-3:after {
  content: "\10f945";
}

.fad.fa-transporter-empty:after {
  content: "\10f946";
}

.fad.fa-trash:after {
  content: "\10f1f8";
}

.fad.fa-trash-alt:after {
  content: "\10f2ed";
}

.fad.fa-trash-restore:after {
  content: "\10f829";
}

.fad.fa-trash-restore-alt:after {
  content: "\10f82a";
}

.fad.fa-trash-undo:after {
  content: "\10f895";
}

.fad.fa-trash-undo-alt:after {
  content: "\10f896";
}

.fad.fa-treasure-chest:after {
  content: "\10f723";
}

.fad.fa-tree:after {
  content: "\10f1bb";
}

.fad.fa-tree-alt:after {
  content: "\10f400";
}

.fad.fa-tree-christmas:after {
  content: "\10f7db";
}

.fad.fa-tree-decorated:after {
  content: "\10f7dc";
}

.fad.fa-tree-large:after {
  content: "\10f7dd";
}

.fad.fa-tree-palm:after {
  content: "\10f82b";
}

.fad.fa-trees:after {
  content: "\10f724";
}

.fad.fa-triangle:after {
  content: "\10f2ec";
}

.fad.fa-triangle-music:after {
  content: "\10f8e2";
}

.fad.fa-trophy:after {
  content: "\10f091";
}

.fad.fa-trophy-alt:after {
  content: "\10f2eb";
}

.fad.fa-truck:after {
  content: "\10f0d1";
}

.fad.fa-truck-container:after {
  content: "\10f4dc";
}

.fad.fa-truck-couch:after {
  content: "\10f4dd";
}

.fad.fa-truck-loading:after {
  content: "\10f4de";
}

.fad.fa-truck-monster:after {
  content: "\10f63b";
}

.fad.fa-truck-moving:after {
  content: "\10f4df";
}

.fad.fa-truck-pickup:after {
  content: "\10f63c";
}

.fad.fa-truck-plow:after {
  content: "\10f7de";
}

.fad.fa-truck-ramp:after {
  content: "\10f4e0";
}

.fad.fa-trumpet:after {
  content: "\10f8e3";
}

.fad.fa-tshirt:after {
  content: "\10f553";
}

.fad.fa-tty:after {
  content: "\10f1e4";
}

.fad.fa-turkey:after {
  content: "\10f725";
}

.fad.fa-turntable:after {
  content: "\10f8e4";
}

.fad.fa-turtle:after {
  content: "\10f726";
}

.fad.fa-tv:after {
  content: "\10f26c";
}

.fad.fa-tv-alt:after {
  content: "\10f8e5";
}

.fad.fa-tv-music:after {
  content: "\10f8e6";
}

.fad.fa-tv-retro:after {
  content: "\10f401";
}

.fad.fa-typewriter:after {
  content: "\10f8e7";
}

.fad.fa-ufo:after {
  content: "\10f947";
}

.fad.fa-ufo-beam:after {
  content: "\10f948";
}

.fad.fa-umbrella:after {
  content: "\10f0e9";
}

.fad.fa-umbrella-beach:after {
  content: "\10f5ca";
}

.fad.fa-underline:after {
  content: "\10f0cd";
}

.fad.fa-undo:after {
  content: "\10f0e2";
}

.fad.fa-undo-alt:after {
  content: "\10f2ea";
}

.fad.fa-unicorn:after {
  content: "\10f727";
}

.fad.fa-union:after {
  content: "\10f6a2";
}

.fad.fa-universal-access:after {
  content: "\10f29a";
}

.fad.fa-university:after {
  content: "\10f19c";
}

.fad.fa-unlink:after {
  content: "\10f127";
}

.fad.fa-unlock:after {
  content: "\10f09c";
}

.fad.fa-unlock-alt:after {
  content: "\10f13e";
}

.fad.fa-upload:after {
  content: "\10f093";
}

.fad.fa-usb-drive:after {
  content: "\10f8e9";
}

.fad.fa-usd-circle:after {
  content: "\10f2e8";
}

.fad.fa-usd-square:after {
  content: "\10f2e9";
}

.fad.fa-user:after {
  content: "\10f007";
}

.fad.fa-user-alien:after {
  content: "\10f94a";
}

.fad.fa-user-alt:after {
  content: "\10f406";
}

.fad.fa-user-alt-slash:after {
  content: "\10f4fa";
}

.fad.fa-user-astronaut:after {
  content: "\10f4fb";
}

.fad.fa-user-chart:after {
  content: "\10f6a3";
}

.fad.fa-user-check:after {
  content: "\10f4fc";
}

.fad.fa-user-circle:after {
  content: "\10f2bd";
}

.fad.fa-user-clock:after {
  content: "\10f4fd";
}

.fad.fa-user-cog:after {
  content: "\10f4fe";
}

.fad.fa-user-cowboy:after {
  content: "\10f8ea";
}

.fad.fa-user-crown:after {
  content: "\10f6a4";
}

.fad.fa-user-edit:after {
  content: "\10f4ff";
}

.fad.fa-user-friends:after {
  content: "\10f500";
}

.fad.fa-user-graduate:after {
  content: "\10f501";
}

.fad.fa-user-hard-hat:after {
  content: "\10f82c";
}

.fad.fa-user-headset:after {
  content: "\10f82d";
}

.fad.fa-user-injured:after {
  content: "\10f728";
}

.fad.fa-user-lock:after {
  content: "\10f502";
}

.fad.fa-user-md:after {
  content: "\10f0f0";
}

.fad.fa-user-md-chat:after {
  content: "\10f82e";
}

.fad.fa-user-minus:after {
  content: "\10f503";
}

.fad.fa-user-music:after {
  content: "\10f8eb";
}

.fad.fa-user-ninja:after {
  content: "\10f504";
}

.fad.fa-user-nurse:after {
  content: "\10f82f";
}

.fad.fa-user-plus:after {
  content: "\10f234";
}

.fad.fa-user-robot:after {
  content: "\10f94b";
}

.fad.fa-user-secret:after {
  content: "\10f21b";
}

.fad.fa-user-shield:after {
  content: "\10f505";
}

.fad.fa-user-slash:after {
  content: "\10f506";
}

.fad.fa-user-tag:after {
  content: "\10f507";
}

.fad.fa-user-tie:after {
  content: "\10f508";
}

.fad.fa-user-times:after {
  content: "\10f235";
}

.fad.fa-user-visor:after {
  content: "\10f94c";
}

.fad.fa-users:after {
  content: "\10f0c0";
}

.fad.fa-users-class:after {
  content: "\10f63d";
}

.fad.fa-users-cog:after {
  content: "\10f509";
}

.fad.fa-users-crown:after {
  content: "\10f6a5";
}

.fad.fa-users-medical:after {
  content: "\10f830";
}

.fad.fa-utensil-fork:after {
  content: "\10f2e3";
}

.fad.fa-utensil-knife:after {
  content: "\10f2e4";
}

.fad.fa-utensil-spoon:after {
  content: "\10f2e5";
}

.fad.fa-utensils:after {
  content: "\10f2e7";
}

.fad.fa-utensils-alt:after {
  content: "\10f2e6";
}

.fad.fa-vacuum:after {
  content: "\10f94d";
}

.fad.fa-vacuum-robot:after {
  content: "\10f94e";
}

.fad.fa-value-absolute:after {
  content: "\10f6a6";
}

.fad.fa-vector-square:after {
  content: "\10f5cb";
}

.fad.fa-venus:after {
  content: "\10f221";
}

.fad.fa-venus-double:after {
  content: "\10f226";
}

.fad.fa-venus-mars:after {
  content: "\10f228";
}

.fad.fa-vhs:after {
  content: "\10f8ec";
}

.fad.fa-vial:after {
  content: "\10f492";
}

.fad.fa-vials:after {
  content: "\10f493";
}

.fad.fa-video:after {
  content: "\10f03d";
}

.fad.fa-video-plus:after {
  content: "\10f4e1";
}

.fad.fa-video-slash:after {
  content: "\10f4e2";
}

.fad.fa-vihara:after {
  content: "\10f6a7";
}

.fad.fa-violin:after {
  content: "\10f8ed";
}

.fad.fa-voicemail:after {
  content: "\10f897";
}

.fad.fa-volcano:after {
  content: "\10f770";
}

.fad.fa-volleyball-ball:after {
  content: "\10f45f";
}

.fad.fa-volume:after {
  content: "\10f6a8";
}

.fad.fa-volume-down:after {
  content: "\10f027";
}

.fad.fa-volume-mute:after {
  content: "\10f6a9";
}

.fad.fa-volume-off:after {
  content: "\10f026";
}

.fad.fa-volume-slash:after {
  content: "\10f2e2";
}

.fad.fa-volume-up:after {
  content: "\10f028";
}

.fad.fa-vote-nay:after {
  content: "\10f771";
}

.fad.fa-vote-yea:after {
  content: "\10f772";
}

.fad.fa-vr-cardboard:after {
  content: "\10f729";
}

.fad.fa-wagon-covered:after {
  content: "\10f8ee";
}

.fad.fa-walker:after {
  content: "\10f831";
}

.fad.fa-walkie-talkie:after {
  content: "\10f8ef";
}

.fad.fa-walking:after {
  content: "\10f554";
}

.fad.fa-wallet:after {
  content: "\10f555";
}

.fad.fa-wand:after {
  content: "\10f72a";
}

.fad.fa-wand-magic:after {
  content: "\10f72b";
}

.fad.fa-warehouse:after {
  content: "\10f494";
}

.fad.fa-warehouse-alt:after {
  content: "\10f495";
}

.fad.fa-washer:after {
  content: "\10f898";
}

.fad.fa-watch:after {
  content: "\10f2e1";
}

.fad.fa-watch-calculator:after {
  content: "\10f8f0";
}

.fad.fa-watch-fitness:after {
  content: "\10f63e";
}

.fad.fa-water:after {
  content: "\10f773";
}

.fad.fa-water-lower:after {
  content: "\10f774";
}

.fad.fa-water-rise:after {
  content: "\10f775";
}

.fad.fa-wave-sine:after {
  content: "\10f899";
}

.fad.fa-wave-square:after {
  content: "\10f83e";
}

.fad.fa-wave-triangle:after {
  content: "\10f89a";
}

.fad.fa-waveform:after {
  content: "\10f8f1";
}

.fad.fa-waveform-path:after {
  content: "\10f8f2";
}

.fad.fa-webcam:after {
  content: "\10f832";
}

.fad.fa-webcam-slash:after {
  content: "\10f833";
}

.fad.fa-weight:after {
  content: "\10f496";
}

.fad.fa-weight-hanging:after {
  content: "\10f5cd";
}

.fad.fa-whale:after {
  content: "\10f72c";
}

.fad.fa-wheat:after {
  content: "\10f72d";
}

.fad.fa-wheelchair:after {
  content: "\10f193";
}

.fad.fa-whistle:after {
  content: "\10f460";
}

.fad.fa-wifi:after {
  content: "\10f1eb";
}

.fad.fa-wifi-1:after {
  content: "\10f6aa";
}

.fad.fa-wifi-2:after {
  content: "\10f6ab";
}

.fad.fa-wifi-slash:after {
  content: "\10f6ac";
}

.fad.fa-wind:after {
  content: "\10f72e";
}

.fad.fa-wind-turbine:after {
  content: "\10f89b";
}

.fad.fa-wind-warning:after {
  content: "\10f776";
}

.fad.fa-window:after {
  content: "\10f40e";
}

.fad.fa-window-alt:after {
  content: "\10f40f";
}

.fad.fa-window-close:after {
  content: "\10f410";
}

.fad.fa-window-frame:after {
  content: "\10f94f";
}

.fad.fa-window-frame-open:after {
  content: "\10f950";
}

.fad.fa-window-maximize:after {
  content: "\10f2d0";
}

.fad.fa-window-minimize:after {
  content: "\10f2d1";
}

.fad.fa-window-restore:after {
  content: "\10f2d2";
}

.fad.fa-windsock:after {
  content: "\10f777";
}

.fad.fa-wine-bottle:after {
  content: "\10f72f";
}

.fad.fa-wine-glass:after {
  content: "\10f4e3";
}

.fad.fa-wine-glass-alt:after {
  content: "\10f5ce";
}

.fad.fa-won-sign:after {
  content: "\10f159";
}

.fad.fa-wreath:after {
  content: "\10f7e2";
}

.fad.fa-wrench:after {
  content: "\10f0ad";
}

.fad.fa-x-ray:after {
  content: "\10f497";
}

.fad.fa-yen-sign:after {
  content: "\10f157";
}

.fad.fa-yin-yang:after {
  content: "\10f6ad";
}
