#exchange {
  min-height: 100%;
}

.exchange {
  width: 100%;
}

.exchange-title {
  margin-top: 4rem;
}

.exchange-subtitle {
  width: 59.25rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
  margin-top: 2.0625rem;
}

.exchange-text {
  width: 67.1875rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
  margin-top: 1rem;
}

.mrg-top {
  margin-top: 1.5rem;
}
