@import "../utils/mixins";
@import "../utils/variables";

#cabinet-pass{
	min-height: 100%;
}

.pass-form-personal-account {
	width: 26.9375rem;
}
.form {
}
.pass-item-personal-account {
}
.left-down-name {
}
.pass-input-personal-account {
}
.current-pass-input {
	margin-top: 2rem;
	position: relative;
}

.current-pass-input input {
	background: #FFFFFF;
	border: 1px solid #C7C7C7;
	box-sizing: border-box;
	border-radius: 9px;
	width: 26.9375rem;
	height: 3.75rem;
	margin-top: 1rem;
	padding: 0.5rem 1rem 0rem 1rem;
}

.current-pass-input p:nth-child(1){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 107.84%;
	color: #363636;
}

.current-pass-input p:nth-child(3){
	position: absolute;
	top: 2.7rem;
	left: 1rem;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #AEAEAE;
}

.current-pass-input span:nth-child(4){
	position: absolute;
	top: 3.75rem;
	left: 24rem;
}


.forgot-pass-line-personal-account {
	display: flex;
	justify-content: flex-end;
	margin-top: 0.5rem;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 107.84%;
	color: #363636;

}
.new-pass-personal-account {
	position: relative;
}

.new-pass-personal-account p:nth-child(1){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 107.84%;
	color: #363636;
	margin-top: 3.5625rem;
}

.new-pass-personal-account p:nth-child(3) {
	position: absolute;
	top: 2.7rem;
	left: 1rem;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #AEAEAE;
}

.new-pass-personal-account span:nth-child(4){
	position: absolute;
	top: 3.75rem;
	left: 24rem;
}

.new-pass-personal-account input {
	background: #FFFFFF;
	border: 1px solid #C7C7C7;
	box-sizing: border-box;
	border-radius: 9px;
	width: 26.9375rem;
	height: 3.75rem;
	margin-top: 1rem;
	padding: 0.5rem 1rem 0rem 1rem;
}
.repeat-new-pass-personal-account {
	position: relative;
}


.repeat-new-pass-personal-account input {
	background: #FFFFFF;
	border: 1px solid #C7C7C7;
	box-sizing: border-box;
	border-radius: 9px;
	width: 26.9375rem;
	height: 3.75rem;
	margin-top: 1rem;
	padding: 0.5rem 1rem 0rem 1rem;
}

.repeat-new-pass-personal-account p:nth-child(1) {
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 107.84%;
	color: #363636;
	margin-top: 2.5rem;

}

.repeat-new-pass-personal-account p:nth-child(3){
	position: absolute;
	top: 2.7rem;
	left: 1rem;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #AEAEAE;
}


.repeat-new-pass-personal-account span:nth-child(4){
	position: absolute;
	top: 3.75rem;
	left: 24rem;
}
.button-group-date-personal {
}

.show-password {
	cursor: pointer;
}

.password-update-overlay {
	width: 100%;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.8);
	 z-index: 1700;
	 display: flex;
    justify-content: center;
    align-items: center;
}
.modal-update-pass {
	position: relative;
	z-index: 1720;
	width: 25.6875rem;
	height: 23.625rem;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
}
.item-update-pass {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.item-update-pass img:nth-child(1){
	margin-top: 5.5rem;
	
}


.item-update-pass p:nth-child(2){
	margin-top: 3.25rem;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 107.84%;
	text-align: center;
	color: #363636;

}

.item-update-pass button:nth-child(3){
	border: none;
	background: #ED3237;
	border-radius: 9px;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	width: 13.0625rem;
	height: 3rem;
	margin-top: 2.5rem;
}



@media (max-width: 414px) {
	.pass-form-personal-account {
		width: 100%;
		padding: 0rem 1rem;
  }

  .current-pass-input input {
	  width: 100%;
  }

  .new-pass-personal-account input{
	width: 100%;
  }

  .repeat-new-pass-personal-account input{
	width: 100%;
  }

  .current-pass-input span:nth-child(4) {
	position: absolute;
	top: 3.75rem;
	left: 21rem;
}

.new-pass-personal-account span:nth-child(4) {
	position: absolute;
	top: 3.75rem;
	left: 21rem;
}
.repeat-new-pass-personal-account span:nth-child(4) {
	position: absolute;
	top: 3.75rem;
	left: 21rem;
}

.modal-update-pass {
	width: 22.6875rem;
	height: 22.625rem;
}
}

@media(max-width: 375px) {
	.current-pass-input span:nth-child(4) {
		left: 18rem;
	}
	
	.new-pass-personal-account span:nth-child(4) {
		left: 18rem;
	}
	.repeat-new-pass-personal-account span:nth-child(4) {
		left: 18rem;
	}

	.pass-form-personal-account{
		height: 42rem;
	}
}

@media(max-width: 360px ) {
	.modal-update-pass {
		width: 20.6875rem;
		height: 20.625rem;
  }
  .item-update-pass img:nth-child(1) {
	margin-top: 2.5rem;
}
}

@media(max-width: 320px) {
	.current-pass-input span:nth-child(4) {
		left: 15rem;
	}
	
	.new-pass-personal-account span:nth-child(4) {
		left: 15rem;
	}
	.repeat-new-pass-personal-account span:nth-child(4) {
		left: 15rem;
	}
}