@import "../utils/mixins";
@import "../utils/variables";

#cabinet-date{
	min-height: 100%;
	// display: flex;
	// flex-direction: column;
}


.date-form-account-personal {
	width: 26.9375rem;
}
.date-item-personal-account {
	margin-top: 3.375rem;
}
.left-down-name {
	display: flex;
}

.left-down-name span:nth-child(2){
	padding-left: 1.145625rem;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 107.84%;
	color: #363636;
}
.date-inputs-block {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	position: relative;
}

.date-inputs-block input{
	padding: 1rem 0rem 0rem 1rem;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #363636;

}




.date-inputs-block input:nth-child(1){
	width: 6.75rem;
	height: 3.75rem;
	background: #FFFFFF;
	border: 1px solid #C7C7C7;
	box-sizing: border-box;
	border-radius: 9px;
}
.date-inputs-block p:nth-child(2){
	position: absolute;
	top: 0.5rem;
	left: 1.1rem;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #AEAEAE;
}

.date-inputs-block select:nth-child(3){
	width: 10.8125rem;
	height: 3.75rem;
	background: #FFFFFF;
	border: 1px solid #C7C7C7;
	box-sizing: border-box;
	border-radius: 9px;
}

.date-inputs-block p:nth-child(4){
	position: absolute;
	top: 0.5rem;
   left: 9.8rem;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #AEAEAE;
}

.date-inputs-block input:nth-child(5){
	width: 6.375rem;
	height: 3.75rem;
	background: #FFFFFF;
	border: 1px solid #C7C7C7;
	box-sizing: border-box;
	border-radius: 9px;
}

.date-inputs-block p:nth-child(6){
	position: absolute;
	top: 0.5rem;
    left: 21.7rem;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
	color: #AEAEAE;
}

.button-group-date-personal {
	display: flex;
	justify-content: space-between;
	margin-top: 3.5rem;
}

.button-group-date-personal button:nth-child(1) {
	border: none;
	border: 1px solid #ED3237;
	box-sizing: border-box;
	border-radius: 9px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.38) -2.67%, rgba(255, 255, 255, 0) 17.11%), #F8F8F8;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #ED3237;
	width: 13.0625rem;
	height: 3rem;


}

.button-group-date-personal button:nth-child(2) {
	border: none;
	background: #ED3237;
	border-radius: 9px;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	width: 13.0625rem;
	height: 3rem;

}

// my orders


.my-order-card-block {
	display: flex;
}
.my-order-card-inform {
	margin-right: 3.5rem;
}
.order-card-bread-crumb {
}
.order-card-name {
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 107.84%;
	color: #363636;
	margin-top: 2rem;
}
.order-item-card-block {
	background: #FFFFFF;
	border: 1px solid #C1C1C1;
	box-sizing: border-box;
	border-radius: 9px;
	width: 21.5625rem;
	height: 21.1875rem;
	padding-left: 1.5rem;
	margin-top: 2rem;
}

.order-item-card-block p:nth-child(1){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 107.84%;
	color: #363636;
	margin-top: 1.1875rem;
}
.order-item-card-block p:nth-child(2){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 107.84%;
	color: #ED3237;
	margin-top: 0.75rem;
}
.order-item-card-block p:nth-child(3){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 107.84%;
	color: #6A6A6A;
	margin-top: 1.5rem;
}
.order-item-card-block p:nth-child(4){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 107.84%;
	color: #363636;
	margin-top: 0.5rem;
}
.order-item-card-block p:nth-child(5){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 107.84%;
	color: #6A6A6A;
	margin-top: 1.5rem;
}
.order-item-card-block p:nth-child(6){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 124%;
	color: #363636;
	margin-top: 0.5rem;
}
.order-item-card-block p:nth-child(7){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 124%;
	color: #363636;
}
.order-item-card-block p:nth-child(8){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 124%;
	color: #363636;
}
.order-item-card-block p:nth-child(9){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 107.84%;
	color: #6A6A6A;
	margin-top: 1.5rem;
}
.order-item-card-block p:nth-child(10){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;	
	line-height: 107.84%;
	color: #363636;
	margin-top: 0.5rem;
}


.order-item-card-block-down {
	background: #FFFFFF;
	border: 1px solid #C1C1C1;
	box-sizing: border-box;
	border-radius: 9px;
	width: 21.5625rem;
	height: 22.5rem;
	padding: 0rem 2.5rem 0rem 1.75rem;
	margin-top: 2rem;
	margin-bottom: 8.6875rem;
}

.order-item-card-block-down p:nth-child(1){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 107.84%;
	color: #363636;
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem;
}
.order-item-card-block-down p:nth-child(2){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 107.84%;
	color: #363636;
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem;
}
.order-item-card-block-down p:nth-child(3){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 107.84%;
	color: #363636;
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem;
}
.order-item-card-block-down p:nth-child(4){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 107.84%;
	color: #363636;
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem;
}
.order-item-card-block-down p:nth-child(5){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 107.84%;
	color: #363636;
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem;
}
.order-item-card-block-down p:nth-child(6){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 107.84%;
	color: #363636;
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem;
}
.order-item-card-block-down p:nth-child(7){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 107.84%;
	color: #E9272B;
	display: flex;
	justify-content: space-between;
	margin-top: 1.5rem;
}


.my-order-card-pictures {
	margin-top: 10.875rem;
	margin-bottom: 8.6875rem;
}
.my-order-card-name-pictures {
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 107.84%;
	color: #363636;
}
.type-card-in-block {
	display: flex;
	margin-top: 1.5rem;
	width: 38rem;
   justify-content: space-between;
}
.small-card-item-order {
	display: flex;
	background: #FFFFFF;
	border: 1px solid #C1C1C1;
	box-sizing: border-box;
	border-radius: 9px;
	width: 17.75rem;
}
.small-card-images {
	padding: 1rem 0rem 1rem 1.5rem;
}
.small-card-text-inform {
	padding: 1rem 0rem 2.625rem 1rem;
}

.small-card-text-inform p:nth-child(1){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 107.84%;
	color: #363636;
}
.small-card-text-inform p:nth-child(2){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 107.84%;
	color: #363636;
	margin-top: 0.625rem;
}
.small-card-text-inform p:nth-child(3){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 107.84%;
	color: #363636;
	margin-top: 0.625rem;
}
.small-card-text-inform p:nth-child(4){
	margin-top: 0.625rem;

}

.small-card-text-inform p:nth-child(4) span:nth-child(1){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 107.84%;
	text-decoration-line: line-through;
	color: #777777;
	padding-right: 0.5rem;
}

.small-card-text-inform p:nth-child(4) span:nth-child(2){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 107.84%;
	color: #E41D20;
}

.two-block-order {
}

.favorite-text-attention{
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 107.84%;
	color: #363636;
}

.favorite-text-attention span:nth-child(1){
	padding-bottom: 0.05rem;
	border-bottom: 1px solid #363636;
	
}

.favorite-text-attention span:nth-child(2){
	padding-bottom: 0.05rem;
	border-bottom: 1px solid #363636;	
}



@media(max-width: 1199px) {
	.small-card-item-order {
		width: 17.75rem;
  }
  .my-order-card-inform {
	margin-right: 2.5rem;
}

.order-item-card-block {
	width: 18.5625rem;
}
.order-item-card-block-down {
	width: 18.5625rem;
}
}

@media(max-width: 1024px ) {
	.my-order-card-inform {
		margin-right: 1.5rem;
  }

  .type-card-in-block {
	width: 36rem;
}
.order-item-card-block {
	width: 17.5625rem;
}
.order-item-card-block-down {
	width: 17.5625rem;
}
}
@media(max-width: 768px) {
	.two-block-order{
		display: flex;
    justify-content: space-between;
	}

	.my-order-card-inform {
		margin-right: 0rem;
  }

  .order-item-card-block-down {
	width: 21.5625rem;
	height: 21.2rem;
	padding: 0rem 1.5rem 0rem 1.75rem;
}

.order-item-card-block {
	width: 18.5625rem;
}

.my-order-card-pictures {
	margin-top: 0rem;
}

.order-item-card-block-down{
	margin-bottom: 4.6875rem;
	width: 18.5625rem;
}

.type-card-in-block {
	width: 33.7rem;
}

.type-card-in-block {
	width: 44.7rem;
}

// .small-card-item-order {
// 	width: 16rem;
// }

// .small-card-images {
// 	padding: 1rem 0rem 1rem 1rem;
// }

.my-order-card-block {
	display: flex;
	flex-direction: column;
}


}


@media(max-width:414px) {
	.date-form-account-personal {
		width: 100%;
  }

  .date-form-account-personal{
	  padding: 0rem 1rem;
  }
  .date-inputs-block input:nth-child(1) {
	width: 5.75rem;
}

.date-inputs-block select:nth-child(3) {
	width: 9.8125rem;
}

.date-inputs-block input:nth-child(5) {
	width: 5.375rem;
}
.date-inputs-block p:nth-child(4) {
	left: 8.8rem;
}

.date-inputs-block p:nth-child(6) {
	left: 19.6rem;
}
.button-group-date-personal button:nth-child(2) {
	width: 11.0625rem;
}
.button-group-date-personal button:nth-child(1) {
	width: 11.0625rem;
}

.two-block-order {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.my-order-card-inform {
	display: flex;
   flex-direction: column;
   align-items: center;
}

.my-order-card-pictures{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.type-card-in-block {
	display: flex;
	margin-top: 1.5rem;
	width: 38rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.small-card-item-order-pd-top{
	margin-top: 1.5rem;
}

.type-card-in-block{
	width: 100%;
}

}

@media(max-width:375px) {
	.date-inputs-block p:nth-child(4) {
		left: 7.6rem;
  }
  .date-inputs-block p:nth-child(6) {
	left: 17.1rem;
}

.button-group-date-personal button:nth-child(2) {
	width: 10.0625rem;
}
.button-group-date-personal button:nth-child(1) {
	width: 10.0625rem;
}
}

@media(max-width:360px) {
	.date-inputs-block input:nth-child(1) {
		width: 4.75rem;
  }

  .date-inputs-block input:nth-child(5) {
	width: 4.375rem;
}

	.date-inputs-block select:nth-child(3) {
		width: 8.8125rem;
	}

	.date-inputs-block p:nth-child(6) {
		left: 17.1rem;
  }

  .date-inputs-block p:nth-child(4) {
	left: 7.6rem;
}

.button-group-date-personal button:nth-child(1) {
	width: 9.0625rem;
}

.button-group-date-personal button:nth-child(2) {
	width: 9.0625rem;
}
}

@media(max-width:320px) {
	.date-inputs-block select:nth-child(3) {
		width: 7.8125rem;
  }

  .date-inputs-block p:nth-child(4) {
	left: 6.8rem;
}

.date-inputs-block p:nth-child(6) {
	left: 14.6rem;
}

.button-group-date-personal button:nth-child(1) {
	width: 8.0625rem;
}

.button-group-date-personal button:nth-child(2) {
	width: 8.0625rem;
}
}


