#card-things{
	min-height: 100%;
}

.crumb-item-href {
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-transform: uppercase;
color: #545454;
}

.crumb-item-href a{
	color: #545454;
	text-decoration: none;
	}

.breadcrumb .breadcrumb-item:not(.active) {
		font-family: Gilroy;
		font-size: 14px;
		line-height: 2.143;
		font-weight: 500;
		color: #545454 !important;
		text-decoration: none !important;
  }

  .left-shell{
	  display: flex;
	  width: 37.75rem;
	  justify-content: space-between;
	  padding-left: 2rem;
	  padding-top: 1rem;
	  padding-bottom: 1rem;
  }

  .main-card-shell{
	  display: flex;
	  border: 1px solid #F3F3F3;
	  box-sizing: border-box;
	  border-radius: 9px;
  }

  .main-small-images {
	padding-top: 1.9rem;
	height: 519px;
	cursor: pointer;
	display: flex;
   flex-direction: column;
}

.take-size-main-shoes{
	width: 292px;
	height: 48px;
	background: #FFFFFF;
	border: 1px solid #363636;
	box-sizing: border-box;
	border-radius: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 17px;
}

.take-size-shoes-card {
	width: 292px;
}
.more-size-card-things {
	background: #FFFFFF;
	border-left: 1px solid #363636;
	border-right: 1px solid #363636;
	border-bottom: 1px solid #363636;
	box-sizing: border-box;
	height: 48px;
	padding-left: 16px;
	display: flex;
	align-items: center;
}

.more-size-card-things span {
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 107.84%;
	color: #363636;
}


.take-size-main-shoes span:nth-child(1){
	padding-left: 16px;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 107.84%;
	color: #363636;
}

.take-size-main-shoes span:nth-child(2){
	padding-right: 24px;
}

.main-size-active span{
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 107.84%;
	color: #ED3237;
}

#dropDownArrow {
	cursor: pointer;
}

// .main-select-table-size-shoes{
// 	overflow: hidden;
//    margin-top: 17px;
// }

// .take-size-main-shoes{
// 	position: relative;
//     z-index: 2;
// }

// .take-size-shoes-card{
// 	position: relative;
// 	top: -50rem;
// 	z-index: 1;
// 	transition: all 0.7s ease 0.1s;
// }

// .view-size-tab-content{
// 	position: relative;
//    top: 0rem;
// 	z-index: 1;
// 	transition: all 0.7s ease 0.1s;
// }

// .size-active-in-stock{
// 	font-family: SF Pro Display;
// 	font-style: normal;
// 	font-weight: normal;
// 	font-size: 16px;
// 	line-height: 107.84%;
// 	color: #363636;
// }

.size-active-empty span{
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 107.84%;
	color: #BEBEBE;
}

.main-card-images{
	// height: 489px;
}



.tabs-type-things{
margin-left: 5.3125rem;
margin-top: 3.0625rem;
}

.main-name-things-card {
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 107.84%;
color: #363636;
margin-top: 2.625rem;
}

.main-text-things-card {
font-family: SF Pro Display;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 107.84%;
color: #579A4C;
margin-top: 1rem;
padding-bottom: 1.25rem;
border-bottom: 1px solid #DEDEDE;
}
.main-table-things-card {
	margin-top: 1.25rem;
}

.main-table-things-card span{
margin-left: 1rem;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 107.84%;
color: #878787;
cursor: pointer;
}

.card-things-name-select{
	margin-top: 1.0625rem;
	background: #FFFFFF;
	border: 1px solid #363636;
	box-sizing: border-box;
	border-radius: 2px;
	width: 18.25rem;
	height: 3rem;
	padding: 0rem;
}


.link-card-things-basket {
background: #ED3237;
box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.13);
border-radius: 9px;
width: 11.875rem;
height: 3rem;
display: flex;
justify-content: center;
align-items: center;
}

.link-card-things-basket a{
font-family: SF Pro Display;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFFFFF;

}

.down-part-card{
display: flex;
align-items: center;
}

.favorite-card-things{
width: 3rem;
height: 3rem;
background: #FFFFFF;
border: 1px solid #ED3237;
box-sizing: border-box;
box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.13);
border-radius: 9px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 1.5rem;
}

.paragraph-things-card{
	margin-top: 1.5rem;
   margin-bottom: 4.375rem;
	}

.paragraph-things-card p{
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 107.84%;
color: #363636;
margin-bottom: 1rem;
}

// .paragraph-things-card p:nth-child(8){
// 	margin-bottom: 0rem;
// }


.main-price-things-card {
	margin-top: 0.5rem;
	border-top: 1px solid #DEDEDE;
	padding-top: 2.625rem;

}


.main-price-things-card span:nth-child(1) {
font-family: SF Pro Display;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 107.84%;
text-decoration-line: line-through;
color: #888888;

}

.main-price-things-card span:nth-child(2) {
font-family: SF Pro Display;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 107.84%;
color: #363636;
position: relative;
margin-right: 0.9375rem;
}

.main-price-things-card span:nth-child(2)::before {
content: '20%';
position: absolute;
top: -1rem;
right: -2.5rem;
width: 2.375rem;
height: 1.625rem;
font-family: SF Pro Display;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 107.84%;
color: #FFFFFF;
background: #6FB8DC;
border-radius: 6px;
display: flex;
justify-content: center;
align-items: center;
}

.main-price-things-card p:nth-child(3) {
margin-top: 1.125rem;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 107.84%;
color: #363636;
}
.main-price-things-card p:nth-child(4) {
margin-top: 1rem;
margin-bottom: 1.8125rem;
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 107.84%;
color: #ED3237;
}

// slider card

.gallery-thumbs {
	height: 100%!important;
	box-sizing: border-box;
	padding: 0px 0!important;
}

.card-things-images{
	width: 27.75rem;
	height: 489px;
	cursor: pointer;
	
}

// .card-things-images img{
// 	height: 100%;
// }
	


.modal-overlay-card {
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0px;
	top: 0px;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1300;
	overflow-y: scroll;
 }

 .table-size-card {
	 width: 50rem;
	 height: 56.5rem;
	 position: relative;
	 z-index: 1310;
	 background: #FFFFFF;
	backdrop-filter: blur(4px);
	border-radius: 9px;
	padding: 0rem 2.25rem;
}
.table-size-name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2rem;
}
.table-title {
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;
color: #545454;
}
.table-size-close {
}
.close {
}
.row-table-size-card {
display: flex;
justify-content: space-between;
margin: 0rem auto;
padding-bottom: 0.5rem;
}

.row-table-size-card span:nth-child(1){
	padding-left: 8.2rem;
}
.row-table-size-card span:nth-child(2){
	padding-left: 2.5rem;
}

.row-table-size-card span:nth-child(3){
	padding-right: 5.2rem;
}


.item-table-size {
}

.table-line-size{
border-bottom: 1px solid #C4C4C4;
margin-top: 2rem;
}

.row-table-size-card-center{
	display: flex;
	justify-content: space-between;
	width: 29rem;
	margin: 0rem auto;
	padding-bottom: 0.5rem;
}

.full-table-card {
	display: flex;
	justify-content: center;
	// margin-top: 3.5rem;
}


.our-block-size{
	display: flex;

}

.paragraph-our-size{

}

.our-size-title{
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: #545454;
	margin-top: 1.55rem;
}

.paragraph-our-size p:nth-child(1){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #545454;
	margin-top: 1.5rem;
}
.paragraph-our-size p:nth-child(2){
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #545454;
	margin-top: 1.5rem;
}


.images-things{
	width: 107px;
	height: 107px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.images-things img{
	width: 100%;
   // height: 100%;
}

.card-thing-slides{
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-thing-slides img {
	width: 100%;
   // height: 100%;
}

// slider card


 .swiper-slide {
	background-size: cover;
	background-position: center;
 }

 .gallery-top {
	height: 100%;
	width: 100%;
 }

 .gallery-thumbs {
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
 }

 .gallery-thumbs .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
 }

 .gallery-thumbs .swiper-slide-thumb-active {
	opacity: 1;
 }

 @media(max-width: 1326px) {
	.main-card-shell {
		width: 66rem;
  }
  
}

@media(max-width: 1199px) {
	.tabs-type-things {
		margin-left: 2.3125rem;
	 }
	 .main-card-shell {
		width: 59rem;
  }
}

@media(max-width: 1100px) {
	.tabs-type-things {
		margin-left: 1.3125rem;
	 }
	 .main-card-shell {
		width: 57rem;
  }
}

@media(max-width: 1024px) {
	.left-shell {
		padding-left: 1rem;
  }
  .main-card-shell {
	width: 55.1rem;
}
.tabs-type-things {
	margin-left: 1rem;
}
}
@media(max-width: 768px) {
	.main-card-shell{
		flex-direction: column;
	}
	.main-card-shell {
		width: 100%;
  }
  .main-small-images {
	padding-left: 3rem;
	}

	.left-shell {
		padding-left: 2rem;
  }
  .right-shell{
	padding-left: 1rem;
	width: 20.3rem;
  }
  .down-part-card{
	padding-bottom: 1rem;
  }

  .table-size-card {
	width: 40rem;
  }

  .row-table-size-card span:nth-child(1) {
	padding-left: 3.2rem;
}

.row-table-size-card span:nth-child(2) {
	padding-left: 2.5rem;
}

.row-table-size-card span:nth-child(3) {
	padding-right: 0.2rem;
}


}
@media(max-width: 414px) {
	.main-card-shell {
		width: 100%;
		padding: 0 0.5rem;
  }
  .left-shell{
	display: flex;
	flex-direction: column;
  }

  .card-things-images {
	width: 100%;
	}

	.left-shell {
		width: 100%;
		padding-left: 0rem;
  }

  .main-small-images {
	padding-left: 0rem;
}

.main-small-images {
	height: 100%;
}

.cat-st{
	padding: 0!important;
}

.breadcrumb .breadcrumb-item:not(.active) {
	font-size: 12px!important;
}

.breadcrumb .breadcrumb-item.active {
	font-size: 12px!important;
}

.main-card-images {
	// height: 100%;
}
.bread-crumb{
	display: flex;
   justify-content: center;
}

.row-table-size-card-center{
	width: 17rem;
}

.table-size-card {
	width: 23rem;
	height: 69.5rem;
}

.row-table-size-card span:nth-child(1) {
	padding-left: 1rem;
}


.row-table-size-card span:nth-child(2) {
	padding-left: 2.7rem;
}

.row-table-size-card-center {
	width: 14.5rem;
	margin-right: 3rem;
}

.our-size-title{
	text-align: center;
}

.our-block-size {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.images-our-size{
	margin-top: 2rem;
}

.gallery-thumbs {
	width: 100%;
 }

}

@media(max-width: 320px) {
	.breadcrumb .breadcrumb-item:not(.active) {
		font-size: 10px !important;
  }
  .breadcrumb .breadcrumb-item.active {
	font-size: 10px !important;
}

.card-thing-slides img {
	width: 18rem;
}

.right-shell {
	padding-left: 0rem;
	width: 100%;
}

.tabs-type-things {
	margin-left: 0rem;
}

.take-size-main-shoes {
	width: 100%;
}
.take-size-shoes-card {
	width: 100%;
}

.row-table-size-card span:nth-child(1) {
	padding-left: 0rem;
}

.table-size-card {
	width: 20rem;
	height: 75.5rem;
}
.row-table-size-card-center {
	width: 12.5rem;
	margin-right: 5rem;
}

}