@import "../utils/mixins";
@import "../utils/variables";

#categories {
	 min-height: 100%;
	 display: flex;
    flex-direction: column;
}

.tabs-categories {
	 margin-top: 6rem;
	 margin-bottom: 150px;
}

.select-categories {
    display: flex;
    list-style: none;
}

.cate-style {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
	 text-transform: uppercase;
	 color: #545454;
	 position: relative;
	 padding: 0;
	 border: none!important;
}

// .cate-style .active {
// 	border-bottom: 2px solid #ed3237;
// 	padding-bottom: -0.2rem;
// 	color: #ed3237;
// }

.actives {
    border-bottom: 2px solid #ed3237!important;
	 padding-bottom: -0.2rem!important;
	 color: #ed3237!important;
}


.pd-cat ul li  {
	padding-left: 1.2rem;

}

.select-categories ul li:nth-child(1) {
	padding: 0;

}

// .cate-style::before.actives {
// 	content: "";
// 	position: absolute;
// 	width: 81%;
// }

.cate-style:hover {
   color: #545454;
}

.actives:hover {
	color: #ed3237!important;
}

.tab-content {
    margin-top: 1.4375rem;
}

.type-categories {
    display: flex;
}

.shoes-categories {
    position: relative;
}

.shoes-categories img {
    width: 35.51rem;
}

.description-categories {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    position: absolute;
    bottom: 0rem;
    width: 100%;
    text-align: center;
    padding: 2rem 0rem;
}

.description-title {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #ffffff;
}

.accessories-categories {
    position: relative;
}

.accessories-categories img {
    width: 35.51rem;
}

.hit-season {
    margin-bottom: 8.6875rem;
}

@media (max-width: 1350px) {
    .shoes-categories img {
        width: 34.2rem;
    }

    .accessories-categories img {
        width: 34.2rem;
    }
}

@media (max-width: 1300px) {
    .hit-season {
        padding-right: 2rem;
    }
}

@media (max-width: 1258px) {
    .shoes-categories img {
        width: 31.7rem;
    }

    .accessories-categories img {
        width: 31.7rem;
    }
}

@media (max-width: 1200px) {
    .shoes-categories img {
        width: 28.7rem;
    }

    .accessories-categories img {
        width: 28.7rem;
    }

    .hit-season {
        padding-right: 3rem;
    }
}

@media (max-width: 1100px) {
    .shoes-categories img {
        width: 26.7rem;
    }

    .accessories-categories img {
        width: 26.7rem;
    }
}

@media (max-width: 1100px) {	
    .hit-season {
        padding-right: 4.5rem;
    }
}

@media (max-width: 768px) {
    .type-categories {
        display: flex;
        justify-content: center;
        align-items: center;
	 }
	 
	 .shoes-categories img {
		width: 100%;
	}

	.accessories-categories img {
		width: 100%;
	}

	.hit-season {
		padding-right: 0rem;
  }
}

@media(max-width: 414px) {
	.type-categories {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
  }

	.hit-season{
		padding: 0 1rem;
	}
}