@import "../utils/mixins";
@import "../utils/variables";

#entry {
	 min-height: 100%;
	 display: flex;
    flex-direction: column;
}

.entry-title{
	margin-top: 6rem;
} 

.entry-row {
	display: flex;
	justify-content: space-between;
	// align-items: center;
	flex-wrap: wrap;
}
.entry-column {
	width: 22.25rem;
	margin-top: 2rem;
	
}
.item-entry-column {
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 0rem 1.0625rem;
}
.entry-images {

}

.entry-images img{
	width: 22.25rem;
}
.name-entry {
font-family: SF Pro Display;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 131.77%;
display: flex;
align-items: center;
text-align: center;
color: #0A0A0A;
width: 20.0625rem;
margin-top: 1.5rem;
border-bottom: 1px solid #474747;
padding-bottom: 2.5rem;
}
.text-entry {
font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 131.77%;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: #808080;
width: 20.375rem;
margin-bottom: 3.625rem;
margin-top: 0.9375rem;

}
.statistics-entry {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 1.9375rem;
}
.views-entry {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 12%;
	color: #0A0A0A;
}
.date-entry {
	color: #0A0A0A;
}
.entry-mounth {
}
.enrty-day {
}
.entry-year {
}

.views-paper{
	display: flex;
   // justify-content: space-between;
   align-items: center;
   // width: 82px;
}

.views-paper img{
	padding-right: 10px;
}


.entry-pagination {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 4rem;
	margin-bottom: 5.75rem;
}
.pagination-item {
	width: 22.25rem;
}

.pagination-item ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pagination-item ul li a{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #ED3237;
}

.pagination-item ul li a.active{
	color: #FFFFFF;
}

.pagination-item ul li {
width: 40px;
height: 40px;
border: 1px solid #ED3237;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.pagination-item ul li:nth-child(5) {
	// border: none;
	}

// .pagination-item ul li:nth-child(3) {
	
// 	}
		

.active-page{
	background: #ED3237;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF!important;
}
	
@media (max-width: 1360px) {
	.entry-row {
		padding-right: 2rem;
	}
	.entry-column {
		width: 20.25rem;
   }
  .entry-images img {
	width: 20.25rem;
	}

	.entry-pagination{
		padding-right: 2rem;
	}
}
	
@media (max-width: 1300px) {
	.entry-row {
		padding-right: 5rem;
	}
	.entry-pagination{
		padding-right: 5rem;
	}
}

@media (max-width: 1199px) {
	.entry-row {
		padding-right: 2rem;
	}
	.entry-column {
		width: 18.25rem;
  }

  .entry-images img {
	width: 18.25rem;
  }

	.entry-pagination{
		padding-right: 2rem;
	}

	.name-entry {
		width: 16.0625rem;
  }
  .text-entry {
	width: 14.375rem;
	}
}

@media (max-width: 1024px) {
	.entry-row {
		padding-right: 6rem;
	}
	.entry-column {
		width: 15.25rem;
  }

  .entry-images img {
	width: 15.25rem;
}

	.entry-pagination{
		padding-right: 6rem;
	}

	.name-entry {
		width: 13.0625rem;
  }
  .text-entry {
	width: 11.375rem;
}
}

@media (max-width: 768px) {
	.entry-row {
		padding-right: 0rem;
	}
	.entry-column {
		width: 14.25rem;
  }

  .entry-images img {
	width: 14.25rem;
}

	.entry-pagination{
		padding-right: 0rem;
	}
}

@media (max-width: 414px ) {
	.entry-row {
		flex-direction: column;
  }

  .pagination-item ul {
	padding-left: 0rem;
}

.entry-pagination {
	justify-content: center;
}
}





