@import "../utils/mixins";
@import "../utils/variables";

#exchange {
    min-height: 100%;
}

.exchange {
    width: 100%;
}

.exchange-title {
    margin-top: 6rem;
}

.exchange-subtitle {
    width: 59.25rem;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #363636;
    margin-top: 2.0625rem;
}

.exchange-text {
    width: 67.1875rem;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #363636;
    margin-top: 1rem;


}

.text {}


.collapsee {}


.mrg-top {
    margin-top: 1.5rem;
    border: none;
}


.collapse-title {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #363636;

}

.bg-F1F1F1 {
    background: #F1F1F1;
}

.card-body p:nth-child(1) {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #363636;
    width: 63.1875rem;
}

.card-body p:nth-child(2) {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #363636;
    margin-top: 1rem;
}

.card-body p:nth-child(3) {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #363636;
    margin-top: 1.5rem;
}

.card-body p:nth-child(4) {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #363636;
    margin-top: 1rem;
}

.card-body ul:nth-child(5) {
    list-style: disc;
    color: #ED3237;
    margin-top: 0.5rem;
}


.card-body li span {
    color: #363636;
}

.card-body p:nth-child(6) {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #363636;
    margin-top: 1rem;
}

.card-body p:nth-child(7) {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #363636;
    margin-top: 1rem;
}

.exchange-contact {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #363636;
    margin-top: 4rem;
    margin-bottom: 8.6875rem;

}

.exchange-contact p:nth-child(1) {}

.exchange-contact p:nth-child(2) {
    margin-top: 1.625rem;
}

.exchange-contact p:nth-child(3) {
    margin-top: 1.625rem;
}


.plus-minus {
	padding: 0!important;
	border: none!important;
	background: transparent!important;
}

.plus-minus .minus-dis {
	background: url(/img/icon/minus.svg);
	width: 16px;
	height: 4px;
}

.active-on{
	background: url(/img/icon/plus.svg)!important;
	width: 16px!important;
	height: 16px!important;
}


@media (max-width:1350px) {

    .collapsee {
        width: 66rem;
    }
}

@media (max-width:1350px) {

    .collapsee {
        width: 66rem;
    }
}

@media (max-width:1200px) {

    .collapsee {
        width: 55rem;
    }

    .exchange-text {
        width: 55.1875rem;
    }

    .exchange-subtitle {
        width: 53.25rem;
    }
}

@media (max-width: 992px) {
    .exchange-subtitle {
        width: 42.25rem;
    }

    .exchange-text {
        width: 43.1875rem;
    }

    .collapsee {
        width: 43rem;
    }
}

@media (max-width: 768px) {
    .exchange-subtitle {
        width: 36.25rem;
    }

    .exchange-text {
        width: 36.1875rem;
    }

    .collapsee {
        width: 37rem;
    }
}

@media(max-width: 414px) {
    .exchange-subtitle {
        width: 100%;
        padding: 0rem 1rem;
    }

    .exchange-text {
        width: 100%;
        padding: 0rem 1rem;
    }

    .collapsee {
        width: 100%;
        padding: 0rem 1rem;
    }

    .exchange-contact {
        padding: 0rem 1rem;
    }

    .card-body p:nth-child(1) {
        width: 100%;
    }
}
