.products {
    &.popular {
        background-color: rgb(254, 245, 238);
    }
    .title {
        display: inline-block;
        @include text(Gilroy, 45px, 1.2, 900, rgb(84, 84, 84));
        text-align: center;
    }
    .products-slider {
        // .slick-list {
        //     margin: 0 -10px;
        // }
        .slick-track {
            display: flex;
        }
        .slick-slide {
            margin: 0 10px;
            height: inherit;
        }
    }
    .product-card {
        position: relative;
        @include flex(column, nowrap, stretch, flex-start);
        .product-header {
            background: rgb(255, 255, 255);
            border-top: 2px solid rgb(254, 245, 238);
            border-left: 2px solid rgb(254, 245, 238);
            border-right: 2px solid rgb(254, 245, 238);
        }
        .product-body {
            background: rgb(255, 255, 255);
            border-bottom: 2px solid rgb(254, 245, 238);
            border-left: 2px solid rgb(254, 245, 238);
            border-right: 2px solid rgb(254, 245, 238);
            flex: 1 1 200px;
        }
        a {
            display: contents;
        }
        img {
            width: 100%;
            height: 175px;
            object-fit: scale-down;
        }
        .name {
            @include text(Gilroy, 18px, 1.2, 800, rgb(84, 84, 84));
            margin-bottom: 1rem;
        }
        .description {
            @include text(Gilroy, 14px, 1.2, 500, rgb(199, 198, 198));
            margin-bottom: 0.75rem;
        }
        .price {
            @include text(Gilroy, 18px, 1.2, 800, rgb(255, 0, 0));
        }
        .cart-btn {
            display: block;
            background-color: rgb(255, 0, 0);
            box-shadow: 0px 10px 20.16px 0.84px rgba(255, 0, 0, 0.21);
            width: 50px;
            height: 50px;
            border: none;
            margin: -25px auto 0 auto;
            i {
                font-size: 20px;
                color: rgb(255, 255, 255);
            }
        }
    }
}
