#about {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.about-title {
  margin-top: 6rem;
}

.about-description {
  display: flex;
}

.description-about-text {
  margin-top: 1.5rem;
  max-width: 35.75rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #565656;
}

.description-about-text p {
  margin-top: 1.5rem;
}

.description-about-images {
  padding-left: 2rem;
  margin-top: 1.5rem;
}

.description-about-images img {
  max-width: 100%;
}

@media (max-width: 1350px) {
  .description-about-text {
    max-width: 33.75rem;
  }

  .description-about-images img {
    max-width: 33rem;
  }
}

@media (max-width: 1280px) {
  .description-about-text {
    max-width: 30.75rem;
  }
}

@media (max-width: 1110px) {
  .description-about-text {
    max-width: 25rem;
  }

  .description-about-images img {
    max-width: 30rem;
  }
}

@media (max-width: 1024px) {
  .description-about-images img {
    max-width: 27rem;
  }
}

@media (max-width: 768px) {
  .about-description {
    display: flex;
    flex-direction: column;
  }

  .description-about-text {
    max-width: 100%;
    text-align: center;
  }

  .description-about-images {
    display: flex;
    justify-content: center;
    padding-left: 0rem;
  }

  .description-about-images img {
    max-width: 36rem;
  }
}

@media (max-width: 414px) {
  .description-about-images img {
    max-width: 100%;
  }

  .about-description {
    padding: 0rem 1rem;
  }
}

@media (max-width: 360px) {
  .about-description {
    margin-bottom: 139px;
  }
}

