#action {
  min-height: 100%;
}

.action-title {
  margin-top: 6rem;
}

.tabs-action {
  margin-top: 2rem;
  margin-right: 3rem;
}

.style-action-woman {
  width: 34.625rem;
  height: 7.875rem;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  box-sizing: border-box;
}

.style-action-woman:hover {
  color: #ED3237;
}

.style-action-men {
  width: 100%;
  height: 7.875rem;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
}

.style-action-men:hover {
  color: #ED3237;
}

.item-woman-bg-nav {
  background: url(/img/pictures/action-woman.png);
  width: 100%;
}

.item-men-bg-nav {
  background: url(/img/pictures/action-men.png);
  width: 100%;
}

.action-click {
  color: #ED3237 !important;
  background: rgba(255, 255, 255, 0.7) !important;
  -webkit-backdrop-filter: blur(4px) !important;
          backdrop-filter: blur(4px) !important;
}

.click-border {
  border: 1px solid #ED3237;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.types-action {
  display: flex;
  justify-content: space-between;
}

.action-item-text {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-sale-action {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 131.77%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ED3237;
}

.text-title-action {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 131.77%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #0A0A0A;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}

.action-item-images img {
  width: 22.25rem;
}

.size-full {
  width: 100%;
  flex-wrap: nowrap !important;
}

.action-main-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.action-title-shoes {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #545454;
}

.action-views-all {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #545454;
}

.action-views-all a {
  color: #545454;
}

.actions-goods {
  margin-top: 5rem;
  margin-right: 3rem;
  margin-bottom: 11.5rem;
}

.slider-categories {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  top: 40% !important;
  left: 3px !important;
}

.prev-arrow::after {
  content: "" !important;
  position: absolute;
  background: url(/img/icon/slider-arrow-left.png);
  width: 15.92px;
  height: 15.92px;
}

.next-arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  top: 40% !important;
  right: 3px !important;
}

.next-arrow::after {
  content: "" !important;
  position: absolute;
  background: url(/img/icon/slider-arrow-right.png);
  width: 15.92px;
  height: 15.92px;
}

@media (max-width: 1199px) {
  .style-action-men {
    width: 100%;
  }

  .style-action-woman {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .style-action-men {
    width: 100%;
  }

  .style-action-woman {
    width: 100%;
  }

  .tabs-action {
    margin-top: 2rem;
    margin-right: 6rem;
  }

  .size-full {
    width: 100%;
    flex-wrap: nowrap !important;
  }

  .item-woman-bg-nav {
    width: 100%;
  }

  .item-men-bg-nav {
    width: 100%;
  }

  .style-action-woman {
    width: 100%;
  }

  .style-action-men {
    width: 100%;
  }

  .action-item-images img {
    width: 17.7rem;
  }
}

@media (max-width: 768px) {
  .tabs-action {
    margin-top: 2rem;
    margin-right: 0rem;
  }

  .tab-action {
    justify-content: center;
    align-items: center;
  }

  .style-action-woman {
    font-size: 45px;
  }

  .style-action-men {
    font-size: 45px;
  }

  .action-item-images img {
    width: 14.9rem;
  }
}

@media (max-width: 414px) {
  .style-action-men {
    width: 100%;
  }

  .style-action-woman {
    width: 100%;
  }

  .tab-action {
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
  }

  .actions-goods {
    margin-right: 0rem;
  }

  .action-main-block {
    padding: 0rem 0rem;
  }

  .size-full {
    width: 100%;
    flex-wrap: wrap !important;
  }

  .action-item-images img {
    width: 100%;
  }

  .actions-goods {
    padding: 0rem 1rem;
  }

  .select-action {
    padding: 0rem !important;
  }
}

@media (max-width: 375px) {
  .style-action-men {
    width: 100%;
  }

  .style-action-woman {
    width: 10% 0;
  }

  .action-item-images img {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .style-action-men {
    width: 100%;
  }

  .style-action-woman {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .style-action-men {
    width: 100%;
    font-size: 36px;
  }

  .style-action-woman {
    width: 100%;
    font-size: 36px;
  }
}

