#basket {
  min-height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.38) -2.67%, rgba(255, 255, 255, 0) 17.11%), #F8F8F8;
}

.basket-main-block {
  display: flex;
}

.basket-block-things {
  margin-top: 6rem;
  position: relative;
}

.basket-block-things:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 21rem;
  right: -19.5rem;
  transform: rotate(90deg);
  background: #C7C7C7;
}

.basket-title-things {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #363636;
}

.basket-title-things span {
  color: #ED3237;
}

.basket-things-table {
  margin-top: 2.8125rem;
  background: #FFFFFF;
  box-shadow: 10px 10px 30px rgba(130, 130, 130, 0.15);
  border-radius: 9px;
  width: 34.375rem;
}

.basket-type-things-item {
  display: flex;
}

.basket-border-bottom-line {
  border-bottom: 1px solid #F3F3F3;
}

.picture-basket-item {
  padding: 3.8125rem 0rem 2.9375rem 0rem;
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-basket-item {
  width: 100%;
  padding: 0rem 1.9375rem 0rem 0rem;
}

.basket-item-card {
  display: flex;
  justify-content: space-between;
  margin-top: 1.8125rem;
}

.name-basket {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  color: #363636;
}

.name-basket p {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #777777;
}

.basket-size-color-price {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.basket-size p {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  color: #000000;
  margin-bottom: 0.3125rem;
}

.item-size-basket {
  width: 91px;
  height: 35px;
  background: #F8F8F8;
  border-radius: 9px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket-color p {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  color: #000000;
}

.colors-item-type-things {
  display: flex;
  width: 4rem;
  justify-content: space-between;
  height: 1.125rem;
  margin-top: 0.875rem;
}

.colors-item-type-things div:nth-child(1) {
  width: 10px;
  height: 10px;
  background: #FF9496;
  border-radius: 50%;
  position: relative;
}

.colors-item-type-things div:nth-child(1):before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 0.5px solid #8E8E8E;
  box-sizing: border-box;
  top: -4px;
  left: -4px;
}

.color-circle-active {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 0.5px solid #8E8E8E;
  box-sizing: border-box;
  top: -4px;
  left: -4px;
}

.colors-item-type-things div:nth-child(2) {
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 50%;
}

.colors-item-type-things div:nth-child(3) {
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 50%;
}

.basket-price {
  display: flex;
  margin-top: 1.3125rem;
  padding-bottom: 0.5rem;
}

.basket-price p {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #ED3237;
}

.basket-price span {
  color: #FF9496;
  padding-left: 6px;
}

.description-prices-all-things {
  display: flex;
  margin-top: 1.6875rem;
  justify-content: space-between;
  width: 100%;
}

.left-part-price {
  width: 15.875rem;
}

.things-on-summa {
  display: flex;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
  display: flex;
  justify-content: space-between;
}

.things-on-summa p span {
  padding-left: 0.375rem;
  color: #B6B6B6;
}

.delivery-summa {
  display: flex;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
  display: flex;
  justify-content: space-between;
  margin-top: 0.875rem;
}

.delivery-summa p span {
  padding-left: 0.375rem;
  color: #B6B6B6;
}

.bonus-summa {
  display: flex;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
  display: flex;
  justify-content: space-between;
  margin-top: 0.875rem;
}

.bonus-summa p span {
  padding-left: 0.375rem;
  color: #B6B6B6;
}

.right-part-price {
  display: flex;
  flex-direction: column;
}

.total-for-summa {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #363636;
}

.total-for-summa p {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ED3237;
  margin-top: 0.75rem;
}

.total-for-summa p span {
  color: #FF9496;
  padding-left: 0.375rem;
}

.basket-block-form {
  padding-left: 4.7rem;
  margin-top: 6rem;
  width: 32.75rem;
}

.basket-title-form {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #363636;
}

.form-order-horizontal-basket {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.form-title-basket {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.form-subtitle-basket {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #363636;
  padding-bottom: 0.03rem;
  border-bottom: 1px solid #363636;
}

.basket-form-order {
  margin-top: 2.8125rem;
}

.horizontal-input-form-order {
  display: flex;
  justify-content: space-between;
}

.tabs-basket-form {
  margin-top: 1.125rem;
}

.basket-main-name {
  position: relative;
}

.basket-main-name p {
  content: "";
  position: absolute;
  top: 6px;
  left: 15px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #AEAEAE;
}

.basket-main-name input {
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  box-sizing: border-box;
  border-radius: 9px;
  height: 3.75rem;
  width: 13.625rem;
  padding: 1.4rem 0rem 1rem 1rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.basket-main-surname {
  position: relative;
}

.basket-main-surname input {
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  box-sizing: border-box;
  border-radius: 9px;
  height: 3.75rem;
  width: 13.625rem;
  padding: 1.4rem 0rem 1rem 1rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.basket-main-surname p {
  position: absolute;
  top: 6px;
  left: 15px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #AEAEAE;
}

.basket-main-email {
  position: relative;
  margin-top: 1.5rem;
}

.basket-main-phone {
  position: relative;
  margin-top: 1.5rem;
}

.basket-main-email input {
  width: 16.1875rem;
  height: 3.75rem;
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 1.4rem 0rem 1rem 1rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.basket-main-email p {
  position: absolute;
  top: 6px;
  left: 15px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #AEAEAE;
}

.basket-main-phone input {
  width: 11.0625rem;
  height: 3.75rem;
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  box-sizing: border-box;
  border-radius: 9px;
  padding: 1.4rem 0rem 1rem 1rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.basket-main-phone p {
  position: absolute;
  top: 6px;
  left: 15px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #AEAEAE;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: #ED3237 !important;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.13) !important;
  border-radius: 9px !important;
  color: #FFFFFF !important;
}

.basket-navs {
  display: flex;
  justify-content: space-between;
}

.basket-navs li {
  height: 2.1875rem;
  background: #FFFFFF;
  border-radius: 9px;
}

.basket-navs li a {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
}

.attention-basket-tabs {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #363636;
  display: flex;
}

.attention-basket-tabs span:nth-child(1) {
  padding-right: 0.625rem;
}

.tab-content-basket {
  margin-top: 1.1875rem !important;
}

.basket-tabs-addres {
  margin-top: 1.9375rem;
}

.tabs-addres-title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.basket-main-addres {
  position: relative;
  width: 100%;
  margin-top: 1rem;
}

.basket-main-addres input {
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  box-sizing: border-box;
  border-radius: 9px;
  height: 3.75rem;
  width: 100%;
  padding: 1.4rem 0rem 1rem 1rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.basket-main-addres p {
  position: absolute;
  top: 6px;
  left: 15px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #AEAEAE;
}

.basket-bonus-system {
  margin-top: 2rem;
}

.bonus-title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.spent-bonuses {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accumulated-bonus {
  display: flex;
  justify-content: space-between;
  margin-top: 1.1875rem;
}

.accumulated-bonus p:nth-child(1) {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ED3237;
}

.accumulated-bonus p:nth-child(1) span {
  padding: 0 0.2rem;
}

.accumulated-bonus p:nth-child(2) {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #363636;
}

.toggle-bonus {
  margin-top: 1.1875rem;
}

.switch {
  position: relative;
  width: 34px;
  height: 14px;
}

.switch input {
  display: none;
}

.toggle-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #363636;
  border-radius: 10px;
  transition: 0.4s;
}

.toggle-switch:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: -1px;
  bottom: -3px;
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .toggle-switch {
  background: #ED3237;
}

input:checked + .toggle-switch:before {
  transform: translateX(20px);
}

.take-type-pay {
  margin-top: 2.125rem;
}

.title-type-pay {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.take-type-btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1.4375rem;
}

.basket-main-online {
  display: flex;
  align-items: center;
}

.basket-main-online p {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #363636;
  padding-left: 0.75rem;
}

.checkedstatus {
  color: #B6B5B5 !important;
}

.basket-main-online input {
  display: none;
}

.circl-checkbox {
  position: relative;
  width: 28px;
  height: 28px;
  border: 1px solid #B6B5B5;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}

.circl-checkbox::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: 0.4s;
}

#paycard:checked + .circl-checkbox {
  border: 1px solid #ED3237;
}

#paycard:checked + .circl-checkbox::before {
  background: #ED3237;
}

.basket-main-cash input {
  display: none;
}

#paycard:checked + .circl-checkbox {
  border: 1px solid #ED3237;
}

#paycard:checked + .circl-checkbox::before {
  background: #ED3237;
}

.basket-main-cash {
  display: flex;
  align-items: center;
}

.paystatus {
  cursor: pointer;
}

.basket-main-cash p {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #363636;
  padding-left: 0.75rem;
}

.checkout-btn {
  width: 100%;
  margin-top: 2.875rem;
  margin-bottom: 8.6875rem;
}

.checkout-btn button {
  width: 100%;
  height: 3rem;
  border: none;
  background: #ED3237;
  border-radius: 9px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.checkbox {
  display: flex;
  align-items: center;
}

.market-title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.market-box-block {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #7D7D7D;
  box-sizing: border-box;
  border-radius: 9px 9px 0px 0px;
  position: relative;
  z-index: 158;
  margin-top: 1.125rem;
}

.market-bottom-line {
  border-bottom: 1px solid #C4C4C4;
}

.toggle-item-shop {
  position: absolute;
  top: 1.8125rem;
  right: 1.4375rem;
  background: url(/img/pictures/red-down.png);
  width: 16px;
  height: 11px;
}

.item-close-shop {
  background: url(/img/pictures/red-close.png);
  width: 12px;
  height: 12px;
}

.market-box-item {
  padding: 0rem 0rem 0rem 1.5rem;
  margin-top: 1rem;
}

.market-box-item p:nth-child(1) {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.market-box-item p:nth-child(2) {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #8D8D8D;
  margin-top: 0.5rem;
}

.market-box-item p:nth-child(3) {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #8D8D8D;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 1199px) {
  .basket-things-table {
    width: 31.375rem;
  }

  .basket-block-things:before {
    right: -17rem;
  }

  .basket-block-form {
    padding-left: 2.7rem;
  }

  .basket-main-surname input {
    width: 12rem;
  }

  .basket-main-name input {
    width: 12rem;
  }

  .basket-main-phone input {
    width: 10rem;
  }

  .basket-main-email input {
    width: 14rem;
  }

  .basket-block-form {
    padding-left: 2.7rem;
    width: 27.75rem;
  }
}

@media (max-width: 1099px) {
  .picture-basket-item {
    padding: 3.8125rem 0rem 2.9375rem 0rem;
  }

  .basket-things-table {
    width: 28.375rem;
  }

  .basket-block-things:before {
    right: -15rem;
  }

  .basket-block-form {
    padding-left: 1.7rem;
    width: 26rem;
  }

  .accumulated-bonus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1.1875rem;
  }

  .accumulated-bonus p:nth-child(2) {
    margin-top: 0.5rem;
  }

  .toggle-bonus {
    margin-top: 0rem;
  }
}

@media (max-width: 768px) {
  .basket-main-block {
    flex-direction: column;
    align-items: center;
  }

  .basket-block-things:before {
    display: none;
  }

  .basket-block-things {
    display: flex;
    flex-direction: column;
  }

  .picture-basket-item {
    padding: 3.8125rem 0rem 2.9375rem 0rem;
    width: 285px;
  }

  .basket-things-table {
    width: 34.375rem;
  }

  .basket-block-form {
    padding-left: 0rem;
    margin-top: 6rem;
    width: 32.75rem;
  }

  .basket-main-name input {
    width: 16rem;
  }

  .basket-main-surname input {
    width: 16rem;
  }

  .basket-main-email input {
    width: 19rem;
  }

  .basket-main-phone input {
    width: 13rem;
  }

  .accumulated-bonus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.1875rem;
  }

  .accumulated-bonus p:nth-child(2) {
    margin-top: 0rem;
  }

  .toggle-bonus {
    margin-top: 1.1875rem;
  }

  .basket-price {
    margin-top: 0.3125rem;
  }

  .colors-item-type-things {
    padding-left: 0.2rem;
  }

  .basket-color p {
    margin-top: 0.5rem;
    text-align: left;
  }

  .item-size-basket {
    width: 31px;
  }

  .basket-size-color-price {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
    flex-direction: column;
  }

  .basket-size p {
    text-align: left;
  }

  .basket-things-table {
    width: 100%;
  }

  .description-prices-all-things {
    flex-direction: column;
  }

  .total-for-summa {
    align-items: flex-start;
  }

  .total-for-summa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .total-for-summa p {
    margin-top: 0rem;
  }

  .left-part-price {
    width: 100%;
  }

  .right-part-price {
    margin-top: 0.5rem;
  }

  .basket-block-form {
    width: 100%;
  }

  .horizontal-input-form-order {
    flex-direction: column;
  }

  .basket-block-form {
    width: 100%;
    padding: 0rem 1rem;
  }

  .description-basket-item {
    width: 10rem;
  }

  .basket-main-name input {
    width: 100%;
  }

  .basket-main-surname input {
    width: 100%;
  }

  .basket-main-email input {
    width: 100%;
  }

  .basket-main-phone input {
    width: 100%;
  }

  .basket-main-surname {
    margin-top: 1.5rem;
  }

  .accumulated-bonus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1.1875rem;
  }

  .accumulated-bonus p:nth-child(2) {
    margin-top: 0.5rem;
  }

  .toggle-bonus {
    margin-top: 0rem;
  }

  .take-type-btn-group {
    flex-direction: column;
  }

  .basket-main-cash {
    margin-top: 0.5rem;
  }
}

@media (max-width: 414px) {
  .basket-block-things {
    width: 100%;
  }

  .basket-things-table {
    width: 100%;
  }

  .description-basket-item {
    padding: 0rem 0.7rem 0rem 0rem;
  }

  .basket-price {
    padding-bottom: 0.4rem;
  }

  .right-part-price {
    margin-top: 1rem;
  }

  .basket-block-things {
    padding: 0rem 1rem;
  }

  .description-basket-item {
    width: 100%;
  }

  .picture-basket-item {
    width: 453px;
  }
}

@media (max-width: 375px) {
  .description-basket-item {
    width: 100%;
  }

  .basket-block-things {
    padding: 0rem 1rem;
  }

  .market-box-item {
    padding: 0rem 1.5rem 0rem 1.5rem;
  }
}

@media (max-width: 320px) {
  .basket-navs {
    flex-wrap: nowrap;
  }
}

