#cabinet-mail {
  min-height: 100%;
}

.mail-item-personal {
  position: relative;
}

.mail-item-personal p:nth-child(1) {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 107.84%;
  color: #363636;
  margin-top: 2rem;
}

.mail-item-personal input {
  width: 26.9375rem;
  height: 3.75rem;
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  box-sizing: border-box;
  border-radius: 9px;
  margin-top: 1rem;
  padding: 0.8rem 2rem 0rem 1rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.mail-item-personal p:nth-child(3) {
  position: absolute;
  top: 2.7rem;
  left: 1rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #AEAEAE;
}

.mail-danger {
  display: flex;
  margin-top: 1.125rem;
}

.mail-danger span:nth-child(1) {
  padding-right: 1rem;
}

.mail-danger span:nth-child(2) {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}

.modal-update-pass-rep {
  position: relative;
  z-index: 1720;
  width: 36.8125rem;
  height: 23.625rem;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
}

.item-update-pass-rep {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-update-pass-rep img:nth-child(1) {
  margin-top: 5.5rem;
}

.item-update-pass-rep p:nth-child(2) {
  margin-top: 3.25rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 107.84%;
  text-align: center;
  color: #363636;
  width: 32.75rem;
}

.item-update-pass-rep button:nth-child(3) {
  border: none;
  background: #ED3237;
  border-radius: 9px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  width: 13.0625rem;
  height: 3rem;
  margin-top: 2.5rem;
}

@media (max-width: 414px) {
  .mail-item-personal input {
    width: 100%;
  }

  .left-down-name span:nth-child(2) {
    font-size: 20px;
  }

  .mail-item-personal p:nth-child(1) {
    font-size: 16px;
  }

  .modal-update-pass-rep {
    width: 23.8125rem;
    height: 27.625rem;
  }

  .item-update-pass-rep p:nth-child(2) {
    width: 20.75rem;
  }
}

@media (max-width: 375px) {
  .modal-update-pass-rep {
    width: 23.8125rem;
  }
}

@media (max-width: 320px) {
  .mail-item-personal p:nth-child(3) {
    top: 3.5rem;
  }

  .modal-update-pass-rep {
    width: 18.8125rem;
  }

  .item-update-pass-rep p:nth-child(2) {
    width: 14.75rem;
  }
}

