.mail-item-personal-rep input {
  width: 26.9375rem;
  height: 3.75rem;
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  box-sizing: border-box;
  border-radius: 9px;
  margin-top: 1rem;
  padding: 0.8rem 2rem 0rem 1rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.mail-item-personal-rep p:nth-child(3) {
  position: absolute;
  top: 2.7rem;
  left: 1rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #AEAEAE;
}

.mail-item-personal-rep {
  position: relative;
  margin-top: 2rem;
}

@media (max-width: 414px) {
  .mail-item-personal-rep p:nth-child(1) {
    font-size: 16px;
  }

  .mail-item-personal-rep input {
    width: 100%;
  }

  .mail-item-personal-rep p:nth-child(3) {
    top: 3.8rem;
  }
}

