#cabinet {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.brd-none {
  border: none !important;
}

.personal-account {
  width: 38.625rem;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.personal-form {
  width: 38.625rem;
  height: 100%;
}

.account-item {
  width: 38.625rem;
  height: 26.1875rem;
}

.item-name-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-title-account {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 107.84%;
  color: #363636;
}

.form-btn-close-personal button {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #363636;
  border: none;
  background: white;
}

.item-input-account-name {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

.item-input-account-name p:nth-child(2) {
  position: absolute;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #AEAEAE;
  top: 0.3rem;
  left: 1.11rem;
}

.item-input-account-name p:nth-child(4) {
  position: absolute;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #AEAEAE;
  top: 0.3rem;
  left: 14.2rem;
}

.item-input-account-name p:nth-child(6) {
  position: absolute;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #AEAEAE;
  top: 0.3rem;
  left: 27.2rem;
}

.item-input-account-name input {
  width: 12.5rem;
  height: 3.75rem;
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  box-sizing: border-box;
  border-radius: 9px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
  padding: 0.5rem 1rem 0rem 1.1rem;
}

.date-input-personal-area {
  width: 18rem;
  height: 3.75rem;
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  box-sizing: border-box;
  border-radius: 9px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
  position: relative;
  padding: 0.5rem 1rem 0rem 1rem;
}

.pass-input-personal-area {
  width: 19.625rem;
  height: 3.75rem;
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  box-sizing: border-box;
  border-radius: 9px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
  padding: 0.5rem 3rem 0rem 1rem;
}

.item-input-account-date-pass {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.item-input-account-date-pass p:nth-child(2) {
  position: absolute;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #AEAEAE;
  top: 0.3rem;
  left: 1.1rem;
}

.item-input-account-date-pass span:nth-child(3) {
  position: absolute;
  top: 1.3rem;
  left: 15rem;
}

.item-input-account-date-pass span:nth-child(5) {
  position: absolute;
  top: 1.3rem;
  left: 35.8rem;
}

.item-input-account-date-pass p:nth-child(6) {
  position: absolute;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #AEAEAE;
  top: 0.3rem;
  left: 20.1rem;
}

.item-input-account-email {
  margin-top: 2rem;
  position: relative;
}

.item-input-account-email input {
  width: 38.625rem;
  height: 3.75rem;
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  box-sizing: border-box;
  border-radius: 9px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
  padding: 0.5rem 1rem 0rem 1rem;
}

.item-input-account-email p:nth-child(2) {
  position: absolute;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #AEAEAE;
  top: 0.3rem;
  left: 1.1rem;
}

.item-submit-button-account {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-submit-button-account button {
  background: #ED3237;
  border-radius: 9px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  border: none;
  width: 38.625rem;
  height: 3.75rem;
}

.dpnone {
  display: none;
}

.my-order-block-item {
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 9px;
  width: 50.125rem;
  height: 11rem;
  margin-top: 2rem;
}

.item-order-title span:nth-child(1) {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 107.84%;
  color: #363636;
  padding-right: 1rem;
}

.item-order-title span:nth-child(2) {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #A3A3A3;
}

.item-order-card-line {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.card-line-order-text-part {
  padding-right: 1.5rem;
}

.card-line-order-text-part p:nth-child(1) {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 107.84%;
  color: #363636;
  margin-top: 1.875rem;
}

.card-line-order-text-part p:nth-child(2) {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 107.84%;
  color: #ED3237;
  margin-top: 0.75rem;
}

.card-line-order-text-part p:nth-child(3) {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 107.84%;
  color: #363636;
  margin-top: 0.75rem;
}

.card-line-order-text-part p:nth-child(4) {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 107.84%;
  color: #363636;
  border-bottom: 1px solid #363636;
  margin-top: 1.5rem;
  width: 5.2rem;
  padding-bottom: 0.2rem;
}

.card-line-order-picture-part {
  margin-top: 1.5rem;
}

.padding-my-order-block-item {
  margin-bottom: 8.6875rem;
}

.favorite-block {
  margin-top: 3.125rem;
}

.favorite-item-block {
  display: flex;
}

.favorite-item-type {
  width: 13.125rem;
  margin-right: 2.4375rem;
}

.item-main-favorit {
  background: #ED3237;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-main-favorit span:nth-child(1) {
  padding-right: 0.75rem;
}

.item-main-favorit span:nth-child(2) {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 107.84%;
  color: #FFFFFF;
}

.item-second-favorite {
  padding-left: 1.5625rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #545454;
  margin-top: 1rem;
}

.item-second-favorite span {
  padding-left: 1rem;
}

.active-type {
  font-weight: 600;
}

.favorite-item-things {
  width: 53.5rem;
}

.favorite-dp-block {
  display: none;
}

.overlay-for-all-favorite {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
}

.favorite-form-all-things {
  width: 100%;
  height: 70%;
  background: #ffffff;
  padding: 0rem 1rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #545454;
}

.item-all-favorite label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.hiddden {
  overflow: hidden;
}

.bonus-system-cabinet {
  display: flex;
}

.bonus-view-pc {
  width: 42.85rem;
}

.bonus-pc-title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 107.84%;
  color: #363636;
}

.bonus-pc-subtitle {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 107.84%;
  color: #ED3237;
  margin-top: 2.0625rem;
}

.bonus-pc-text {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
  margin-top: 1rem;
}

.bonus-pc-images {
  margin-top: 0.4375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bonus-pc-images img {
  width: 100%;
}

.bonus-pc-images p {
  margin-top: 0.80875rem;
}

.bonus-pc-description {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.bonus-pc-description p:nth-child(1) {
  margin-top: 3.875rem;
}

.bonus-pc-description p:nth-child(2) {
  margin-top: 1.125rem;
}

.bonus-view-mob {
  margin-top: 2rem;
  margin-left: 5.0625rem;
  margin-bottom: 8.6875rem;
  width: 18.5625rem;
}

.bonus-mob-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bonus-mob-images p {
  margin-top: 0.975625rem;
}

@media (max-width: 1300px) {
  .favorite-item-things {
    width: 50.5rem;
  }
}

@media (max-width: 1199px) {
  .favorite-item-things {
    width: 42.5rem;
  }
}

@media (max-width: 1024px) {
  .favorite-item-things {
    width: 39.5rem;
  }

  .bonus-mob-images {
    display: block;
  }

  .bonus-system-cabinet {
    display: flex;
    flex-direction: column;
  }

  .bonus-view-mob {
    margin-left: 0rem;
  }

  .bonus-pc-images {
    margin-top: 0.4375rem;
    display: block;
  }

  .bonus-pc-images img {
    width: auto;
  }

  .bonus-pc-text {
    width: 42.25rem;
  }

  .bonus-view-pc {
    width: auto;
  }

  .bonus-pc-images p {
    width: 42.25rem;
    display: flex;
    justify-content: center;
  }

  .bonus-pc-description {
    width: 42.85rem;
  }

  .bonus-mob-images p {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .my-order-block-item {
    width: 44.8rem;
  }

  .item-main-favorit {
    width: 12rem;
  }

  .bonus-pc-text {
    width: 100%;
  }

  .bonus-pc-description {
    width: 100%;
  }

  .bonus-pc-images img {
    width: 100%;
  }

  .bonus-pc-images p {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .personal-account {
    width: 100%;
  }

  .personal-form {
    width: 100%;
  }

  .item-input-account-name input:nth-child(5) {
    margin-top: 1rem;
  }

  .item-input-account-name p:nth-child(6) {
    top: 5.1rem;
    left: 1.2rem;
  }

  .item-input-account-email input {
    width: 100%;
  }

  .item-input-account-date-pass {
    margin-top: 1rem;
  }

  .padding-top-tabs-container {
    margin-top: 1rem;
  }

  .select-categories {
    padding: 0rem 1rem;
  }

  .personal-account {
    padding: 0rem 1rem;
  }

  .item-input-account-name input {
    width: 11.5rem;
  }

  .dpnone {
    display: block;
  }

  .pass-input-personal-area {
    width: 100%;
  }

  .item-input-account-name input {
    margin-top: 1rem;
  }

  .dpnonebig {
    display: none;
  }

  .item-input-account-date-pass p:nth-child(2) {
    top: -4.2rem;
    left: 13.5rem;
  }

  .item-input-account-name p:nth-child(6) {
    top: 6.3rem;
    left: 1.2rem;
  }

  .item-input-account-name p:nth-child(4) {
    top: 1.5rem;
    left: 13.5rem;
  }

  .item-input-account-name p:nth-child(2) {
    top: 1.5rem;
    left: 1.11rem;
  }

  .item-input-account-date-pass span:nth-child(3) {
    position: absolute;
    top: -3.4rem;
    left: 21.4rem;
  }

  .item-input-account-date-pass p:nth-child(6) {
    top: 0.6rem;
    left: 1.2rem;
  }

  .item-input-account-email p:nth-child(2) {
    top: 0.6rem;
    left: 1.2rem;
  }

  .item-input-account-email {
    margin-top: 1rem;
  }

  .item-input-account-date-pass span:nth-child(5) {
    top: 1.3rem;
    left: 21.4rem;
  }

  .item-submit-button-account {
    margin-top: 1.5rem;
  }

  .item-input-account-name input {
    padding: 0.8rem 1rem 0rem 1.1rem;
  }

  .pass-input-personal-area {
    padding: 0.8rem 3rem 0rem 1.1rem;
  }

  .item-input-account-email input {
    padding: 0.8rem 1rem 0rem 1.1rem;
  }

  .my-order-block {
    padding: 0rem 0.5rem;
  }

  .my-order-block-item {
    width: 24.8rem;
    height: 20rem;
  }

  .item-order-card-line {
    display: flex;
    align-items: flex-start;
    padding-left: 0.5rem;
    flex-direction: column;
  }

  .favorite-dp-none {
    display: none;
  }

  .favorite-dp-block {
    display: block;
  }

  .favorite-item-block {
    display: flex;
    flex-direction: column;
    padding: 0rem 0.5rem;
  }

  .favorite-item-things {
    width: 100%;
    margin-bottom: 8rem;
    margin-top: 1.5rem;
  }

  .bonus-pc-description {
    padding: 0 1rem;
    text-align: center;
  }

  .bonus-view-mob {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .bonus-view-pc {
    padding: 0 1rem;
  }

  .bonus-pc-title {
    padding: 0 1rem;
  }

  .brd-none .nav-item:nth-child(4) {
    padding-left: 0rem;
    padding-top: 1rem;
  }
}

@media (max-width: 375px) {
  .item-input-account-name input {
    width: 10.5rem;
  }

  .item-input-account-name p:nth-child(4) {
    top: 1.5rem;
    left: 12.2rem;
  }

  .item-input-account-date-pass p:nth-child(2) {
    top: -4.2rem;
    left: 12.2rem;
  }

  .item-input-account-date-pass span:nth-child(3) {
    position: absolute;
    top: -3.4rem;
    left: 19.4rem;
  }

  .item-input-account-date-pass span:nth-child(5) {
    top: 1.3rem;
    left: 19.4rem;
  }

  .favorit-top {
    margin-top: 1rem;
  }

  .my-order-block-item {
    width: 22.5rem;
  }
}

@media (max-width: 360px) {
  .item-input-account-name input {
    width: 9.5rem;
  }

  .item-input-account-date-pass span:nth-child(3) {
    position: absolute;
    top: -3.2rem;
    left: 18.7rem;
  }

  .item-input-account-date-pass span:nth-child(5) {
    top: 1.3rem;
    left: 18.7rem;
  }
}

@media (max-width: 320px) {
  .item-input-account-name input {
    width: 9rem;
  }

  .item-input-account-name p:nth-child(4) {
    top: 1.5rem;
    left: 11.2rem;
  }

  .item-input-account-date-pass p:nth-child(2) {
    top: -4.2rem;
    left: 11.2rem;
  }

  .personal-account {
    padding: 0rem 0.5rem;
  }

  .item-input-account-date-pass span:nth-child(3) {
    position: absolute;
    top: -3.2rem;
    left: 17.4rem;
  }

  .item-input-account-date-pass span:nth-child(5) {
    top: 1.3rem;
    left: 17.4rem;
  }

  .personal-account {
    margin-bottom: 3rem;
    height: 100%;
  }

  .my-order-block-item {
    width: 19.3rem;
  }

  .my-order-block {
    padding: 0rem 0.3rem;
  }

  .item-order-card-line {
    padding-left: 0.15rem;
  }

  .brd-none .nav-item:nth-child(3) {
    padding-left: 0rem;
    padding-top: 1rem;
  }

  .brd-none .nav-item:nth-child(4) {
    padding-left: 1.2rem;
  }
}

