#catalog {
  min-height: 100%;
}

.catalog-main-name-title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #545454;
}

.catalog-main-name-title span {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #A3A3A3;
  padding-left: 1.375rem;
}

.catalog-main-filter-item {
  display: flex;
}

.catalog-filter-type-thing {
  width: 9.125rem;
}

.filter-type-thing-name {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #545454;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-top: 2.125rem;
}

.active-filter-type {
  color: #FFFFFF;
  background: #ED3237;
  height: 2.9375rem;
}

.filter-type-things-item {
  display: flex;
  flex-direction: column;
}

.filter-type-things-item a {
  margin-top: 1.4375rem;
  text-decoration: none;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #545454;
  padding-left: 1rem;
}

.catalog-filter-select-thing {
  margin-top: 2.125rem;
  width: 100%;
  padding-right: 1.2rem;
  padding-left: 1rem;
}

.catalog-select-block-items {
  display: flex;
  justify-content: space-between;
}

.select-items-drop {
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  height: 2.9375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.openselect {
  display: inline-flex;
  height: 100%;
  align-items: center;
}

.select-items-drop span:nth-child(2):before {
  content: "";
  position: absolute;
  background: url(/img/icon/small-drop.png);
  width: 10px;
  height: 5px;
}

.drop-item-active span:nth-child(2):before {
  content: "";
  position: absolute;
  background: url(/img/icon/small-drop-red.png);
  width: 10px;
  height: 5px;
}

.select-items-drop span:nth-child(1) {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  color: #545454;
  padding-left: 0.5rem;
}

.select-items-drop span:nth-child(2) {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-item-active {
  background: #FFFFFF;
  border: 1px solid #ED3237;
  box-sizing: border-box;
  color: #ED3237;
  position: relative;
}

.drop-item-active span:nth-child(1) {
  color: #ED3237;
}

.price-without-discount-catalog {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
  position: relative;
}

.things-price-catalog {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.115625rem;
  margin-bottom: 1.6875rem;
}

.catalog-product {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.catalog-goods {
  margin-bottom: 8.6875rem;
}

.select-element-block {
  top: 4.5rem;
  left: 0;
  position: absolute;
  width: 16.1rem;
  z-index: 899;
}

.select-element-block {
  padding: 0rem 2rem 0rem 2rem;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 250px;
}

.select-elemet-item {
  margin-bottom: 1rem;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.checkelem {
  padding: 0 !important;
  font-family: SF Pro Display !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 19px !important;
  color: #545454 !important;
  cursor: pointer;
}

.select-arrow-element {
  display: flex;
  position: relative;
  justify-content: center;
  top: -1.2rem;
  align-items: center;
}

.hidden_absolute {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.invisiblewin {
  display: none;
}

#select-sort .select-arrow-element {
  justify-content: normal;
}

#select-price .select-arrow-element {
  justify-content: normal;
}

#select-season .select-arrow-element {
  justify-content: normal;
}

#select-color .select-arrow-element {
  justify-content: flex-end;
}

#select-color {
  left: -11.2rem;
}

#select-size .select-arrow-element {
  justify-content: flex-end;
}

#select-size {
  left: -10rem;
}

.check-box {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  right: 2rem;
}

.check-style {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 0.5px solid #8E8E8E;
  box-sizing: border-box;
  border-radius: 50%;
  right: 2rem;
  cursor: pointer;
}

.check-box:checked + .check-style::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #ED3237;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter-type-thing-name span {
  display: none;
}

.catalog-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
}

.catalog-modal-item {
  width: 100%;
  background: #ffffff;
  padding: 1rem 1.5rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  color: #545454;
}

.type-thing-catalog-item {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

@media (max-width: 1200px) {
  .catalog-select-block-items {
    flex-wrap: wrap;
    width: 796px;
  }

  .catalog-select-block-items .select-items-drop:nth-child(7) {
    margin-top: 0.7rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(8) {
    margin-top: 0.7rem;
  }

  .catalog-product {
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  .catalog-select-block-items {
    flex-wrap: wrap;
    width: 720px;
  }

  .select-items-drop span:nth-child(1) {
    font-size: 15px;
  }

  .catalog-product {
    margin-right: 4.5rem;
  }

  .catalog-goods {
    margin-right: 4.5rem;
  }

  .select-items-drop span:nth-child(2) {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
  }

  .select-element-block {
    top: 3.5rem;
    left: -45px;
  }

  .catalog-select-block-items .select-items-drop:nth-child(7) {
    margin-top: 0rem;
  }

  #select-sort {
    top: 3.5rem;
    left: 0px;
  }

  #select-price {
    top: 3.5rem;
    left: -27px;
  }

  #select-season {
    top: 3.5rem;
    left: -25px;
  }

  #select-lining {
    top: 3.5rem;
    left: -40px;
  }

  #select-material {
    top: 3.5rem;
    left: -52px;
  }

  #select-material {
    top: 3.5rem;
    left: -52px;
  }

  #select-size {
    left: -11rem;
  }
}

@media (max-width: 768px) {
  .card-item {
    width: 11.6875rem;
  }

  .catalog-product {
    margin-right: 5.5rem;
  }

  .catalog-product .card-item {
    padding: 0rem 0.5rem;
  }

  .catalog-select-block-items {
    display: flex;
    justify-content: normal;
  }

  .catalog-select-block-items {
    width: 488px;
  }

  .select-items-drop span:nth-child(1) {
    font-size: 15px;
  }

  .select-items-drop span:nth-child(2) {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(2) {
    margin-left: 0.5rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(3) {
    margin-left: 0.5rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(4) {
    margin-left: 0.5rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(5) {
    margin-left: 0rem;
    margin-top: 0.7rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(6) {
    margin-top: 0.7rem;
    margin-left: 0.5rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(7) {
    margin-left: 0.5rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(8) {
    margin-left: 0.5rem;
  }

  .select-element-block {
    top: 3.5rem;
    left: -50px;
  }

  #select-sort {
    top: 3.5rem;
    left: -1px;
  }

  #select-material .select-arrow-element {
    justify-content: flex-start;
  }

  #select-material {
    top: 3.5rem;
    left: -2px;
  }

  #select-color .select-arrow-element {
    justify-content: center;
  }

  #select-color {
    left: -5.8rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(7) {
    margin-top: 0.7rem;
  }

  #select-size .select-arrow-element {
    justify-content: center;
  }

  #select-size {
    left: -5.5rem;
  }
}

@media (max-width: 414px) {
  .filter-type-things-item {
    display: none;
  }

  .catalog-filter-select-thing {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .select-items-drop span:nth-child(1) {
    font-size: 14px;
  }

  .select-items-drop span:nth-child(2) {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
  }

  .select-items-drop {
    height: 2rem;
  }

  .catalog-main-block {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .catalog-product .card-item {
    width: 100%;
    height: auto;
    padding: 0rem 0rem;
  }

  .catalog-filter-type-thing {
    width: 11.125rem;
  }

  .catalog-select-block-items {
    width: 100%;
  }

  .catalog-select-block-items .select-items-drop:nth-child(2) {
    margin-left: 0.5rem;
    margin-top: 0rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(3) {
    margin-left: 0.5rem;
    margin-top: 0rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(4) {
    margin-left: 0.5rem;
    order: 7;
    margin-top: 0.7rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(5) {
    margin-left: 0rem;
    order: 5;
    margin-top: 0.7rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(6) {
    margin-top: 0.7rem;
    order: 6;
    margin-left: 0.5rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(7) {
    margin-left: 0.5rem;
    margin-top: 0rem;
  }

  .filter-type-thing-name {
    font-size: 20px;
  }

  .catalog-filter-select-thing {
    width: 250px;
  }

  .select-element-block {
    top: 1.5rem;
    left: -50px;
  }

  .things-img img {
    width: 8rem;
  }

  .card-item {
    padding: 0rem 0rem;
    width: 100%;
    height: 12.375rem;
  }

  .catalog-goods {
    margin-right: 0rem;
  }

  .catalog-main-filter-item {
    display: flex;
    flex-direction: column;
  }

  .catalog-filter-select-thing {
    width: 100%;
  }

  .catalog-filter-select-thing {
    margin-top: 2.125rem;
    width: 100%;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .catalog-product {
    margin-right: 0rem;
  }

  .catalog-filter-type-thing {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .filter-type-thing-name {
    padding: 0 1rem;
    margin-right: 0.2rem;
  }

  .select-element-block {
    top: 1.5rem;
    left: -80px;
  }

  .filter-type-thing-name span {
    padding-left: 0.5rem;
    display: block;
  }

  #select-sort {
    top: 2.59rem;
    left: -2px;
  }

  #select-price {
    top: 2.59rem;
    left: -26px;
  }

  #select-season .select-arrow-element {
    justify-content: center;
  }

  #select-season {
    top: 2.59rem;
    left: -95px;
  }

  #select-size {
    left: -11.3rem;
    top: 2.59rem;
  }

  #select-material {
    top: 2.59rem;
    left: 0px;
  }

  #select-material .select-arrow-element {
    justify-content: normal;
  }

  #select-color .select-arrow-element {
    justify-content: center;
  }

  #select-color {
    top: 2.59rem;
    left: -6.2rem;
  }

  #select-lining {
    top: 2.59rem;
    left: -96px;
  }

  #select-lining .select-arrow-element {
    justify-content: flex-end;
  }

  #select-size .select-arrow-element {
    justify-content: flex-end;
  }
}

@media (max-width: 375px) {
  .catalog-filter-select-thing {
    width: 100%;
  }

  .catalog-select-block-items .select-items-drop:nth-child(6) {
    margin-top: 0.7rem;
    order: 6;
    margin-left: 0.2rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(7) {
    margin-left: 0.5rem;
    margin-top: 0rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(5) {
    margin-left: 0rem;
    order: 5;
    margin-top: 0.7rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(4) {
    margin-left: 0.2rem;
    order: 7;
    margin-top: 0.7rem;
  }

  .select-element-block {
    top: 1.5rem;
    left: -11px;
  }
}

@media (max-width: 360px) {
  .catalog-select-block-items .select-items-drop:nth-child(7) {
    margin-left: 0.5rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(2) {
    margin-left: 0.5rem;
    margin-top: 0rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(3) {
    margin-left: 0.5rem;
    margin-top: 0rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(4) {
    margin-left: 0rem;
    margin-top: 0.75rem;
  }

  .catalog-filter-select-thing {
    width: 100%;
  }

  .select-element-block {
    top: 1.5rem;
    left: -3px;
  }

  #select-material {
    top: 2.59rem;
    left: -2px;
  }

  #select-lining .select-arrow-element {
    justify-content: flex-start;
  }

  #select-lining {
    top: 2.59rem;
    left: -2px;
  }
}

@media (max-width: 320px) {
  .catalog-filter-select-thing {
    width: 100%;
  }

  .catalog-select-block-items .select-items-drop:nth-child(3) {
    margin-left: 0.5rem;
    margin-top: 0rem;
  }

  .goods-cards {
    justify-content: center;
  }

  .filter-type-thing-name {
    font-size: 16px;
  }

  .catalog-select-block-items .select-items-drop:nth-child(6) {
    margin-top: 0.7rem;
    order: 6;
    margin-left: 0.2rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(5) {
    margin-left: 0.2rem;
    order: 5;
    margin-top: 0.7rem;
  }

  .card-item {
    width: 100%;
  }

  .catalog-select-block-items .select-items-drop:nth-child(4) {
    margin-left: 0rem;
    order: 7;
    margin-top: 0.75rem;
  }

  .catalog-select-block-items .select-items-drop:nth-child(7) {
    margin-left: 0rem;
    margin-top: 0.7rem;
  }

  #select-price .select-arrow-element {
    justify-content: center;
  }

  #select-price {
    top: 2.59rem;
    left: -100px;
  }

  #select-season .select-arrow-element {
    justify-content: flex-end;
  }

  #select-season {
    top: 2.59rem;
    left: -170px;
  }

  #select-size .select-arrow-element {
    justify-content: flex-start;
  }

  #select-size {
    left: -2px;
    top: 2.59rem;
  }

  #select-material .select-arrow-element {
    justify-content: center;
  }

  #select-material {
    top: 2.59rem;
    left: -63px;
  }

  #select-color .select-arrow-element {
    justify-content: flex-end;
  }

  #select-color {
    top: 2.59rem;
    left: -170px;
  }
}

