#delivery {
  min-height: 100%;
}

.delivery {
  width: 100%;
}

.delivery-title {
  margin-top: 6rem;
}

.delivery-subtitle {
  margin-top: 2.0625rem;
  margin-bottom: 2.0625rem;
}

.title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ED3237;
}

.subtitle {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
  margin-right: 0.5rem;
}

.column {
  width: 18rem;
  height: 31.6875rem;
  background: #F1F3F4;
  border-radius: 9px;
}

.column-average {
  width: 17rem;
  height: 31.6875rem;
  background: #F1F3F4;
  border-radius: 9px;
}

.column-courier {
  width: 17rem;
  height: 31.6875rem;
  background: #FFFFFF;
  border-radius: 9px;
  border: 2px solid #E1E6E9;
  box-sizing: border-box;
  border-radius: 9px;
}

.line-top-bot {
  border-top: 1px solid #D1D9DE;
  border-bottom: 1px solid #D1D9DE;
}

.coll-1-first {
  width: 9.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #D1D9DE;
}

.coll-2-second {
  width: 9.6875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-mages-first {
  margin-top: 1.5rem;
}

.item-title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.16px;
  color: #000000;
  width: 8rem;
}

.item-title-first {
  width: 8rem;
  margin-top: 1.2rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.16px;
  color: #000000;
}

.pay {
  margin-top: 1rem;
  margin-bottom: 0.875rem;
}

.visa-pay {
  padding-left: 1rem;
}

.pay-pal {
  padding-left: 0.5rem;
}

.deliv-pd {
  margin-top: 0.375rem;
  margin-bottom: 1.5rem;
}

.item-title-order {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.16px;
  color: #000000;
  padding-left: 1rem;
  margin-top: 1.0625rem;
  margin-bottom: 0.375rem;
}

.item-text-order {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.16px;
  color: #000000;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.item-text-bold {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
  letter-spacing: 0.16px;
  color: #000000;
}

.item-text-pay {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.16px;
  color: #000000;
  padding-left: 1rem;
}

.item-text-first {
  width: 7rem;
  margin-top: 1rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.16px;
  color: #000000;
  padding-bottom: 1rem;
}

.item-title-second {
  width: 5rem;
  margin-top: 1rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.16px;
  color: #000000;
}

.item-text-second {
  width: 5rem;
  margin-top: 1rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.16px;
  color: #000000;
  padding-bottom: 1rem;
}

.item-text {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.16px;
  color: #000000;
}

.item-title-red {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.16px;
  color: #ED3237;
  margin-top: 1.0625rem;
  margin-bottom: 0.625rem;
}

.item-mages-earth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.item-title-courier {
  margin-top: 1.75rem;
  margin-bottom: 5.125rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.16px;
  color: #000000;
}

.item-title-courier span {
  padding-left: 0.5rem;
}

.item-text-courier {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.16px;
  color: #000000;
  padding-left: 1.1rem;
}

.pd-left {
  padding-left: 1.1rem;
}

.marg-bot {
  margin-bottom: 1.5rem;
}

.item-title-courier-world {
  margin-top: 1.75rem;
  margin-bottom: 1.4375rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.16px;
  color: #000000;
}

.item-text-center {
  margin-top: 2rem;
  margin-bottom: 2.8125rem;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.16px;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8rem;
  line-height: 18px;
}

.red-price {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #ED3237;
}

.item-telephone {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.16px;
  color: #ED3237;
  margin-top: 1.875rem;
  justify-content: center;
  margin-bottom: 1.875rem;
}

.number {
  padding-left: 1rem;
}

@media (max-width: 414px) {
  .title {
    padding: 0rem 1rem;
  }

  .delivery-subtitle {
    padding-left: 2rem;
  }

  .delivery-title {
    padding-left: 2rem;
  }
}

