.slider {
  min-height: 100vh;
}

.slid-pictures {
  width: 100%;
  position: relative;
}

.pos-abs-slider {
  position: absolute;
  top: 0rem;
  left: 7rem;
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
  display: inline-block;
  border-radius: 100%;
  background-color: #FFFFFF;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 4.25rem;
  height: 0.75rem;
  opacity: 1;
  border-radius: 25px;
  background-color: #FF5054;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 1.1rem;
}

.discount {
  width: 10.875rem;
  height: 4.375rem;
  background: #ff5054;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 86.19%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  justify-content: center;
  margin-top: 12.5rem;
  margin-bottom: 2.125rem;
}

.promo-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 91px;
  line-height: 78px;
  display: flex;
  align-items: center;
  width: 20.3125rem;
  margin-bottom: 2.125rem;
}

.buy-button {
  background: #ff5054;
  border-radius: 42px;
  height: 2.5rem;
  width: 10.875rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.buy-button a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 86.19%;
  color: #ffffff;
}

.promo-price {
  position: absolute;
  top: 17rem;
  left: 27rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 86.19%;
  color: #ffffff;
}

.types {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7.9375rem;
}

.woman {
  width: 34rem;
  height: 14.625rem;
  background: url(/img/pictures/men.png);
  position: relative;
  border-radius: 10px 10px 10px 10px;
}

.woman:hover {
  filter: drop-shadow(3px 13px 40px rgba(18, 36, 63, 0.36));
}

.men:hover {
  filter: drop-shadow(3px 13px 40px rgba(18, 36, 63, 0.36));
}

.woman-title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 54px;
  display: flex;
  align-items: center;
  color: #ffffff;
  position: absolute;
  top: 4.75rem;
  left: 3.625rem;
}

.woman-arrow {
  position: absolute;
  top: 7rem;
  left: 3.6rem;
}

.men {
  width: 34rem;
  height: 14.625rem;
  background: url(/img/pictures/men.png);
  position: relative;
  border-radius: 10px 10px 10px 10px;
}

.men-title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 54px;
  display: flex;
  align-items: center;
  color: #ffffff;
  position: absolute;
  top: 4.75rem;
  left: 3.625rem;
}

.men-arrow {
  position: absolute;
  top: 7rem;
  left: 3.6rem;
}

.goods-title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}

.summer-goods {
  margin-top: 5rem;
}

.goods-title {
  margin-bottom: 1.5625rem;
}

.goods-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.body-card-item {
  width: 12.6875rem;
  height: 14.375rem;
  padding: 0rem 1rem;
  border-radius: 9px;
}

.body-card-item:hover {
  box-shadow: 10px 19px 42px rgba(130, 130, 130, 0.25);
}

.heard-basket {
  margin-top: 1.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.things-img {
  margin-top: 0.4375rem;
  margin-bottom: 0.4375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 82px;
}

.things-img img {
  height: 100%;
}

.name-color {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.384375rem;
}

.name-things {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  color: #363636;
}

.things-color {
  display: flex;
  width: 0.9375rem;
  justify-content: space-between;
}

.first-color {
  width: 6px;
  height: 6px;
  background: #c59494;
  border-radius: 50%;
}

.two-color {
  background: #ff6b6b;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.type-things {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  color: #9a9a9a;
}

.things-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.115625rem;
  margin-bottom: 1.6875rem;
}

.price-without-discount {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
  position: relative;
}

.price-without-discount::before {
  content: "";
  position: absolute;
  width: 82%;
  border-bottom: 1px solid #ed3237;
  top: 0.5rem;
}

.price-without-discount span {
  color: #b6b6b6;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.price-discout {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ed3237;
}

.price-discout span {
  color: #ff9496;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.goods-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.75rem;
}

.view-more {
  width: 12.5rem;
  height: 3rem;
  border: 1px solid #949494;
  box-sizing: border-box;
  border-radius: 9px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #363636;
  background: linear-gradient(0deg, #ffffff, #ffffff), linear-gradient(180deg, rgba(255, 255, 255, 0.38) -2.67%, rgba(255, 255, 255, 0) 17.11%);
}

.articles {
  background: url(/img/pictures/beach-woman.png) -7.3rem 0/cover no-repeat;
}

.column-articles {
  display: flex;
  flex-direction: column;
  width: 28.3125rem;
  margin-top: 4rem;
}

.border-line-bottom {
  border-bottom: 1px solid #f3f3f3;
}

.column-name {
  display: flex;
  justify-content: space-between;
  width: 28.3125rem;
  margin-bottom: 1.25rem;
}

.all-article {
  position: relative;
  right: 3rem;
}

.all-article span {
  position: absolute;
  top: -0.3rem;
  left: 5.4rem;
}

.card-articles {
  width: 28.3125rem;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 7px 15px 35px rgba(0, 0, 0, 0.16);
  background: #ffffff;
  margin-bottom: 4.5625rem;
}

.articles-item {
  height: 7.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articles-item:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.79), rgba(255, 255, 255, 0.79)), url(/img/icon/article-bg.png), #ffffff;
  cursor: pointer;
}

.article-item-card-title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 107.84%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #ed3237;
  margin-bottom: 0.3rem;
}

.article-item-card-subtitle {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 107.84%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #363636;
}

.article-item-card-subtitle p {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 107.84%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #363636;
  margin-top: 0.2rem;
}

@media (max-width: 1024px) {
  .woman {
    width: 28rem;
  }

  .men {
    width: 28rem;
  }

  .pos-abs-slider {
    position: absolute;
    top: 0rem;
    left: 1rem;
  }

  .promo-price {
    left: 33rem;
  }

  .articles {
    background: url(/img/pictures/beach-woman.png) -28.7rem 0/cover no-repeat;
  }
}

@media (max-width: 768px) {
  .woman {
    width: 20rem;
  }

  .men {
    width: 20rem;
  }

  .articles {
    background: url(/img/pictures/beach-woman.png) -7.7rem 0/cover no-repeat;
  }
}

@media (max-width: 414px) {
  .types {
    flex-direction: column;
  }

  .men {
    margin-top: 1rem;
  }

  .card-item {
    width: 11.6875rem;
  }

  .column-name {
    width: 24rem;
  }

  .card-articles {
    width: 24rem;
  }

  .promo-price {
    display: none;
  }

  .column-articles {
    width: 20rem;
  }

  .body-card-item {
    width: 10.6875rem;
    height: auto;
  }

  .body-card-item {
    padding: 0rem 0.5rem;
  }
}

@media (max-width: 414px) and (max-width: 411px) {
  .column-name {
    width: 23.5rem;
  }

  .card-articles {
    width: 23.5rem;
  }
}

@media (max-width: 414px) and (max-width: 375px) {
  .column-name {
    width: 21.5rem;
  }

  .card-articles {
    width: 21.5rem;
  }

  .card-item {
    width: 10.6875rem;
  }

  .things-img img {
    width: 9.6875rem;
  }
}

@media (max-width: 414px) and (max-width: 360px) {
  .column-name {
    width: 20.5rem;
  }

  .card-articles {
    width: 20.5rem;
  }

  .card-item {
    width: 9.6875rem;
  }

  .body-card-item {
    width: 10.2rem;
    height: auto;
  }
}

@media (max-width: 414px) and (max-width: 320px) {
  .card-articles {
    width: 18rem;
  }

  .column-name {
    width: 18rem;
  }

  .column-articles {
    width: 19rem;
  }

  .article-item-card-subtitle p {
    width: 15rem;
  }

  .men {
    width: 19rem;
  }

  .woman {
    width: 19rem;
  }

  .card-item {
    width: 8.6875rem;
  }

  .things-img img {
    width: 8.6875rem;
  }

  .price-without-discount {
    font-size: 13px;
  }

  .price-discout {
    font-size: 13px;
  }

  .promo-text {
    font-size: 76px;
  }

  .body-card-item {
    width: 9rem;
    padding: 0rem 0.5rem;
  }
}

