#paper {
  min-height: 100%;
}

.paper-main-picture {
  margin-top: 8rem;
}

.paper-main-picture img {
  width: 71.2rem;
}

.paper-main-name {
  display: flex;
  justify-content: space-between;
  margin-top: 1.875rem;
}

.paper-title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 131.77%;
  color: #0A0A0A;
  width: 38.25rem;
}

.paper-statistic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paper-subtitle {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 131.77%;
  color: #0A0A0A;
  margin-top: 1.625rem;
}

.paper-text p:nth-child(1) {
  width: 100%;
  margin-top: 2.25rem;
}

.paper-text p:nth-child(2) {
  width: 100%;
  margin-top: 1.5rem;
}

.paper-text p:nth-child(3) {
  width: 100%;
  margin-top: 2.5rem;
}

.text-style-paper {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 145.27%;
  color: #1A1A1A;
}

.paper-center-picture {
  margin-top: 2.5rem;
}

.paper-center-picture p {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145.27%;
  color: #484848;
}

.paper-article-name-title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 107.84%;
  color: #363636;
  margin-top: 5rem;
}

.paper-card {
  margin-bottom: 8.6875rem;
}

.main-container {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1330px) {
  .paper-main-picture img {
    width: 69.2rem;
  }
}

@media (max-width: 1199px) {
  .paper-main-picture img {
    width: 60rem;
  }

  .main-container {
    max-width: 850px;
    margin: 0 auto;
  }

  .paper-center-picture img {
    width: 53.1rem;
  }

  .paper-text p:nth-child(1) {
    width: 47.5rem;
  }
}

@media (max-width: 1024px) {
  .paper-main-picture img {
    width: 54rem;
  }

  .main-container {
    max-width: 770px;
    margin: 0px 3rem;
  }

  .paper-center-picture img {
    width: 48.1rem;
  }
}

@media (max-width: 768px) {
  .paper-main-picture img {
    width: 45rem;
  }

  .paper-text p:nth-child(1) {
    width: 36.5rem;
  }

  .paper-center-picture img {
    width: 39rem;
  }
}

@media (max-width: 414px) {
  .paper-main-picture img {
    width: 25.8rem;
  }

  .main-container {
    max-width: 100%;
    margin: 0px 1rem;
  }

  .paper-main-name {
    flex-direction: column;
  }

  .paper-title {
    width: 24.25rem;
  }

  .paper-statistic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .paper-text p:nth-child(1) {
    width: 23.7rem;
  }

  .paper-center-picture img {
    width: 23.7rem;
  }

  .paper-article-name-title {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 411px) {
  .paper-main-picture img {
    width: 25.7rem;
  }
}

@media (max-width: 375px) {
  .paper-text p:nth-child(1) {
    width: 19.7rem;
  }

  .paper-center-picture img {
    width: 21.4rem;
  }

  .paper-main-picture img {
    width: 23.3rem;
  }

  .paper-title {
    width: 22.25rem;
  }
}

@media (max-width: 360px) {
  .paper-center-picture img {
    width: 20.5rem;
  }

  .paper-main-picture img {
    width: 22.5rem;
  }

  .paper-title {
    width: 21.25rem;
  }
}

@media (max-width: 320px) {
  .paper-main-picture img {
    width: 20rem;
  }

  .paper-title {
    width: 19.25rem;
  }

  .paper-text p:nth-child(1) {
    width: 15.7rem;
  }

  .paper-center-picture img {
    width: 17.9rem;
  }
}

