.footer-line {
    background: #101010;
    width: 100%;
    height: 2.9375rem;
    position: relative;
}

.footer-line::before {
    content: "";
    position: absolute;
    background: url(/img/social/phone.png) 0 0/ 14px 14px no-repeat;
    width: 0.875rem;
    height: 0.875rem;
    bottom: 3.9rem;
    right: 21.8rem;
    z-index: 100;

}

.footer-line::after {
    content: "+7 (700) 750 02 01";
    position: absolute;
    width: 17.1875rem;
    height: 2.9375rem;
    background: #101010;
    bottom: 2.9rem;
    right: 6.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    z-index: 98;

}

.footer-social {
    position: absolute;
    bottom: 6rem;
    right: 0rem;
	 background: linear-gradient(180deg, rgba(255, 255, 255, 0.64) 0%, rgba(255, 255, 255, 0) 100%);
	 z-index: 1;
}

.wrapper-icon-social:hover {
	width: 71px;
	height: 71px;
	background: #FFFFFF;
	border: 1px solid #F2F2F2;
	box-sizing: border-box;
	box-shadow: 12px 14px 21px rgba(0, 0, 0, 0.12);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
}
.wrapper-icon-social svg {
	fill: #696969;
}

.wrapper-icon-social:hover svg {
	fill: #272727;
}



.instagram-item {
    width: 6.3rem;
    height: 6.3rem;
}

.twitter-item {
    width: 6.3rem;
    height: 6.3rem;
}

.message-item {
    width: 6.3rem;
    height: 6.3rem;
}

@media(max-width: 1024px) {
	.footer-line::before {
		right: 20.8rem;
  } 	
}

@media(max-width: 768px) {
    .footer-social {
        display: none;
    }

    .footer-line::after {
        right: 0rem;
	 }

	 .footer-line::before {
		right: 14.8rem;
  } 	
}
