// Header
.header-link {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #545454;
}

.header-link:hover{
	color: #545454;
}
.bar {
    display: flex;
    justify-content: space-between;
}

.navigation {
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	margin-top: 1.7rem;
	z-index: 1200;
	height: 60px;
	transition: all 1s ease 0.2s;
}

.navigation-color {
	margin-top: 0rem;
    background-color: white;
    transition: all 1s ease 0.2s;
}


// menu-desctop
.menu {
    position: absolute;
    top: 0rem;
    right: 0rem;
}

.item-menu {
	// z-index: 1201;
    position: relative;
}

.account-item {
    width: 6.3rem;
    height: 6.3rem;
    background: #ffffff;
    position: relative;
    z-index: 1210;
}

.basket-item {
    width: 6.3rem;
    height: 6.3rem;
    background: linear-gradient(219.09deg, #d80000 -7.23%, rgba(237, 50, 55, 0) 90.24%), #ed3237;
    flex-direction: column;
    position: relative;
    z-index: 1000;
}

.basket-item p:nth-child(2) {
    position: absolute;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: center;
    top: 4.8rem;
    color: #ffffff;
}

.basket-item p:nth-child(3) {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    top: 1.1rem;
    right: 1.2rem;
    background: #ed3237;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
}

.search-item {
    width: 6.3rem;
    height: 6.3rem;
    background: linear-gradient(225deg, #ed3237 -72.58%, #ff6569 76.61%), #ff5054;
    position: relative;
    z-index: 1200;
}

.favorite-item {
    width: 6.3rem;
    height: 6.3rem;
    background: #f2f2f2;
    position: relative;
    z-index: 1000;
}

.df-pos-center {
    display: flex;
    justify-content: center;
	 align-items: center;
	 cursor: pointer;
}

.footer-menu{
	display: none;
}


.fixedpage{
	overflow: hidden;
}

// menu-bar-login

.modal-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1200;
}

.modal-login {}

// .modal-regist {
//     display: none;
// }

// .modal-search {
//     display: none;
// }

.menu-bar-login {
    position: absolute;
    top: 0rem;
    right: 6.3rem;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 27.25rem;
    height: 22.9rem;
}

.bar-modal {
    padding: 0rem 1.4rem;
}

.join-exit {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.join-title {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #545454;
}

.exit-cross {}

.input-data {}

.create-new-account {
    display: flex;
    flex-direction: column;
}

.create-new-account input {
    height: 60px;
    background: #ffffff;
    border: 1px solid #7d7d7d;
    box-sizing: border-box;
    border-radius: 9px;
    margin-bottom: 1rem;
    padding: 1rem 0rem 0rem 1.2rem;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #363636;

}

.login-or-parol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.login-or-parol button {
    background: #ed3237;
    border-radius: 9px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    border: none;
    height: 3rem;
    width: 11.875rem;
}

.forgot-your-password {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545454;
}

.forgot-your-password:hover {
    color: #545454;
}

.big-screen{
	padding: 0!important;
}

.create-link {
    text-align: center;
    margin-top: 1.5rem;
}

.create-link a {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545454;
    border-bottom: 2px solid #545454;
}

.form-tel {
    position: absolute;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #aeaeae;
    top: 5.9rem;
    left: 2.5rem;
}

.form-pass {
    position: absolute;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #aeaeae;
    top: 10.6rem;
    left: 2.5rem;
}

// modal-bar-reg
.menu-bar-reg {
    position: absolute;
    top: 0rem;
    right: 6.3rem;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 27.25rem;
    height: 40.4rem;
}

.form-name {
    position: absolute;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #aeaeae;
    top: 5.9rem;
    left: 2.5rem;
}

.form-tel-reg {
    position: absolute;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #aeaeae;
    top: 15.4rem;
    left: 2.5rem;
}

.form-email {
    position: absolute;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #aeaeae;
    top: 10.6rem;
    left: 2.5rem;
}

.form-mounth {
    position: absolute;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #aeaeae;
    top: 20.1rem;
    left: 12.7rem;
}

.select-mounth-reg-form{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	// z-index: 10;
}

.select-mounth-reg-form::-ms-expand {
	display: none;
}

.form-mounth::before{
	content: '';
	position: absolute;
	width: 16px;
	height: 11px;
	top: 25px;
   right: -59px;
	background: url(/img/icon/arrow.png);
	// z-index: 8;
	
}


.date {
    display: flex;
    justify-content: space-between;
}

.form-day {
    position: absolute;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #aeaeae;
    top: 20.1rem;
    left: 2.5rem;
}

.day-birth {
    width: 9.1875rem;
}

.form-year {
    position: absolute;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #aeaeae;
    top: 20.1rem;
    left: 22rem;
}

.year {
    width: 5rem;
}

select {
    width: 8.9375rem;
    height: 60px;
    background: #ffffff;
    border: 1px solid #7d7d7d;
    box-sizing: border-box;
    border-radius: 9px;
    margin-bottom: 1rem;
    padding: 1rem 0rem 0rem 1.4rem;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #363636;

}

select.inpSelect {
    background: url(/img/icon/arrow.png);
}

.form-pass-reg {
    position: absolute;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #aeaeae;
    top: 24.9rem;
    left: 2.5rem;
}

// .form-pass-reg::after {
//     content: "";
//     position: absolute;
//     top: 1rem;
//     right: -17.5rem;
//     background: url(/img/icon/eyes.png);
//     width: 24px;
//     height: 24px;
// }

.eyes-pass {
    position: absolute;
    top: 26rem;
    right: 3rem;
}

.eyes-pass-rep {
    position: absolute;
    top: 30.7rem;
    right: 3rem;
}

.form-pass-reg-rep {
    position: absolute;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #aeaeae;
    top: 29.6rem;
    left: 2.5rem;
}

// .form-pass-reg-rep::after {
//     content: "";
//     position: absolute;
//     top: 1rem;
//     right: -13rem;
//     background: url(/img/icon/eyes.png);
//     width: 24px;
//     height: 24px;
// }

.login-or-parol-reg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-or-parol-reg button {
    background: #ed3237;
    border-radius: 9px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    border: none;
    height: 3rem;
    width: 100%;
}

.create-link {}

.menu-bar-search {
    position: absolute;
    top: 12.6rem;
    right: 6.3rem;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 27.25rem;
    height: 6.3rem;
    width: 40rem;
}

.menu-bar-search-find{
	position: absolute;
    top: 19rem;
    right: 6.3rem;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 27.25rem;
   //  min-height: 100%;
    width: 40rem;
}

.bar-search-item {
	display: flex;
	flex-direction: column;
	padding: 24px 0px 24px 0px;
}

.bar-search-item a{
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #545454;
	padding-left: 2rem;
	padding-bottom: 24px;
}

// .bar-search-item a:nth-child(1){
// 	padding-top: 24px;
// }
// .bar-search-item a:nth-last-child()


.search-new-things {
    display: flex;
    flex-direction: column;
}

.search-new-things input {
    height: 6.3rem;
    background: #ffffff;
    box-sizing: border-box;
    padding: 0rem 0rem 0rem 1.2rem;
    border: none;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #545454;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.pd-0 {}

.pdrig {
	 padding-top: 0rem!important;
 }

.mrgt-2rem {
    margin-top: 0rem;
}

.bodyfixed{
	overflow: hidden;
}

@media(min-width: 1027px) {
	.navigation{
		padding-left: 7rem;
	}
}

@media (max-width: 1350px) {
    .columns {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10rem;
        flex-wrap: wrap;
        width: 96%;
    }

    .column {
        margin-right: 1rem;
    }

    .column-average {
        margin-right: 1rem;
    }

    .column-courier {
        margin-top: 2rem;
    }
}

@media (max-width: 1200px) {
    .pd-0 {
        padding: 0rem;
    }

    .pdrig {
        padding-right: 8rem;
	 }
	 
// 	 .navigation {
// 		padding-left: 1rem;
//   }
}

@media (max-width: 1100px) {

    .pdrig {
        padding-right: 5rem;
    }
}

@media (max-width: 1024px) {
    .columns {
        flex-wrap: wrap;
        padding-right: 5rem;
	 }
	 
	 .navigation {
		padding-left: 2rem;
  }

    .mrgt-2rem {
        margin-top: 2rem;
    }

    .pdrig {
		  padding-right: 1.9rem;
    }

}

@media (max-width: 992px) {
    .nav-bar {
        display: none;
    }
}

@media(min-width: 769px) {
	.burger-menu{
		display: none;
	}
	.burger-list{
		display: none;
	}
}

@media (max-width: 768px) {

    .column {
        margin-bottom: 2rem;
	 }
	 
	 .big-screen{
		margin-top: 1rem;
	 }

    .column-average {
        margin-right: 0rem;
        margin-top: -2rem;
    }

    .menu {
        display: none;
    }

    .columns {
        width: 100%;
        padding-right: 0rem;
    }

    .mrgt-2rem {
        margin-top: 0rem;
        margin-left: 0.8rem;
    }

    .column-courier {
        margin-left: 1rem;
        margin-top: 0rem;

	 }
	 
	 .navigation {
		padding-left: 1rem;
		margin-top: 0rem;
		align-items: normal;
  }

	.pdrig {
		padding-right: 3.2rem;
		display: flex;
		justify-content: flex-end;
	}

  .burger-menu{
	display: block;
	position: relative;
	width: 30px;
	height: 20px;
	top: 1.3rem;
	right: 0;
	z-index: 565;
}

.burger-menu:before{
	content: "";
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.burger-menu:after{
	content: "";
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.burger-menu span {
	position: absolute;
    background-color: #000000;
    width: 30px;
	 height: 2px;
	 left: 0px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.burger-menu.active:before{
	transform: rotate(45deg);
	top: 9px;
}

.burger-menu.active:after{
	transform: rotate(-45deg);
	bottom: 9px;
}

.burger-menu.active span {
	transform: scale(0);
}

.burger-list{
	position: absolute;
	top: 0;
	right: -35rem;
	background-color: #FFFFFF;
	width: 100%;
	z-index: 564;
	min-height: 100vh;
	transition: all 0.3s ease 0.3s;
}

.burger-list.active{
	right: 0rem;
	transition: all 0.3s ease 0s;
}

.burger-item{
	 display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 7rem;
}
.burger-item li{
	margin-bottom: 2.5rem;
}

.header-link{
	font-size: 23px!important;
}

.burger-item-social{
	display: flex;
    justify-content: center;
    align-items: center;
}

// menu-mobile 

.footer-menu {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #E43133;
	z-index: 1199;
	height: 50px;
	display: flex;
	padding: 0rem 2rem 0rem 2rem;
	justify-content: center;
}
.footer-item-menu {
	display: flex;
	align-items: center;
	height: 100%;
	width: 50%;
	justify-content: space-between;
}
.item-home {
	width: 44px;
	height: 44px;
	border: 1px solid #FC5A5C;
	box-sizing: border-box;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-home svg{
	fill:white;
}


.item-catalog {
	width: 44px;
	height: 44px;
	border: 1px solid #FC5A5C;
	box-sizing: border-box;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-catalog svg{
	fill:white;
}

.item-basket {
	width: 44px;
	height: 44px;
	border: 1px solid #FC5A5C;
	box-sizing: border-box;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.count-number{
	position: absolute;
	width: 15px;
	height: 15px;
	background: #FC5A5C;
	border-radius: 50%;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -1px;
	right: -2px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
}

.item-basket svg{
	fill:white;
}

.item-profile {
	width: 44px;
	height: 44px;
	border: 1px solid #FC5A5C;
	box-sizing: border-box;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-profile svg{
	fill:white;
}

.footer-active{
	background: #FFFFFF;
	fill:#E62225;
}

.footer-active svg{
	fill:#E62225;
}

// 


.menu-bar-login {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}

	.menu-bar-reg{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	}

	.menu-bar-search{
	 top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
	}

	.menu-bar-search-find{
	 top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
	}
}


@media(max-width: 414px) {
    .navigation {
        padding: 0rem 2rem 0rem 1rem;
    }

    .column {
        margin-right: 0rem;
        margin-bottom: 1rem;
    }

    .column-average {
        margin-right: 0rem;
        margin-top: 0rem;
    }

    .column-courier {
        margin-left: 0rem;
        margin-top: 1rem;
    }

    .mrgt-2rem {
        margin-top: 1rem;
        margin-left: 0rem;
	 }
	 
	 .pdrig{
		 padding: 0!important;
	 }

	 .burger-list.active{
		right: -2rem;
	 }

	 .burger-list{
		width: auto;
	 }

	 .header-link{
		font-size: 21px!important;
	}
	.burger-item-social{
		margin-bottom: 0.8rem;
	}
	.burger-item li{
		margin-bottom: 2rem;
	}

	.footer-item-menu {
		width: 100%;
  }

  .menu-bar-login {
	width: 100%;
	}

  .menu-bar-reg {
		width: 100%;
	}

	.bar-modal {
		padding: 0rem 1rem;
  }

  .form-mounth{
	left: 12rem;
  }

  .form-year{
	left: 21rem;
  }

  .menu-bar-reg{
	height: 100%;
	overflow-y: scroll;
  }

  .menu-bar-search-find{
	top: 48.5%;
  }

  .search-new-things input{
	height: 5.3rem;
  }

  .menu-bar-search{
	height: 5.3rem;
	border-radius: 10px 10px 0px 0px;
  }

  .menu-bar-search-find{
	width: 100%;
	border-radius: 0px 0px 10px 10px;
	top: 21.9%;
   left: 50%;
   transform: translate(-50%, -1%);
  }

  .menu-bar-search{
	width: 100%;
  }
}

@media(max-width: 375px){
	.day-birth {
		width: 8rem;
  }

  select {
	width: 8rem;
  }

  .year {
	width: 4rem;
	}

	.create-new-account input {
		padding: 1rem 0rem 0rem 0.5rem;
  }

  .form-name {
	left: 1.5rem;
	}

.form-email {
	left: 1.5rem;
	}

.form-tel-reg {
	left: 1.5rem;
	}

	.form-day {
		left: 1.5rem;
  }

  .form-mounth {
	left: 10.2rem;
}

select{
	padding: 1rem 0rem 0rem 0.5rem;
}

.form-year {
	left: 19rem;
}

.form-pass-reg {
	left: 1.5rem;
}

.form-pass-reg-rep {
	left: 1.5rem;
}

.menu-bar-search-find {
	top: 22.7%;
}


}

@media(max-width: 360px) {
	.login-or-parol button{
		width: 10rem;
	}

	.form-mounth {
		left: 9.8rem;
  }

  .form-year {
	left: 18rem;
}

.menu-bar-reg{
	height: 100%;
    overflow-y: scroll;
}

.create-link{
	margin-bottom: 0.8rem;
}

.menu-bar-search-find{
	top: 22.9%;
}

}


@media (max-width: 320px) {
	.login-or-parol button {
		width: 8rem;
  }
  .bar-modal{
	padding: 0rem 0.5rem;
  }
  .menu-bar-reg{
	height: 100%;
	overflow: scroll;
  }

  .form-name {
	left: 1rem;
}

.form-email {
	left: 1rem;
}

.form-tel-reg {
	left: 1rem;
}

.form-day {
	left: 1rem;
}

.form-mounth {
	left: 8.9rem;
}

.form-mounth::before {
	right: -45px;
}

select {
	width: 7rem;
}

.form-year {
	left: 16rem;
}

.eyes-pass {
	right: 2rem;
}

.eyes-pass-rep {
	right: 2rem;
}

.day-birth {
	width: 7.5rem;
}

.menu-bar-search-find{
	top: 23.9%;
}

}
