$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$limegreen: rgb(8, 111, 53);
$vividorange: rgb(245, 130, 31);
$verydarkblue: rgb(30, 35, 41);
$verylightgray: rgb(220, 220, 220);
$mostlylightgray: rgb(249, 249, 249);
$darkgrayishblue: rgb(122, 129, 137);
$mostlydarkblue: rgb(40, 44, 46);
